Repository open-edge-platform/edge-manage-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @pchand20, @jouillet

Create comparison.rst
  docs/developer_guide/platform/arch/comparison.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3

fix lint error
  docs/deployment_guide/cloud_deployment/cloud_how_to/index.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @pchand20

Update index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/index.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @pchand20

Update comparison.rst
  docs/developer_guide/platform/arch/comparison.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3

Update index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/index.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @pchand20

Update comparison.rst
  docs/developer_guide/platform/arch/comparison.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3

fix lint error
  docs/deployment_guide/cloud_deployment/cloud_how_to/cloud_argocd.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @pchand20

fix lint error
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_argocd.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @pchand20

Update comparison.rst
  docs/developer_guide/platform/arch/comparison.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3

Update comparison.rst
  docs/developer_guide/platform/arch/comparison.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3

Update comparison.rst
  docs/developer_guide/platform/arch/comparison.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3

Update comparison.rst
  docs/developer_guide/platform/arch/comparison.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3

Update comparison.rst
  docs/developer_guide/platform/arch/comparison.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3

Update comparison.rst
  docs/developer_guide/platform/arch/comparison.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3

Update comparison.rst
  docs/developer_guide/platform/arch/comparison.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3

Update system_requirements_on_prem_orch.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/system_requirements_on_prem_orch.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @pchand20

Fix bandit sarif file issue (#183)
  .github/workflows/post-merge.yml
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @jouillet

Adjust branch_pattern filter (#179)
  .github/workflows/post-merge.yml
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @jouillet

[cloud-env]argo installer guide (#171)
  docs/deployment_guide/cloud_deployment/cloud_how_to/cloud_argocd.rst
  docs/deployment_guide/cloud_deployment/cloud_how_to/index.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @pchand20

onprem-added argocd installer and flow guide (#163)
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_argocd.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @pchand20

Use `dev` instead of `main` when publishing
  .github/workflows/post-merge.yml
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @jouillet

Use `dev` instead of `main` when publishing (#187)
  .github/workflows/post-merge.yml
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @jouillet

Update system_requirements_on_prem_orch.rst (#186)
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/system_requirements_on_prem_orch.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @pchand20

updating the cotainer img references to bitnamilegacy (#184)
  docs/release_notes/3.1/containers_helm_charts_3.1.rst
  docs/release_notes/3.1/third_party_components_3.1.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @pchand20

Update comparison.rst
  docs/developer_guide/platform/arch/comparison.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3

Update comparison.rst
  docs/developer_guide/platform/arch/comparison.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3

fix errors in interconnect documentation
  docs/user_guide/package_software/interconnect.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @pchand20

fix errors in interconnect documentation (#188)
  docs/user_guide/package_software/interconnect.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @pchand20

updating dependency list in releaseNotes
  docs/release_notes/3.1/containers_helm_charts_3.1.rst
  docs/release_notes/3.1/third_party_components_3.1.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @pchand20

initial commit
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @pchand20

Update on_prem_install.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @pchand20

Update comparison.rst
  docs/developer_guide/platform/arch/comparison.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3

Update index.rst
  docs/developer_guide/platform/arch/index.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3

Update comparison.rst
  docs/developer_guide/platform/arch/comparison.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3

changes for ARGOCD
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @pchand20

Update comparison.rst
  docs/developer_guide/platform/arch/comparison.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3

coder vs onprem vs cloud(aws) (#185)
  docs/developer_guide/platform/arch/comparison.rst
  docs/developer_guide/platform/arch/index.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3

user guide steps to configure the LVM partition size.
  docs/user_guide/advanced_functionality/configure_edgenode_lvm_parition.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @pchand20

Add subsections
  docs/user_guide/advanced_functionality/configure_edgenode_lvm_parition.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @pchand20

Update configure_edgenode_lvm_parition.rst
  docs/user_guide/advanced_functionality/configure_edgenode_lvm_parition.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @pchand20

.github/CODEOWNERS:

# CODEOWNERS for edge-manage-docs

# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# docs for CODEOWNERS
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# default owners - covers lint/config/build tooling in repo root
* @achamuah @soniabha-intc @scottmbaker @hyunsun @krishnajs @Ram-srini @rranjan3

# documentation content
docs/ @achamuah @soniabha-intc @scottmbaker @hyunsun @krishnajs @Ram-srini @rranjan3 @pchand20
docs/developer_guide @achamuah @soniabha-intc @scottmbaker @hyunsun @krishnajs @Ram-srini @rranjan3
README.md @achamuah @soniabha-intc @scottmbaker @hyunsun @krishnajs @Ram-srini @rranjan3

# CI files
.github/ @achamuah @soniabha-intc @scottmbaker @hyunsun @krishnajs @Ram-srini @rranjan3 @jouillet

# shared doc config
docconf/ @achamuah @soniabha-intc @scottmbaker @hyunsun @krishnajs @Ram-srini @rranjan3 @jouillet
