Repository open-edge-platform/edge-manage-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @pchand20, @jouillet

Update index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/index.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @pchand20

Rename onprem_ao_co_o11y_composability.rst to onprem_ao_co_o11y.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/onprem_ao_co_o11y.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @pchand20

Update onprem_ao_co_o11y.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/onprem_ao_co_o11y.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @pchand20

Update onprem_ao_co_o11y.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/onprem_ao_co_o11y.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @pchand20

Update onprem_ao_co_o11y.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/onprem_ao_co_o11y.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @pchand20

Update onprem_ao_co_o11y.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/onprem_ao_co_o11y.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @pchand20

Update onprem_ao_co_o11y.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/onprem_ao_co_o11y.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @pchand20

Update onprem_ao_co_o11y.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/onprem_ao_co_o11y.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @pchand20

Update versioning.rst
  docs/developer_guide/contributor_guide/versioning.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3

fix lint error
  docs/release_notes/3.1/rel_notes_3.1.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @pchand20

added workaround Aurora PostgreSQL 14.9 Missing (#207)
  docs/release_notes/3.1/rel_notes_3.1.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @pchand20

Orch-CLI Tenancy + Updates
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @pchand20

Content
  docs/shared/shared_gs_iam.rst
  docs/shared/shared_ht_iam_mt_cli.rst
  docs/shared/shared_mt_overview.rst
  docs/user_guide/administration/index.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/edge_node_registration.rst
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @pchand20

linter + fixes
  docs/shared/shared_ht_iam_mt_cli.rst
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @pchand20

Linter
  docs/shared/shared_ht_iam_mt_cli.rst
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @pchand20

Orch-CLI Tenancy + Updates (#209)
  docs/shared/shared_gs_iam.rst
  docs/shared/shared_ht_iam_mt_cli.rst
  docs/shared/shared_mt_overview.rst
  docs/user_guide/administration/index.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/edge_node_registration.rst
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @pchand20

Update on_prem_openport.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_openport.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @pchand20

Update on_prem_openport.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_openport.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @pchand20

updated tabular format
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_openport.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @pchand20

fix lint error
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/onprem_ao_co_o11y.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @pchand20

Add AO/CO/Observability Composability (#208)
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/onprem_ao_co_o11y.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @pchand20

Bump open-edge-platform/orch-ci from 0.1.52 to 0.1.56
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge.yml
  .github/workflows/publish-docs.yml
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @jouillet

Fix linter issue for post-merge
  .github/workflows/post-merge.yml
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @jouillet

Fix some more linter issues
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge.yml
  .github/workflows/publish-docs.yml
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @jouillet

Linter issues fix
  .yamllint.yml
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3

Fixed more linter issues
  .yamllint.yml
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3

Fix linter issues
  .github/workflows/post-merge.yml
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @jouillet

Fixed linter issues
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge.yml
  .github/workflows/publish-docs.yml
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @jouillet

Updated some workflows
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge.yml
  .github/workflows/publish-docs.yml
  .yamllint.yml
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @jouillet

Bump open-edge-platform/orch-ci from 0.1.52 to 0.1.56 (#210)
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge.yml
  .github/workflows/publish-docs.yml
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @jouillet

One click update
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @pchand20

Update versioning.rst
  docs/developer_guide/contributor_guide/versioning.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3

linter
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @pchand20

CLI One click update (#212)
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Owners: @achamuah, @soniabha-intc, @scottmbaker, @hyunsun, @krishnajs, @Ram-srini, @rranjan3, @pchand20

.github/CODEOWNERS:

# CODEOWNERS for edge-manage-docs

# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# docs for CODEOWNERS
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# default owners - covers lint/config/build tooling in repo root
* @achamuah @soniabha-intc @scottmbaker @hyunsun @krishnajs @Ram-srini @rranjan3

# documentation content
docs/ @achamuah @soniabha-intc @scottmbaker @hyunsun @krishnajs @Ram-srini @rranjan3 @pchand20
docs/developer_guide @achamuah @soniabha-intc @scottmbaker @hyunsun @krishnajs @Ram-srini @rranjan3
README.md @achamuah @soniabha-intc @scottmbaker @hyunsun @krishnajs @Ram-srini @rranjan3

# CI files
.github/ @achamuah @soniabha-intc @scottmbaker @hyunsun @krishnajs @Ram-srini @rranjan3 @jouillet

# shared doc config
docconf/ @achamuah @soniabha-intc @scottmbaker @hyunsun @krishnajs @Ram-srini @rranjan3 @jouillet
