Repository open-edge-platform/edge-manage-docs, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, root, base docs, api, deployment guide, developer guide, release notes, requirements, user guide

Update 2026.0.0 release KPI
  docs/release_notes/2026.0/kpi_2026.0.rst
Labels: release notes

Update rel_notes_2026.0.rst
  docs/release_notes/2026.0/rel_notes_2026.0.rst
Labels: release notes

Fix data-flow diagram error
  docs/modular_workflows/vpro-amt-ism/data_flow.rst
Labels: none

Small update
  docs/release_notes/2026.0/kpi_2026.0.rst
Labels: release notes

Small update for pre-merge to match the release branch name
  .github/workflows/pre-merge.yml
Labels: CI

Another small update
  .github/workflows/pre-merge.yml
Labels: CI

Update 2026.0.0 release KPI (#436)
  .github/workflows/pre-merge.yml
  docs/release_notes/2026.0/kpi_2026.0.rst
  docs/release_notes/2026.0/rel_notes_2026.0.rst
Labels: CI, release notes

Fix data-flow diagram error (#437)
  docs/modular_workflows/vpro-amt-ism/data_flow.rst
Labels: none

Update to release 2026.0.0 (#435)
  VERSION
Labels: root

Fix branches filtering, regex doesn't work at branches level
  .github/workflows/pre-merge.yml
Labels: CI

Fix branches filtering, regex doesn't work at branches level (#443)
  .github/workflows/pre-merge.yml
Labels: CI

Add root LICENSE symlink to LICENSES/Apache-2.0.txt for GitHub detection
  LICENSE
  LICENSES/Apache-2.0.txt
Labels: root

Update index.rst
  docs/deployment_guide/index.rst
Labels: deployment guide

Delete docs/developer_guide/platform/arch/cloud_orchestrator.rst
  docs/developer_guide/platform/arch/cloud_orchestrator.rst
Labels: developer guide

Delete docs/developer_guide/platform/arch/comparison.rst
  docs/developer_guide/platform/arch/comparison.rst
Labels: developer guide

Update index.rst
  docs/developer_guide/platform/arch/index.rst
Labels: developer guide

Delete docs/shared/shared_cloud_ts_sync_root_app.rst
  docs/shared/shared_cloud_ts_sync_root_app.rst
Labels: deployment guide

update
  docs/shared/shared_cloud_ts_sync_root_app.rst
Labels: deployment guide

update
  docs/deployment_guide/on_prem_deployment/on_prem_troubleshooting/index.rst
  docs/shared/shared_ts_cloud.rst
Labels: deployment guide

fix zizmor findings
  .github/dependabot.yml
  .github/workflows/pre-merge.yml
Labels: CI

fix zizmor findings
  .github/workflows/pre-merge.yml
Labels: CI

update
  docs/deployment_guide/index.rst
  docs/developer_guide/observability/arch/concepts/scalability.rst
  docs/developer_guide/observability/tutorials/development/email-notifications.rst
  docs/developer_guide/platform/arch/argocd.rst
Labels: deployment guide, developer guide

update
  docs/index.rst
  docs/shared/shared_gs_preinstall.rst
Labels: base docs, deployment guide

Fix invalid CODEOWNERS
  .github/CODEOWNERS
Labels: CI

Fix invalid CODEOWNERS (#452)
  .github/CODEOWNERS
Labels: CI

Update post-merge.yml
  .github/workflows/post-merge.yml
Labels: CI

Update post-merge.yml
  .github/workflows/post-merge.yml
Labels: CI

Update post-merge.yml
  .github/workflows/post-merge.yml
Labels: CI

Added just small correction
  .github/workflows/post-merge.yml
Labels: CI

Update post-merge.yml (#453)
  .github/workflows/post-merge.yml
Labels: CI

Add root LICENSE symlink to LICENSES/Apache-2.0.txt for GitHub detection (#444)
  LICENSE
  LICENSES/Apache-2.0.txt
Labels: root

Update onboarded and provisioned statuses
  docs/developer_guide/infra_manager/arch/components/inventory/data_model.rst
Labels: developer guide

Update index
  docs/developer_guide/infra_manager/index.rst
Labels: developer guide

[DOCS] Restructure EIM docs to target modular decomposition
  docs/developer_guide/infra_manager/arch/background.rst
  docs/developer_guide/infra_manager/arch/components.rst
  docs/developer_guide/infra_manager/arch/components/inventory-exporter.rst
  docs/developer_guide/infra_manager/arch/components/inventory.rst
  docs/developer_guide/infra_manager/arch/components/inventory/data_model.rst
  docs/developer_guide/infra_manager/arch/components/onboarding-provisioning.rst
  docs/developer_guide/infra_manager/arch/components/resource-managers.rst
  docs/developer_guide/infra_manager/arch/components/rest-api.rst
  docs/developer_guide/infra_manager/arch/data_flow.rst
  docs/developer_guide/infra_manager/arch/data_model.rst
  docs/developer_guide/infra_manager/arch/day2_flow.rst
  docs/developer_guide/infra_manager/arch/deployment.rst
  docs/developer_guide/infra_manager/arch/extensibility.rst
  docs/developer_guide/infra_manager/arch/hl_architecture.rst
  docs/developer_guide/infra_manager/arch/images/os_resource_manager.svg
  docs/developer_guide/infra_manager/arch/index.rst
  docs/developer_guide/infra_manager/arch/multi_tenancy.rst
  docs/developer_guide/infra_manager/arch/overview.rst
  docs/developer_guide/infra_manager/arch/provisioning.rst
  docs/developer_guide/infra_manager/arch/scalability.rst
  docs/developer_guide/infra_manager/arch/security.rst
  docs/developer_guide/infra_manager/architecture.rst
  docs/developer_guide/infra_manager/index.rst
  docs/developer_guide/infra_manager/tutorials.rst
  docs/developer_guide/infra_manager/tutorials/new_resource/api.rst
  docs/developer_guide/infra_manager/tutorials/new_resource/inventory.rst
  docs/developer_guide/infra_manager/tutorials/upgrade/orch_upgrade.rst
  docs/developer_guide/observability/arch/edgenode/hosts.rst
Labels: developer guide

new CLI commands for user management
  docs/shared/shared_gs_iam.rst
  docs/shared/shared_ht_iam_mt_cli.rst
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: deployment guide, user guide

add realm role documentation
  docs/shared/shared_ht_iam_mt_cli.rst
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: deployment guide, user guide

add note on project management role for admin
  docs/shared/shared_ht_iam_mt_cli.rst
Labels: deployment guide

remove unwanted content
  docs/modular_workflows/vpro-amt-ism/modular-vpro-amt-ism-deployment.rst
Labels: none

remove unwanted content (#455)
  docs/modular_workflows/vpro-amt-ism/modular-vpro-amt-ism-deployment.rst
Labels: none

new CLI commands for user management (#454)
  docs/shared/shared_gs_iam.rst
  docs/shared/shared_ht_iam_mt_cli.rst
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: deployment guide, user guide

.github/labeler.yml:

---
# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# Config for https://github.com/actions/labeler

CI:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"
      - any-glob-to-any-file: "docconf/**"

base docs:
  - changed-files:
      - any-glob-to-any-file: "docs/*"
      - any-glob-to-any-file: "docs/_static/*"

api:
  - changed-files:
      - any-glob-to-any-file: "docs/api/**"

deployment guide:
  - changed-files:
      - any-glob-to-any-file: "docs/deployment_guide/**"
      - any-glob-to-any-file: "docs/shared/**"

developer guide:
  - changed-files:
      - any-glob-to-any-file: "docs/developer_guide/**"

release notes:
  - changed-files:
      - any-glob-to-any-file: "docs/release_notes/**"

requirements:
  - changed-files:
      - any-glob-to-any-file: "docs/system_requirements/**"

user guide:
  - changed-files:
      - any-glob-to-any-file: "docs/user_guide/**"
