Repository open-edge-platform/edge-manage-docs, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, root, base docs, api, deployment guide, developer guide, release notes, requirements, user guide

.github/labeler.yml:

---
# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# Config for https://github.com/actions/labeler

CI:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"
      - any-glob-to-any-file: "docconf/**"

base docs:
  - changed-files:
      - any-glob-to-any-file: "docs/*"
      - any-glob-to-any-file: "docs/_static/*"

api:
  - changed-files:
      - any-glob-to-any-file: "docs/api/**"

deployment guide:
  - changed-files:
      - any-glob-to-any-file: "docs/deployment_guide/**"
      - any-glob-to-any-file: "docs/shared/**"

developer guide:
  - changed-files:
      - any-glob-to-any-file: "docs/developer_guide/**"

release notes:
  - changed-files:
      - any-glob-to-any-file: "docs/release_notes/**"

requirements:
  - changed-files:
      - any-glob-to-any-file: "docs/system_requirements/**"

user guide:
  - changed-files:
      - any-glob-to-any-file: "docs/user_guide/**"

Updated the text
  docs/developer_guide/set_up_dev_env/index.rst
Labels: developer guide

Update path
  docs/developer_guide/set_up_dev_env/index.rst
Labels: developer guide

Add note about the deploy_tag in the onprem documentation (#15)
  docs/developer_guide/set_up_dev_env/index.rst
Labels: developer guide

Update index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/index.rst
Labels: deployment guide

fix: broken network topology link, update on-prem page title to be consistent with cloud
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

chore: clean up toc
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/index.rst
Labels: deployment guide

edits to agents and app orch (#13)
  docs/developer_guide/agents/arch/cluster.rst
  docs/developer_guide/agents/arch/edge_node.rst
  docs/developer_guide/agents/arch/hardware_discovery.rst
  docs/developer_guide/agents/arch/hl_architecture.rst
  docs/developer_guide/agents/arch/index.rst
  docs/developer_guide/agents/arch/platform_observability.rst
  docs/developer_guide/agents/arch/platform_telemetry.rst
  docs/developer_guide/agents/arch/platform_update.rst
  docs/developer_guide/agents/index.rst
  docs/developer_guide/agents/tutorials/developing/developing.rst
  docs/developer_guide/agents/tutorials/developing/index.rst
  docs/developer_guide/agents/tutorials/index.rst
  docs/developer_guide/app_orch/arch/data_flow.rst
  docs/developer_guide/app_orch/arch/data_model.rst
  docs/developer_guide/app_orch/arch/deployment.rst
  docs/developer_guide/app_orch/arch/extensibility.rst
  docs/developer_guide/app_orch/arch/index.rst
  docs/developer_guide/app_orch/arch/key_components.rst
  docs/developer_guide/app_orch/arch/security.rst
  docs/developer_guide/app_orch/arch/technology_stack.rst
  docs/developer_guide/app_orch/index.rst
  docs/developer_guide/app_orch/tutorials/accessing-applications/index.rst
  docs/developer_guide/app_orch/tutorials/deploying-applications/deploying.rst
  docs/developer_guide/app_orch/tutorials/deploying-applications/edit-image-location.rst
  docs/developer_guide/app_orch/tutorials/deploying-applications/import-dp.rst
  docs/developer_guide/app_orch/tutorials/deploying-applications/index.rst
  docs/developer_guide/app_orch/tutorials/deploying-applications/pushing_charts_and_images.rst
  docs/developer_guide/app_orch/tutorials/deployment-helm/deployment-helm-tutorial-server.rst
  docs/developer_guide/app_orch/tutorials/deployment-helm/deployment-helm-tutorial-web-ui.rst
  docs/developer_guide/app_orch/tutorials/deployment-helm/index.rst
  docs/developer_guide/app_orch/tutorials/deployment-helm/routing-api-through-nginx.rst
  docs/developer_guide/app_orch/tutorials/deployment-packages/index.rst
  docs/developer_guide/app_orch/tutorials/developing-applications/developing-tutorial-server.rst
  docs/developer_guide/app_orch/tutorials/developing-applications/developing-tutorial-web-ui.rst
  docs/developer_guide/app_orch/tutorials/developing-applications/index.rst
  docs/developer_guide/app_orch/tutorials/index.rst
  docs/developer_guide/app_orch/tutorials/packaging-applications/index.rst
  docs/developer_guide/app_orch/tutorials/packaging-applications/packaging-tutorial-server.rst
  docs/developer_guide/app_orch/tutorials/packaging-applications/packaging-tutorial-web-ui.rst
  docs/developer_guide/index.rst
Labels: developer guide

Update index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/index.rst
Labels: deployment guide

Update index.rst (#16)
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

Update to latest orch-ci commit.
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge.yml
  .github/workflows/publish-docs.yml
Labels: CI

docs: cleanup removed profile mentions
  docs/deployment_guide/cloud_deployment/cloud_advanced/cloud_cluster_tmplt.rst
  docs/deployment_guide/cloud_deployment/cloud_advanced/cloud_sre.rst
Labels: deployment guide

docs: cleanup removed profile mentions (#18)
  docs/deployment_guide/cloud_deployment/cloud_advanced/cloud_cluster_tmplt.rst
  docs/deployment_guide/cloud_deployment/cloud_advanced/cloud_sre.rst
Labels: deployment guide

Fix minor on-prem installation documentation issues
  docs/deployment_guide/on_prem_deployment/index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_certs.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
  docs/shared/shared_gs_iam.rst
  docs/shared/shared_mt_overview.rst
Labels: deployment guide

Update on_prem_install.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

Update on_prem_install.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

Update to latest orch-ci commit. (#17)
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge.yml
  .github/workflows/publish-docs.yml
Labels: CI

Test version dropdown menu support.
  .github/workflows/publish-docs.yml
Labels: CI

Minor updates to docs in the cloud_advanced directory
  docs/deployment_guide/cloud_deployment/cloud_advanced/cloud_alerts.rst
  docs/deployment_guide/cloud_deployment/cloud_advanced/cloud_cluster_tmplt.rst
  docs/deployment_guide/cloud_deployment/cloud_advanced/cloud_manual_bp.rst
  docs/deployment_guide/cloud_deployment/cloud_advanced/cloud_manual_modules.rst
  docs/deployment_guide/cloud_deployment/cloud_advanced/cloud_manual_terraconfig.rst
  docs/deployment_guide/cloud_deployment/cloud_advanced/cloud_pull_through_cache.rst
  docs/deployment_guide/cloud_deployment/cloud_advanced/cloud_resource_settings.rst
  docs/deployment_guide/cloud_deployment/cloud_advanced/cloud_sre.rst
Labels: deployment guide

up
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

address review
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

Test version dropdown menu support. (#20)
  .github/workflows/publish-docs.yml
Labels: CI

Fix broken link to sriov
  docs/user_guide/package_software/deploy_packages.rst
  docs/user_guide/package_software/extensions/sriov_package.rst
Labels: user guide

Fix broken link to sriov (#22)
  docs/user_guide/package_software/deploy_packages.rst
  docs/user_guide/package_software/extensions/sriov_package.rst
Labels: user guide

Update cloud_manual_terraconfig.rst
  docs/deployment_guide/cloud_deployment/cloud_advanced/cloud_manual_terraconfig.rst
Labels: deployment guide

Update cloud_resource_settings.rst
  docs/deployment_guide/cloud_deployment/cloud_advanced/cloud_resource_settings.rst
Labels: deployment guide

Update cloud_sre.rst
  docs/deployment_guide/cloud_deployment/cloud_advanced/cloud_sre.rst
Labels: deployment guide

Update on_prem_install.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

Update on_prem_install.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

Update on_prem_install.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

Update on_prem_install.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

Update on_prem_install.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

Update cloud_manual_terraconfig.rst
  docs/deployment_guide/cloud_deployment/cloud_advanced/cloud_manual_terraconfig.rst
Labels: deployment guide

Minor updates to docs in the cloud_advanced directory (#21)
  docs/deployment_guide/cloud_deployment/cloud_advanced/cloud_alerts.rst
  docs/deployment_guide/cloud_deployment/cloud_advanced/cloud_cluster_tmplt.rst
  docs/deployment_guide/cloud_deployment/cloud_advanced/cloud_manual_bp.rst
  docs/deployment_guide/cloud_deployment/cloud_advanced/cloud_manual_modules.rst
  docs/deployment_guide/cloud_deployment/cloud_advanced/cloud_manual_terraconfig.rst
  docs/deployment_guide/cloud_deployment/cloud_advanced/cloud_pull_through_cache.rst
  docs/deployment_guide/cloud_deployment/cloud_advanced/cloud_resource_settings.rst
  docs/deployment_guide/cloud_deployment/cloud_advanced/cloud_sre.rst
Labels: deployment guide

Update to latest commit.
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge.yml
  .github/workflows/publish-docs.yml
Labels: CI

Fix minor on-prem installation documentation issues (#19)
  docs/deployment_guide/on_prem_deployment/index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_certs.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
  docs/shared/shared_gs_iam.rst
  docs/shared/shared_mt_overview.rst
Labels: deployment guide

Update to latest commit. (#23)
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge.yml
  .github/workflows/publish-docs.yml
Labels: CI

Minor updates to docs in the on_prem_get_started and the on_prem_how_to directories
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_certs.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/system_requirements_on_prem_orch.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_alerts.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_certificates.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_sre.rst
Labels: deployment guide

Minor updates to docs in the cloud_get_started directory
  docs/deployment_guide/cloud_deployment/cloud_appendix/cloud_cluster_autoscaling.rst
  docs/deployment_guide/cloud_deployment/cloud_appendix/cloud_cluster_definition.rst
  docs/deployment_guide/cloud_deployment/cloud_get_started/cloud_orchestrator_install.rst
  docs/deployment_guide/cloud_deployment/cloud_get_started/cloud_start_installer.rst
  docs/deployment_guide/cloud_deployment/cloud_get_started/system_requirements_aws_orch.rst
Labels: deployment guide

Minor updates to docs in the cloud_how_to directory
  docs/deployment_guide/cloud_deployment/cloud_how_to/cloud_cc_cred_refresh.rst
  docs/deployment_guide/cloud_deployment/cloud_how_to/cloud_certificates.rst
  docs/deployment_guide/cloud_deployment/cloud_how_to/cloud_scale_orch.rst
  docs/deployment_guide/cloud_deployment/cloud_how_to/cloud_uninstall.rst
Labels: deployment guide

Update cloud_alerts.rst
  docs/deployment_guide/cloud_deployment/cloud_advanced/cloud_alerts.rst
Labels: deployment guide
