Repository open-edge-platform/edge-manage-docs, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, root, base docs, api, deployment guide, developer guide, release notes, requirements, user guide

Fix
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

Fix
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

Fixed based on comments
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
  docs/developer_guide/infra_manager/arch/day2_flow.rst
Labels: deployment guide, developer guide

Fix
  docs/developer_guide/infra_manager/arch/day2_flow.rst
Labels: developer guide

Update OXM profile and PXE provisioning docs for clarity
  docs/deployment_guide/on_prem_deployment/on_prem_deployment_profiles/on_prem_oxm_profile.rst
  docs/user_guide/advanced_functionality/oxm_pxe_provisioning.rst
Labels: deployment guide, user guide

Update OXM profile and PXE provisioning docs for clarity (#104)
  docs/deployment_guide/on_prem_deployment/on_prem_deployment_profiles/on_prem_oxm_profile.rst
  docs/user_guide/advanced_functionality/oxm_pxe_provisioning.rst
Labels: deployment guide, user guide

Update cluster operations
  docs/user_guide/advanced_functionality/set_default_cluster_template.rst
  docs/user_guide/advanced_functionality/set_up_a_cluster_template.rst
  docs/user_guide/set_up_edge_infra/clusters/create_clusters.rst
  docs/user_guide/set_up_edge_infra/clusters/delete_clusters.rst
  docs/user_guide/set_up_edge_infra/clusters/edit_clusters.rst
  docs/user_guide/set_up_edge_infra/clusters/index.rst
Labels: user guide

Fix lint
  docs/deployment_guide/on_prem_deployment/on_prem_deployment_profiles/on_prem_oxm_profile.rst
  docs/user_guide/advanced_functionality/oxm_pxe_provisioning.rst
  docs/user_guide/set_up_edge_infra/clusters/delete_clusters.rst
Labels: deployment guide, user guide

Update OXM deployment profile documentation
  docs/deployment_guide/on_prem_deployment/on_prem_deployment_profiles/on_prem_oxm_profile.rst
Labels: deployment guide

Minor correction
  docs/deployment_guide/cloud_deployment/cloud_how_to/cloud_upgrade.rst
Labels: deployment guide

Update OXM deployment profile documentation (#106)
  docs/deployment_guide/on_prem_deployment/on_prem_deployment_profiles/on_prem_oxm_profile.rst
Labels: deployment guide

Update docs/user_guide/set_up_edge_infra/edge_node_onboard/edge_node_registration.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/edge_node_registration.rst
Labels: user guide

Minor correction (#107)
  docs/deployment_guide/cloud_deployment/cloud_how_to/cloud_upgrade.rst
Labels: deployment guide

Revamp documentation structure and navigation
  docconf/docconf/__init__.py
  docconf/docconf/__pycache__/__init__.cpython-313.pyc
  docconf/docconf/__pycache__/docconf.cpython-313.pyc
  docs/_static/custom_sitemap.css
  docs/_static/custom_sitemap.js
  docs/api/index.rst
  docs/conf.py
  docs/deployment_guide/index.rst
  docs/developer_guide/index.rst
  docs/index.rst
  docs/release_notes/index.rst
  docs/sitemap.rst
  docs/system_requirements/index.rst
  docs/user_guide/advanced_functionality/index.rst
  docs/user_guide/concepts/index.rst
  docs/user_guide/get_started_guide/index.rst
  docs/user_guide/how_it_works/index.rst
  docs/user_guide/index.rst
  docs/user_guide/intel_solutions/index.rst
  docs/user_guide/monitor_deployments/index.rst
  docs/user_guide/package_software/index.rst
  docs/user_guide/set_up_edge_infra/index.rst
  docs/user_guide/troubleshooting/index.rst
Labels: root, base docs, api, deployment guide, developer guide, release notes, requirements, user guide

ompre-upgrade:updated apply patch if app sync issue
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
Labels: deployment guide

ompre-upgrade:updated apply patch if app sync issue (#109)
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
Labels: deployment guide

merge main into the branch
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
Labels: deployment guide

lint fix
  docs/deployment_guide/on_prem_deployment/on_prem_deployment_profiles/on_prem_oxm_profile.rst
  docs/user_guide/advanced_functionality/oxm_pxe_provisioning.rst
Labels: deployment guide, user guide

more lint fix
  docs/deployment_guide/on_prem_deployment/on_prem_deployment_profiles/on_prem_oxm_profile.rst
  docs/user_guide/advanced_functionality/oxm_pxe_provisioning.rst
Labels: deployment guide, user guide

Updates for 3.1 Release notes
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

Update vPro/AMT release notes for 3.1
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

Add known limitation related to host deauthorization
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

adding review comments changes
  docs/user_guide/troubleshooting/images/Attestation_status_unknown.png
  docs/user_guide/troubleshooting/images/SHA256_sample_BIOS_Settings.png
  docs/user_guide/troubleshooting/images/tc-vm-debug.png
  docs/user_guide/troubleshooting/images/tc-wl-crd-installation.png
  docs/user_guide/troubleshooting/images/tc-wl-runtime-class-installation.png
  docs/user_guide/troubleshooting/index.rst
  docs/user_guide/troubleshooting/trusted_compute_issues.rst
Labels: user guide

Update deauth limitation description
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

Update 3.1 release notes with new features and enhancements
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

Update 3.1 release notes with upgrade instructions
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

Remove outdated note on Intel CPU thread count reporting
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

Remove redundant and outdated upgrade and host notes
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

fixing review comments for heading and EMF UI
  docs/user_guide/troubleshooting/trusted_compute_issues.rst
Labels: user guide

fixing review comments changing orchestrator to EMF
  docs/user_guide/troubleshooting/trusted_compute_issues.rst
Labels: user guide

Addition of AI Apps in the Edge Orchestrator Documentation
  docs/user_guide/intel_solutions/index.rst
Labels: user guide

adding index for all the sysmptoms on top of doc
  docs/user_guide/troubleshooting/trusted_compute_issues.rst
Labels: user guide

Update EMF 3.1 release notes with new features and fixes
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

updated document for existing CVE tracking implementation done in EMF 3.1 release
  docs/user_guide/advanced_functionality/images/os_profile_drawer.png
  docs/user_guide/advanced_functionality/images/os_profile_drawer_cves.png
  docs/user_guide/advanced_functionality/images/os_profile_drawer_installed_packages.png
  docs/user_guide/advanced_functionality/view_os_profiles.rst
  docs/user_guide/set_up_edge_infra/edge_node_states/provisioned_host_details.rst
Labels: user guide

Fix lint issues in on_prem_oxm_profile.rst
  docs/deployment_guide/on_prem_deployment/on_prem_deployment_profiles/on_prem_oxm_profile.rst
  docs/user_guide/advanced_functionality/oxm_pxe_provisioning.rst
Labels: deployment guide, user guide

OS Resource manager fetches new profiles after Orchestrator upgrade (#97)
  docs/deployment_guide/on_prem_deployment/on_prem_deployment_profiles/on_prem_oxm_profile.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
  docs/developer_guide/infra_manager/arch/day2_flow.rst
  docs/user_guide/advanced_functionality/host_update_immutable_os.rst
  docs/user_guide/advanced_functionality/oxm_pxe_provisioning.rst
Labels: deployment guide, developer guide, user guide

Update helm chart doc
  docs/release_notes/3.1/containers_helm_charts_3.1.rst
Labels: release notes

Fix build issues
  docs/release_notes/3.1/containers_helm_charts_3.1.rst
Labels: release notes

orch-cli docs
  docs/user_guide/set_up_edge_infra/edge_node_onboard/edge_node_registration.rst
Labels: user guide

doc: remove references to base extensions
  docs/developer_guide/app_orch/arch/data_flow.rst
  docs/developer_guide/app_orch/arch/data_model.rst
  docs/developer_guide/application_developer_workflow/deployment-helm/index.rst
  docs/developer_guide/observability/arch/edgenode/clusters.rst
  docs/user_guide/advanced_functionality/set_up_a_cluster_template.rst
Labels: developer guide, user guide

.github/labeler.yml:

---
# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# Config for https://github.com/actions/labeler

CI:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"
      - any-glob-to-any-file: "docconf/**"

base docs:
  - changed-files:
      - any-glob-to-any-file: "docs/*"
      - any-glob-to-any-file: "docs/_static/*"

api:
  - changed-files:
      - any-glob-to-any-file: "docs/api/**"

deployment guide:
  - changed-files:
      - any-glob-to-any-file: "docs/deployment_guide/**"
      - any-glob-to-any-file: "docs/shared/**"

developer guide:
  - changed-files:
      - any-glob-to-any-file: "docs/developer_guide/**"

release notes:
  - changed-files:
      - any-glob-to-any-file: "docs/release_notes/**"

requirements:
  - changed-files:
      - any-glob-to-any-file: "docs/system_requirements/**"

user guide:
  - changed-files:
      - any-glob-to-any-file: "docs/user_guide/**"
