Repository open-edge-platform/edge-manage-docs, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, root, base docs, api, deployment guide, developer guide, release notes, requirements, user guide

.github/labeler.yml:

---
# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# Config for https://github.com/actions/labeler

CI:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"
      - any-glob-to-any-file: "docconf/**"

base docs:
  - changed-files:
      - any-glob-to-any-file: "docs/*"
      - any-glob-to-any-file: "docs/_static/*"

api:
  - changed-files:
      - any-glob-to-any-file: "docs/api/**"

deployment guide:
  - changed-files:
      - any-glob-to-any-file: "docs/deployment_guide/**"
      - any-glob-to-any-file: "docs/shared/**"

developer guide:
  - changed-files:
      - any-glob-to-any-file: "docs/developer_guide/**"

release notes:
  - changed-files:
      - any-glob-to-any-file: "docs/release_notes/**"

requirements:
  - changed-files:
      - any-glob-to-any-file: "docs/system_requirements/**"

user guide:
  - changed-files:
      - any-glob-to-any-file: "docs/user_guide/**"

include index.rst
  docs/user_guide/advanced_functionality/index.rst
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
Labels: user guide

Fix link for dv configuration in OXM profile
  docs/user_guide/advanced_functionality/oxm_pxe_provisioning.rst
Labels: user guide

Update known issues for repeated power reset/cycle using vPro.
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

Update on_prem_upgrade.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
Labels: deployment guide

Update on_prem_upgrade.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
Labels: deployment guide

Add specifics about dGPU support
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

Update on_prem_upgrade.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
Labels: deployment guide

Update system requirements with new GPU and hardware
  docs/system_requirements/index.rst
Labels: requirements

Move GPU requirements to validated hardware section
  docs/system_requirements/index.rst
Labels: requirements

Update docs/system_requirements/index.rst
  docs/system_requirements/index.rst
Labels: requirements

Fix typo in ASUS model number in system requirements
  docs/system_requirements/index.rst
Labels: requirements

Sys req update (#122)
  docs/system_requirements/index.rst
Labels: requirements

Fix link for dv configuration in OXM profile (#121)
  docs/user_guide/advanced_functionality/oxm_pxe_provisioning.rst
Labels: user guide

Update on_prem_upgrade.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
Labels: deployment guide

Edits in known issues
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

fix filter path (#119)
  docs/user_guide/set_up_edge_infra/edge_node_onboard/prerequisites/acquire_emt_repo.rst
Labels: user guide

Virtual edge node content moved to the respective directories (#38)
  docs/deployment_guide/index.rst
  docs/deployment_guide/virtual_edge_node_deployment/baremetal_deployment.rst
  docs/deployment_guide/virtual_edge_node_deployment/cloud_deployment.rst
  docs/deployment_guide/virtual_edge_node_deployment/deployment.rst
  docs/deployment_guide/virtual_edge_node_deployment/images/kvm_not_supported.png
  docs/developer_guide/virtual_edge_node/index.rst
  docs/user_guide/index.rst
  docs/user_guide/virtual_edge_node/index.rst
  docs/user_guide/virtual_edge_node/tutorials/example1_io_flow.rst
  docs/user_guide/virtual_edge_node/tutorials/example2_nio_default_serial_nums.rst
  docs/user_guide/virtual_edge_node/tutorials/example3_nio_custom_serial_nums.rst
  docs/user_guide/virtual_edge_node/tutorials/example4_auto_provision_false.rst
  docs/user_guide/virtual_edge_node/tutorials/images/Microvisor_os_resource.png
  docs/user_guide/virtual_edge_node/tutorials/images/Microvisor_provider.png
  docs/user_guide/virtual_edge_node/tutorials/images/Ubuntu_os.png
  docs/user_guide/virtual_edge_node/tutorials/images/Ubuntu_os_provider.png
  docs/user_guide/virtual_edge_node/tutorials/images/autoProvision_false.png
  docs/user_guide/virtual_edge_node/tutorials/images/autoProvision_true.png
  docs/user_guide/virtual_edge_node/tutorials/images/host-status.png
  docs/user_guide/virtual_edge_node/tutorials/index.rst
  docs/user_guide/virtual_edge_node/usage/deploy_virtual_edge_node.rst
  docs/user_guide/virtual_edge_node/usage/getting_started.rst
  docs/user_guide/virtual_edge_node/usage/how_it_works_content.rst
  docs/user_guide/virtual_edge_node/usage/images/Microvisor_Provision.png
  docs/user_guide/virtual_edge_node/usage/images/Security_feature.png
  docs/user_guide/virtual_edge_node/usage/images/UbuntuOS_Provision.png
  docs/user_guide/virtual_edge_node/usage/images/provider_config.png
  docs/user_guide/virtual_edge_node/usage/index.rst
  docs/user_guide/virtual_edge_node/usage/manage_virtual_edge_node.rst
  docs/user_guide/virtual_edge_node/usage/setup_virtual_edge_node.rst
Labels: deployment guide, developer guide, user guide

Add warning about disruptive upgrade for CO
  docs/user_guide/set_up_edge_infra/clusters/create_clusters.rst
Labels: user guide

Update on_prem_upgrade.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
Labels: deployment guide

Updated Trusted Compute 3.1 featues
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

updated onprem upgrade guide (#118)
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
Labels: deployment guide

Updated Trusted Compute 3.1 featues
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

Updated Trusted Compute 3.1 featues (#125)
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

Update doc link for IBVS
  docs/user_guide/intel_solutions/index.rst
Labels: user guide

Addition of AI Apps in the Edge Orchestrator Documentation (#112)
  docs/user_guide/intel_solutions/index.rst
Labels: user guide

add UI ss
  docs/user_guide/advanced_functionality/images/vpro_power_mgmt_start.png
  docs/user_guide/advanced_functionality/images/vpro_power_mgt.png
  docs/user_guide/advanced_functionality/images/vpro_power_mgt_restart.png
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
Labels: user guide

add UI ss
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
Labels: user guide

add UI ss
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
Labels: user guide

add UI ss
  docs/user_guide/advanced_functionality/images/vpro_power_mgt_start.png
Labels: user guide

Update 3.1 release notes for clarity and accuracy
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

Update docs for the Host Provisioning Flow (#98)
  docs/user_guide/set_up_edge_infra/edge_node_onboard/edge_node_registration.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/onboarding_actions/provision_host.rst
  docs/user_guide/set_up_edge_infra/images/host_provision_cluster_template_selection.png
  docs/user_guide/set_up_edge_infra/images/provision_host_advanced_options.png
  docs/user_guide/set_up_edge_infra/images/provision_host_edit_host.png
  docs/user_guide/set_up_edge_infra/images/provision_host_edit_host_drawer.png
  docs/user_guide/set_up_edge_infra/images/provision_host_flow.png
  docs/user_guide/set_up_edge_infra/images/provision_host_os_profile_selection.png
  docs/user_guide/set_up_edge_infra/images/provision_host_review_customize.png
  docs/user_guide/set_up_edge_infra/images/provision_host_site_selection.png
  docs/user_guide/set_up_edge_infra/images/register_host.png
  docs/user_guide/set_up_edge_infra/images/register_host_automatic.png
  docs/user_guide/set_up_edge_infra/images/register_host_automatic_cluster.png
  docs/user_guide/set_up_edge_infra/images/register_host_automatic_provision.png
Labels: user guide

3.1 KPI release notes
  docs/release_notes/3.1/kpi_3.1.rst
Labels: release notes

3.1 KPI release notes (#126)
  docs/release_notes/3.1/kpi_3.1.rst
Labels: release notes

Add warning about disruptive upgrade for CO (#123)
  docs/user_guide/set_up_edge_infra/clusters/create_clusters.rst
Labels: user guide

Updating few UI and MT limitations
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

Updates for 3.1 Release notes (#110)
  docs/release_notes/3.1/containers_helm_charts_3.1.rst
  docs/release_notes/3.1/rel_notes_3.1.rst
  docs/release_notes/3.1/third_party_components_3.1.rst
Labels: release notes

fix formatting errors
  docs/release_notes/3.0/rel_notes_3.0.rst
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

Adding vpro power mgt commands (#93)
  docs/user_guide/advanced_functionality/images/vpro_enable.png
  docs/user_guide/advanced_functionality/images/vpro_power_mgt_restart.png
  docs/user_guide/advanced_functionality/images/vpro_power_mgt_start.png
  docs/user_guide/advanced_functionality/index.rst
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
Labels: user guide

fix formatting errors (#127)
  docs/release_notes/3.0/rel_notes_3.0.rst
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

update DP flow
  docs/user_guide/package_software/add_deploy_pack.rst
  docs/user_guide/package_software/deploy_packages.rst
  docs/user_guide/package_software/extension_package.rst
  docs/user_guide/package_software/extensions/sriov_package.rst
  docs/user_guide/package_software/images/create_deploy.png
  docs/user_guide/package_software/images/delete_deploymentpack.png
  docs/user_guide/package_software/images/deployment_pack_extensions.png
  docs/user_guide/package_software/images/deployment_pack_home.png
Labels: user guide
