Repository open-edge-platform/edge-manage-docs, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, root, base docs, api, deployment guide, developer guide, release notes, requirements, user guide

Update modular-vpro-amt-ism-deployment.rst
  docs/modular_workflows/vpro-amt-ism/modular-vpro-amt-ism-deployment.rst
Labels: none

fix link
  docs/modular_workflows/vpro-amt-ism/modular-vpro-amt-ism-deployment.rst
Labels: none

fix link
  docs/modular_workflows/vpro-amt-ism/modular-vpro-amt-ism-deployment.rst
Labels: none

fix link
  docs/modular_workflows/vpro-amt-ism/modular-vpro-amt-ism-deployment.rst
Labels: none

Update modular-vpro-amt-ism-deployment.rst
  docs/modular_workflows/vpro-amt-ism/modular-vpro-amt-ism-deployment.rst
Labels: none

Update edge_infra_manager.rst
  docs/api/edge_infra_manager.rst
Labels: api

EIM Decomposition feature release notes
  docs/release_notes/2026.0/rel_notes_2026.0.rst
Labels: release notes

release notes update
  docs/release_notes/2026.0/rel_notes_2026.0.rst
Labels: release notes

Update to the features
  docs/release_notes/2026.0/rel_notes_2026.0.rst
Labels: release notes

Updated Vpro ACM mode documentation
  docs/modular_workflows/vpro-amt-ism/images/Vpro-BIOS-settings.png
  docs/modular_workflows/vpro-amt-ism/modular-vpro-amt-ism-deployment.rst
Labels: none

updated onprem-upgrade doc
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
Labels: deployment guide

Update on_prem_upgrade.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
Labels: deployment guide

Fix the lint issue
  docs/modular_workflows/vpro-amt-ism/modular-vpro-amt-ism-deployment.rst
Labels: none

Update rel_notes_2026.0.rst
  docs/release_notes/2026.0/rel_notes_2026.0.rst
Labels: release notes

Update rel_notes_2026.0.rst (#419)
  docs/release_notes/2026.0/rel_notes_2026.0.rst
Labels: release notes

fix lint error
  docs/modular_workflows/vpro-amt-ism/modular-vpro-amt-ism-deployment.rst
Labels: none

Updated the VBU apps versions
  docs/release_notes/2026.0/rel_notes_2026.0.rst
Labels: release notes

initial ciommit
  docs/release_notes/2026.0/third_party_components_2026.0.rst
Labels: release notes

Fix CVE with black package
  requirements.txt
Labels: root

Review comments in features
  docs/release_notes/2026.0/rel_notes_2026.0.rst
Labels: release notes

Update the ACM mode doc
  docs/user_guide/advanced_functionality/images/Vpro-BIOS-settings.png
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
Labels: user guide

Updated indentation of deactivation
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
Labels: user guide

Updated indentation for code-block
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
Labels: user guide

Updated deactivation changes
  docs/modular_workflows/vpro-amt-ism/modular-vpro-amt-ism-deployment.rst
Labels: none

Fix lint issue
  docs/modular_workflows/vpro-amt-ism/modular-vpro-amt-ism-deployment.rst
Labels: none

updated 3rd party and container helm chart
  docs/release_notes/2026.0/containers_helm_charts_2026.0.rst
  docs/release_notes/2026.0/third_party_components_2026.0.rst
Labels: release notes

lint issues
  docs/release_notes/2026.0/containers_helm_charts_2026.0.rst
  docs/release_notes/2026.0/third_party_components_2026.0.rst
Labels: release notes

Modualr emf doc (#397)
  docs/index.rst
  docs/modular_workflows/index.rst
  docs/modular_workflows/vpro-amt-ism/architecture.rst
  docs/modular_workflows/vpro-amt-ism/data_flow.rst
  docs/modular_workflows/vpro-amt-ism/images/modular-vpro-architecture.png
  docs/modular_workflows/vpro-amt-ism/index.rst
  docs/modular_workflows/vpro-amt-ism/modular-vpro-amt-ism-deployment.rst
Labels: base docs

Fix CVE with black package (#421)
  requirements.txt
Labels: root

added link to vpro profile
  docs/release_notes/2026.0/rel_notes_2026.0.rst
Labels: release notes

Updated review comments
  docs/release_notes/2026.0/kpi_2026.0.rst
  docs/release_notes/2026.0/rel_notes_2026.0.rst
Labels: release notes

Update the ACM mode doc (#422)
  docs/user_guide/advanced_functionality/images/Vpro-BIOS-settings.png
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
Labels: user guide

Updated Vpro ACM mode documentation (#417)
  docs/modular_workflows/vpro-amt-ism/images/Vpro-BIOS-settings.png
  docs/modular_workflows/vpro-amt-ism/modular-vpro-amt-ism-deployment.rst
Labels: none

Update on_prem_upgrade.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
Labels: deployment guide

Updated AO known issues
  docs/release_notes/2026.0/rel_notes_2026.0.rst
Labels: release notes

Update on_prem_upgrade.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
Labels: deployment guide

Update versioning.rst (#205)
  docs/developer_guide/contributor_guide/versioning.rst
Labels: developer guide

custom-config doc update (#405)
  docs/user_guide/advanced_functionality/custom_config.rst
Labels: user guide

Update cloud_upgrade.rst
  docs/deployment_guide/cloud_deployment/cloud_how_to/cloud_upgrade.rst
Labels: deployment guide

Update cloud_upgrade.rst
  docs/deployment_guide/cloud_deployment/cloud_how_to/cloud_upgrade.rst
Labels: deployment guide

.github/labeler.yml:

---
# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# Config for https://github.com/actions/labeler

CI:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"
      - any-glob-to-any-file: "docconf/**"

base docs:
  - changed-files:
      - any-glob-to-any-file: "docs/*"
      - any-glob-to-any-file: "docs/_static/*"

api:
  - changed-files:
      - any-glob-to-any-file: "docs/api/**"

deployment guide:
  - changed-files:
      - any-glob-to-any-file: "docs/deployment_guide/**"
      - any-glob-to-any-file: "docs/shared/**"

developer guide:
  - changed-files:
      - any-glob-to-any-file: "docs/developer_guide/**"

release notes:
  - changed-files:
      - any-glob-to-any-file: "docs/release_notes/**"

requirements:
  - changed-files:
      - any-glob-to-any-file: "docs/system_requirements/**"

user guide:
  - changed-files:
      - any-glob-to-any-file: "docs/user_guide/**"
