Repository open-edge-platform/edge-manage-docs, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, root, base docs, api, deployment guide, developer guide, release notes, requirements, user guide

Added actions: read in post-merge, needed by gitleaks job
  .github/workflows/post-merge.yml
Labels: CI

Add architecture and process flow documentation
  docs/modular_workflows/vpro-amt-ism/architecture.rst
  docs/modular_workflows/vpro-amt-ism/data_flow.rst
  docs/modular_workflows/vpro-amt-ism/index.rst
Labels: none

custom-config doc update
  docs/user_guide/advanced_functionality/custom_config.rst
Labels: user guide

Update orch-cli version in docs
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: user guide

updated vpro doc
  docs/modular_workflows/vpro-amt-ism/modular-vpro-amt-ism-deployment.rst
Labels: none

Revert "updated vpro doc"
  docs/modular_workflows/vpro-amt-ism/modular-vpro-amt-ism-deployment.rst
Labels: none

updated vpro doc
  docs/modular_workflows/vpro-amt-ism/modular-vpro-amt-ism-deployment.rst
Labels: none

Update modular-vpro-amt-ism-deployment.rst
  docs/modular_workflows/vpro-amt-ism/modular-vpro-amt-ism-deployment.rst
Labels: none

updated doc
  docs/modular_workflows/vpro-amt-ism/modular-vpro-amt-ism-deployment.rst
Labels: none

Update modular-vpro-amt-ism-deployment.rst
  docs/modular_workflows/vpro-amt-ism/modular-vpro-amt-ism-deployment.rst
Labels: none

Update modular-vpro-amt-ism-deployment.rst
  docs/modular_workflows/vpro-amt-ism/modular-vpro-amt-ism-deployment.rst
Labels: none

updated uninstall command
  docs/modular_workflows/vpro-amt-ism/modular-vpro-amt-ism-deployment.rst
Labels: none

Release Notes 2026.0
  docs/release_notes/2026.0/containers_helm_charts_2026.0.rst
  docs/release_notes/2026.0/kpi_2026.0.rst
  docs/release_notes/2026.0/rel_notes_2026.0.rst
  docs/release_notes/2026.0/release-notes-20260.png
  docs/release_notes/2026.0/third_party_components_2026.0.rst
  docs/release_notes/2026.0/version_2026.0.rst
  docs/release_notes/index.rst
Labels: release notes

updated doc for haproxy change
  docs/deployment_guide/on_prem_deployment/on_prem_deployment_profiles/on_prem_oxm_profile.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
Labels: deployment guide

updated gitea tag/version uses
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
Labels: deployment guide

updated tinkerbell-nginx to tinkerbell-haproxy
  docs/deployment_guide/on_prem_deployment/on_prem_deployment_profiles/on_prem_oxm_profile.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
  docs/shared/shared_gs_firewall_config.rst
  docs/user_guide/advanced_functionality/pxe_provisioning_with_cloud_emf.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/https_boot/https_boot_dell.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/https_boot/https_boot_lenovo.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/https_boot/index.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/prerequisites/racadm_on_linux.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/prerequisites/racadm_on_windows.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/pxe_boot/index.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/usb_boot/index.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/usb_boot/usb_boot_asus.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/usb_boot/usb_boot_dell.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/usb_boot/usb_boot_lenovo.rst
  docs/user_guide/virtual_edge_node/tutorials/index.rst
  docs/user_guide/virtual_edge_node/usage/setup_virtual_edge_node.rst
Labels: deployment guide, user guide

updated doc
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
Labels: deployment guide

Update helm chart and container versions
  docs/release_notes/2026.0/containers_helm_charts_2026.0.rst
  docs/release_notes/2026.0/third_party_components_2026.0.rst
Labels: release notes

Update mentions and links from 2025.2 to 2026.0
  docs/release_notes/2026.0/containers_helm_charts_2026.0.rst
  docs/release_notes/2026.0/rel_notes_2026.0.rst
  docs/release_notes/2026.0/third_party_components_2026.0.rst
  docs/release_notes/2026.0/version_2026.0.rst
  docs/release_notes/index.rst
Labels: release notes

Updating ACM mode documentation
  docs/modular_workflows/vpro-amt-ism/modular-vpro-amt-ism-deployment.rst
Labels: none

Update on_prem_upgrade.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
Labels: deployment guide

Update cloud_upgrade.rst
  docs/deployment_guide/cloud_deployment/cloud_how_to/cloud_upgrade.rst
Labels: deployment guide

Update cloud_upgrade.rst
  docs/deployment_guide/cloud_deployment/cloud_how_to/cloud_upgrade.rst
Labels: deployment guide

Fix lint
  docs/api/edge_infra_manager.rst
Labels: api

Add high-level architecture diagram
  docs/modular_workflows/vpro-amt-ism/architecture.rst
  docs/modular_workflows/vpro-amt-ism/images/modular-vpro-architecture.png
Labels: none

Remove trailing whitespaces
  docs/modular_workflows/vpro-amt-ism/modular-vpro-amt-ism-deployment.rst
Labels: none

Addressing review comments and other enhancements
  docs/index.rst
  docs/orch-cli/command-groups/applications.rst
  docs/workflows/day-1-first-value/app-deployment.rst
  docs/workflows/day-1-first-value/cluster-lifecycle.rst
  docs/workflows/day-1-first-value/custom-os-profile.rst
  docs/workflows/day-1-first-value/host-provisioning.rst
  docs/workflows/day-1-first-value/index.rst
  docs/workflows/index.rst
Labels: base docs

License update
  .github/workflows/post-merge-scorecard.yml
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge.yml
  .github/workflows/publish-docs.yml
  docs/orch-cli/authentication.rst
  docs/orch-cli/command-groups/applications.rst
  docs/orch-cli/command-groups/clusters.rst
  docs/orch-cli/command-groups/iam.rst
  docs/orch-cli/command-groups/infra.rst
  docs/orch-cli/command-groups/maintenance.rst
  docs/orch-cli/configuration.rst
  docs/orch-cli/index.rst
  docs/orch-cli/installation.rst
  docs/orch-cli/troubleshooting.rst
  docs/workflows/day-0-platform-readiness/admin-iam-config.rst
  docs/workflows/day-0-platform-readiness/choose-composability.rst
  docs/workflows/day-0-platform-readiness/cloud-deploy.rst
  docs/workflows/day-0-platform-readiness/index.rst
  docs/workflows/day-0-platform-readiness/onprem-deploy.rst
  docs/workflows/day-1-first-value/app-deployment.rst
  docs/workflows/day-1-first-value/cluster-lifecycle.rst
  docs/workflows/day-1-first-value/host-provisioning.rst
  docs/workflows/day-1-first-value/index.rst
  docs/workflows/day-2-operations/automation-and-scale.rst
  docs/workflows/day-2-operations/index.rst
  docs/workflows/day-2-operations/o11y-ops.rst
  docs/workflows/day-2-operations/upgrade-rollback.rst
  docs/workflows/index.rst
Labels: CI

Minor fix
  docs/workflows/day-1-first-value/index.rst
Labels: none

Add known issue for cluster-extension deployment packages when catalog service is disabled
  docs/release_notes/2026.0/rel_notes_2026.0.rst
Labels: release notes

Update on_prem_upgrade.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
Labels: deployment guide

Updated the version in release notes
  docs/release_notes/2026.0/rel_notes_2026.0.rst
Labels: release notes

Update on_prem_upgrade.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
Labels: deployment guide

removing the old release highlights
  docs/release_notes/2026.0/rel_notes_2026.0.rst
  docs/release_notes/2026.0/release-notes-20260.png
Labels: release notes

Update on_prem_upgrade.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
Labels: deployment guide

fix for indentation issue
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
  docs/shared/shared_gs_firewall_config.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/https_boot/https_boot_dell.rst
Labels: deployment guide, user guide

doc updated for gitea and nginx change (#414)
  docs/deployment_guide/on_prem_deployment/on_prem_deployment_profiles/on_prem_oxm_profile.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
  docs/shared/shared_gs_firewall_config.rst
  docs/user_guide/advanced_functionality/pxe_provisioning_with_cloud_emf.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/https_boot/https_boot_dell.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/https_boot/https_boot_lenovo.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/https_boot/index.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/prerequisites/racadm_on_linux.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/prerequisites/racadm_on_windows.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/pxe_boot/index.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/usb_boot/index.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/usb_boot/usb_boot_asus.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/usb_boot/usb_boot_dell.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/usb_boot/usb_boot_lenovo.rst
  docs/user_guide/virtual_edge_node/tutorials/index.rst
  docs/user_guide/virtual_edge_node/usage/setup_virtual_edge_node.rst
Labels: deployment guide, user guide

Update modular-vpro-amt-ism-deployment.rst
  docs/modular_workflows/vpro-amt-ism/modular-vpro-amt-ism-deployment.rst
Labels: none

Update modular-vpro-amt-ism-deployment.rst
  docs/modular_workflows/vpro-amt-ism/modular-vpro-amt-ism-deployment.rst
Labels: none

Update modular-vpro-amt-ism-deployment.rst
  docs/modular_workflows/vpro-amt-ism/modular-vpro-amt-ism-deployment.rst
Labels: none

.github/labeler.yml:

---
# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# Config for https://github.com/actions/labeler

CI:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"
      - any-glob-to-any-file: "docconf/**"

base docs:
  - changed-files:
      - any-glob-to-any-file: "docs/*"
      - any-glob-to-any-file: "docs/_static/*"

api:
  - changed-files:
      - any-glob-to-any-file: "docs/api/**"

deployment guide:
  - changed-files:
      - any-glob-to-any-file: "docs/deployment_guide/**"
      - any-glob-to-any-file: "docs/shared/**"

developer guide:
  - changed-files:
      - any-glob-to-any-file: "docs/developer_guide/**"

release notes:
  - changed-files:
      - any-glob-to-any-file: "docs/release_notes/**"

requirements:
  - changed-files:
      - any-glob-to-any-file: "docs/system_requirements/**"

user guide:
  - changed-files:
      - any-glob-to-any-file: "docs/user_guide/**"
