Repository open-edge-platform/edge-manage-docs, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, root, base docs, api, deployment guide, developer guide, release notes, requirements, user guide

Create 3.0 version tag
  VERSION
Labels: root

chore: bump to 3.0.1-dev
  VERSION
Labels: root

fix: don't have build depend on generate target
  Makefile
Labels: root

chore: bump to 3.0.1-dev (#3)
  VERSION
Labels: root

chore: update platform 3rd party dependencies
  docs/release_notes/third_party_components_3.0.rst
Labels: release notes

fix: don't have build depend on generate target (#4)
  Makefile
Labels: root

Update publish-docs.yml
  .github/workflows/publish-docs.yml
Labels: CI

added links
  docs/user_guide/how_it_works/index.rst
Labels: user guide

added links (#7)
  docs/user_guide/how_it_works/index.rst
Labels: user guide

Update publish-docs.yml
  .github/workflows/publish-docs.yml
Labels: CI

use >- to avoid line length lint
  .github/workflows/publish-docs.yml
Labels: CI

Security updates to the publish-docs workflow (#6)
  .github/workflows/publish-docs.yml
Labels: CI

Edge software hub publish
  .gitattributes
  .github/CODEOWNERS
  REUSE.toml
  docs/toc.rst
  docs/user-guide/Overview.md
  docs/user-guide/index.rst
Labels: CI, root, base docs

Update third_party_components_3.0.rst
  docs/release_notes/third_party_components_3.0.rst
Labels: release notes

chore: update platform 3rd party dependencies (#5)
  docs/release_notes/third_party_components_3.0.rst
Labels: release notes

Update commands
  docs/developer_guide/set_up_dev_env/index.rst
Labels: developer guide

Fixing dev references for v3.0.0
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
  docs/release_notes/containers_helm_charts_3.0.rst
Labels: deployment guide, release notes

Add instruction to fix missing iam policy
  docs/shared/shared_ts_cloud.rst
Labels: deployment guide

Update command to use right policy
  docs/shared/shared_ts_cloud.rst
Labels: deployment guide

Update index.rst
  docs/developer_guide/set_up_dev_env/index.rst
Labels: developer guide

Update onprem documentation (#8)
  docs/developer_guide/set_up_dev_env/index.rst
Labels: developer guide

Fixing dev references for v3.0.0 (#9)
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
  docs/release_notes/containers_helm_charts_3.0.rst
Labels: deployment guide, release notes

Add instruction to fix missing iam policy (#10)
  docs/shared/shared_ts_cloud.rst
Labels: deployment guide

Fix broken links
  docs/user_guide/set_up_edge_infra/location/site_details.rst
  docs/user_guide/set_up_edge_infra/location/view_region_detail.rst
  docs/user_guide/set_up_edge_infra/onboard_dell/racadm_on_linux.rst
  docs/user_guide/set_up_edge_infra/onboard_host_details.rst
  docs/user_guide/set_up_edge_infra/onboarded_hosts.rst
  docs/user_guide/set_up_edge_infra/provision_host.rst
  docs/user_guide/troubleshooting/operate_issues.rst
Labels: user guide

Update operate_issues.rst
  docs/user_guide/troubleshooting/operate_issues.rst
Labels: user guide

Fix broken links (#11)
  docs/user_guide/set_up_edge_infra/location/site_details.rst
  docs/user_guide/set_up_edge_infra/location/view_region_detail.rst
  docs/user_guide/set_up_edge_infra/onboard_dell/racadm_on_linux.rst
  docs/user_guide/set_up_edge_infra/onboard_host_details.rst
  docs/user_guide/set_up_edge_infra/onboarded_hosts.rst
  docs/user_guide/set_up_edge_infra/provision_host.rst
  docs/user_guide/troubleshooting/operate_issues.rst
Labels: user guide

Document changes proposed based on ssh feature access UX
  docs/user_guide/additional_howtos/configure_ssh_public_keys.rst
Labels: user guide

edits to agents and app orch
  docs/developer_guide/agents/arch/cluster.rst
  docs/developer_guide/agents/arch/edge_node.rst
  docs/developer_guide/agents/arch/hardware_discovery.rst
  docs/developer_guide/agents/arch/hl_architecture.rst
  docs/developer_guide/agents/arch/index.rst
  docs/developer_guide/agents/arch/platform_observability.rst
  docs/developer_guide/agents/arch/platform_telemetry.rst
  docs/developer_guide/agents/arch/platform_update.rst
  docs/developer_guide/agents/index.rst
  docs/developer_guide/agents/tutorials/developing/developing.rst
  docs/developer_guide/agents/tutorials/developing/index.rst
  docs/developer_guide/agents/tutorials/index.rst
  docs/developer_guide/app_orch/arch/data_flow.rst
  docs/developer_guide/app_orch/arch/data_model.rst
  docs/developer_guide/app_orch/arch/deployment.rst
  docs/developer_guide/app_orch/arch/extensibility.rst
  docs/developer_guide/app_orch/arch/index.rst
  docs/developer_guide/app_orch/arch/key_components.rst
  docs/developer_guide/app_orch/arch/security.rst
  docs/developer_guide/app_orch/arch/technology_stack.rst
  docs/developer_guide/app_orch/index.rst
  docs/developer_guide/app_orch/tutorials/accessing-applications/index.rst
  docs/developer_guide/app_orch/tutorials/deploying-applications/deploying.rst
  docs/developer_guide/app_orch/tutorials/deploying-applications/edit-image-location.rst
  docs/developer_guide/app_orch/tutorials/deploying-applications/import-dp.rst
  docs/developer_guide/app_orch/tutorials/deploying-applications/index.rst
  docs/developer_guide/app_orch/tutorials/deploying-applications/pushing_charts_and_images.rst
  docs/developer_guide/app_orch/tutorials/deployment-helm/deployment-helm-tutorial-server.rst
  docs/developer_guide/app_orch/tutorials/deployment-helm/deployment-helm-tutorial-web-ui.rst
  docs/developer_guide/app_orch/tutorials/deployment-helm/index.rst
  docs/developer_guide/app_orch/tutorials/deployment-helm/routing-api-through-nginx.rst
  docs/developer_guide/app_orch/tutorials/deployment-packages/index.rst
  docs/developer_guide/app_orch/tutorials/developing-applications/developing-tutorial-server.rst
  docs/developer_guide/app_orch/tutorials/developing-applications/developing-tutorial-web-ui.rst
  docs/developer_guide/app_orch/tutorials/developing-applications/index.rst
  docs/developer_guide/app_orch/tutorials/index.rst
  docs/developer_guide/app_orch/tutorials/packaging-applications/index.rst
  docs/developer_guide/app_orch/tutorials/packaging-applications/packaging-tutorial-server.rst
  docs/developer_guide/app_orch/tutorials/packaging-applications/packaging-tutorial-web-ui.rst
  docs/developer_guide/index.rst
Labels: developer guide

Update configure_ssh_public_keys.rst
  docs/user_guide/additional_howtos/configure_ssh_public_keys.rst
Labels: user guide

Update configure_ssh_public_keys.rst
  docs/user_guide/additional_howtos/configure_ssh_public_keys.rst
Labels: user guide

comments addressed
  docs/developer_guide/agents/tutorials/developing/developing.rst
  docs/developer_guide/app_orch/arch/data_flow.rst
  docs/developer_guide/app_orch/tutorials/deployment-helm/index.rst
  docs/developer_guide/app_orch/tutorials/developing-applications/index.rst
Labels: developer guide

Update publish-docs.yml
  .github/workflows/publish-docs.yml
Labels: CI

Update publish-docs.yml
  .github/workflows/publish-docs.yml
Labels: CI

Update workflows with correct permissions and secrets.
  .github/workflows/post-merge.yml
  .github/workflows/publish-docs.yml
Labels: CI

Fix zizmor findings.
  .github/workflows/labeler.yml
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge.yml
  .github/workflows/publish-docs.yml
Labels: CI

Use commit IDs to reference actions.
  .github/workflows/labeler.yml
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge.yml
  .github/workflows/publish-docs.yml
Labels: CI

Add deploy tag
  docs/developer_guide/set_up_dev_env/index.rst
Labels: developer guide

Update workflows with correct permissions and secrets. (#14)
  .github/workflows/labeler.yml
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge.yml
  .github/workflows/publish-docs.yml
Labels: CI

Update configure_ssh_public_keys.rst
  docs/user_guide/additional_howtos/configure_ssh_public_keys.rst
Labels: user guide

Document changes proposed based on ssh feature access UX (#12)
  docs/user_guide/additional_howtos/configure_ssh_public_keys.rst
Labels: user guide

.github/labeler.yml:

---
# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# Config for https://github.com/actions/labeler

CI:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"
      - any-glob-to-any-file: "docconf/**"

base docs:
  - changed-files:
      - any-glob-to-any-file: "docs/*"
      - any-glob-to-any-file: "docs/_static/*"

api:
  - changed-files:
      - any-glob-to-any-file: "docs/api/**"

deployment guide:
  - changed-files:
      - any-glob-to-any-file: "docs/deployment_guide/**"
      - any-glob-to-any-file: "docs/shared/**"

developer guide:
  - changed-files:
      - any-glob-to-any-file: "docs/developer_guide/**"

release notes:
  - changed-files:
      - any-glob-to-any-file: "docs/release_notes/**"

requirements:
  - changed-files:
      - any-glob-to-any-file: "docs/system_requirements/**"

user guide:
  - changed-files:
      - any-glob-to-any-file: "docs/user_guide/**"
