Repository open-edge-platform/edge-manage-docs, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, root, base docs, api, deployment guide, developer guide, release notes, requirements, user guide

Update cloud_manual_modules.rst
  docs/deployment_guide/cloud_deployment/cloud_advanced/cloud_manual_modules.rst
Labels: deployment guide

Update system_requirements_aws_orch.rst
  docs/deployment_guide/cloud_deployment/cloud_get_started/system_requirements_aws_orch.rst
Labels: deployment guide

Update system_requirements_aws_orch.rst
  docs/deployment_guide/cloud_deployment/cloud_get_started/system_requirements_aws_orch.rst
Labels: deployment guide

Update cloud_cc_cred_refresh.rst
  docs/deployment_guide/cloud_deployment/cloud_how_to/cloud_cc_cred_refresh.rst
Labels: deployment guide

Update on_prem_install.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

Update on_prem_alerts.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_alerts.rst
Labels: deployment guide

Update on_prem_alerts.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_alerts.rst
Labels: deployment guide

Update on_prem_alerts.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_alerts.rst
Labels: deployment guide

Update on_prem_sre.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_sre.rst
Labels: deployment guide

Update cloud_orchestrator_install.rst
  docs/deployment_guide/cloud_deployment/cloud_get_started/cloud_orchestrator_install.rst
Labels: deployment guide

Update cloud_cluster_definition.rst
  docs/deployment_guide/cloud_deployment/cloud_appendix/cloud_cluster_definition.rst
Labels: deployment guide

Update cloud_start_installer.rst
  docs/deployment_guide/cloud_deployment/cloud_get_started/cloud_start_installer.rst
Labels: deployment guide

Update system_requirements_aws_orch.rst
  docs/deployment_guide/cloud_deployment/cloud_get_started/system_requirements_aws_orch.rst
Labels: deployment guide

Update cloud_scale_orch.rst
  docs/deployment_guide/cloud_deployment/cloud_how_to/cloud_scale_orch.rst
Labels: deployment guide

Update on_prem_install.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

Update on_prem_certificates.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_certificates.rst
Labels: deployment guide

Update cloud_uninstall.rst
  docs/deployment_guide/cloud_deployment/cloud_how_to/cloud_uninstall.rst
Labels: deployment guide

Update index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/index.rst
Labels: deployment guide

Update on_prem_certs.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_certs.rst
Labels: deployment guide

Update on_prem_alerts.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_alerts.rst
Labels: deployment guide

Update system_requirements_on_prem_orch.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/system_requirements_on_prem_orch.rst
Labels: deployment guide

Update on_prem_sre.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_sre.rst
Labels: deployment guide

Update on_prem_alerts.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_alerts.rst
Labels: deployment guide

Update on_prem_sre.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_sre.rst
Labels: deployment guide

Minor docs review of the cloud_deployment and on_prem_deployment directories (#24)
  docs/deployment_guide/cloud_deployment/cloud_advanced/cloud_alerts.rst
  docs/deployment_guide/cloud_deployment/cloud_appendix/cloud_cluster_autoscaling.rst
  docs/deployment_guide/cloud_deployment/cloud_appendix/cloud_cluster_definition.rst
  docs/deployment_guide/cloud_deployment/cloud_get_started/cloud_orchestrator_install.rst
  docs/deployment_guide/cloud_deployment/cloud_get_started/cloud_start_installer.rst
  docs/deployment_guide/cloud_deployment/cloud_get_started/system_requirements_aws_orch.rst
  docs/deployment_guide/cloud_deployment/cloud_how_to/cloud_cc_cred_refresh.rst
  docs/deployment_guide/cloud_deployment/cloud_how_to/cloud_certificates.rst
  docs/deployment_guide/cloud_deployment/cloud_how_to/cloud_scale_orch.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_certs.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/system_requirements_on_prem_orch.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_alerts.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_certificates.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_sre.rst
Labels: deployment guide

chore: fix zizmor findings
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI

add badges
  README.md
Labels: root

Update CODEOWNERS
  .github/CODEOWNERS
Labels: CI

chore: Update CODEOWNERS (#26)
  .github/CODEOWNERS
Labels: CI

Update index.rst
  docs/developer_guide/infra_manager/index.rst
Labels: developer guide

chore: fix zizmor findings (#25)
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge.yml
  README.md
Labels: CI, root

docs: Notify about email being required in Keycloak section
  docs/developer_guide/troubleshooting/o11y_access.rst
  docs/shared/shared_gs_iam.rst
Labels: deployment guide, developer guide

Update to use 3.1 as next version
  VERSION
Labels: root

Update CODEOWNERS
  .github/CODEOWNERS
Labels: CI

Fix documentation link in App Orchestration
  docs/user_guide/package_software/access_deploy.rst
  docs/user_guide/set_up_edge_infra/edge_node_registration.rst
Labels: user guide

Update to use 3.1 as next version (#29)
  VERSION
Labels: root

docs: Notify about email being required in Keycloak section (#28)
  docs/developer_guide/troubleshooting/o11y_access.rst
  docs/shared/shared_gs_iam.rst
Labels: deployment guide, developer guide

Update CODEOWNERS
  .github/CODEOWNERS
Labels: CI

Fix typos in documentation
  docs/api/openapi/amc-cluster-manager-openapi.yaml
  docs/api/openapi/amc-orch-metadata-broker-openapi.yaml
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
  docs/developer_guide/agents/arch/platform_telemetry.rst
  docs/developer_guide/contributor_guide/make_workflow.rst
  docs/developer_guide/platform/arch/argocd.rst
  docs/developer_guide/platform/arch/cloud_orchestrator.rst
  docs/release_notes/rel_notes_3.0.rst
  docs/user_guide/additional_howtos/host_update_immutable_os.rst
  docs/user_guide/package_software/deployment_upgrade.rst
  docs/user_guide/package_software/package_create_helm.rst
  docs/user_guide/package_software/quick_start_guide.rst
  docs/user_guide/set_up_edge_infra/onboard_lenovo/https_assisted_boot.rst
Labels: api, deployment guide, developer guide, release notes, user guide

Fix typos in documentation (#32)
  docs/api/openapi/amc-cluster-manager-openapi.yaml
  docs/api/openapi/amc-orch-metadata-broker-openapi.yaml
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
  docs/developer_guide/agents/arch/platform_telemetry.rst
  docs/developer_guide/contributor_guide/make_workflow.rst
  docs/developer_guide/platform/arch/argocd.rst
  docs/developer_guide/platform/arch/cloud_orchestrator.rst
  docs/release_notes/rel_notes_3.0.rst
  docs/user_guide/additional_howtos/host_update_immutable_os.rst
  docs/user_guide/package_software/deployment_upgrade.rst
  docs/user_guide/package_software/package_create_helm.rst
  docs/user_guide/package_software/quick_start_guide.rst
  docs/user_guide/set_up_edge_infra/onboard_lenovo/https_assisted_boot.rst
Labels: api, deployment guide, developer guide, release notes, user guide

.github/labeler.yml:

---
# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# Config for https://github.com/actions/labeler

CI:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"
      - any-glob-to-any-file: "docconf/**"

base docs:
  - changed-files:
      - any-glob-to-any-file: "docs/*"
      - any-glob-to-any-file: "docs/_static/*"

api:
  - changed-files:
      - any-glob-to-any-file: "docs/api/**"

deployment guide:
  - changed-files:
      - any-glob-to-any-file: "docs/deployment_guide/**"
      - any-glob-to-any-file: "docs/shared/**"

developer guide:
  - changed-files:
      - any-glob-to-any-file: "docs/developer_guide/**"

release notes:
  - changed-files:
      - any-glob-to-any-file: "docs/release_notes/**"

requirements:
  - changed-files:
      - any-glob-to-any-file: "docs/system_requirements/**"

user guide:
  - changed-files:
      - any-glob-to-any-file: "docs/user_guide/**"
