Repository open-edge-platform/edge-manage-docs, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, root, base docs, api, deployment guide, developer guide, release notes, requirements, user guide

Update version_2025.2.rst
  docs/release_notes/2025.2/version_2025.2.rst
Labels: release notes

Update index.rst
  docs/release_notes/index.rst
Labels: release notes

Format release notes for consistency
  docs/release_notes/2025.2/rel_notes_2025.2.rst
Labels: release notes

EMF 2025.2 release notes (#233)
  docs/release_notes/2025.2/containers_helm_charts_2025.2.rst
  docs/release_notes/2025.2/kpi_2025.2.rst
  docs/release_notes/2025.2/rel_notes_2025.2.rst
  docs/release_notes/2025.2/third_party_components_2025.2.rst
  docs/release_notes/2025.2/version_2025.2.rst
  docs/release_notes/index.rst
Labels: release notes

EMF 2025.2 release notes (#233)
  docs/release_notes/2025.2/containers_helm_charts_2025.2.rst
  docs/release_notes/2025.2/kpi_2025.2.rst
  docs/release_notes/2025.2/rel_notes_2025.2.rst
  docs/release_notes/2025.2/third_party_components_2025.2.rst
  docs/release_notes/2025.2/version_2025.2.rst
  docs/release_notes/index.rst
Labels: release notes

EMF 2025.2 release notes (#233)
  docs/release_notes/2025.2/containers_helm_charts_2025.2.rst
  docs/release_notes/2025.2/kpi_2025.2.rst
  docs/release_notes/2025.2/rel_notes_2025.2.rst
  docs/release_notes/2025.2/third_party_components_2025.2.rst
  docs/release_notes/2025.2/version_2025.2.rst
  docs/release_notes/index.rst
Labels: release notes

Fix pattern in pre-merge pipeline
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI

external dependency for 2025.2
  docs/release_notes/3.1/third_party_components_3.1.rst
Labels: release notes

EMF 2025.2 release notes (#233) (#292)
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge.yml
  docs/release_notes/2025.2/containers_helm_charts_2025.2.rst
  docs/release_notes/2025.2/kpi_2025.2.rst
  docs/release_notes/2025.2/rel_notes_2025.2.rst
  docs/release_notes/2025.2/third_party_components_2025.2.rst
  docs/release_notes/2025.2/version_2025.2.rst
  docs/release_notes/index.rst
Labels: CI, release notes

updated doc
  docs/user_guide/troubleshooting/amt_issues.rst
Labels: user guide

updated doc
  docs/user_guide/troubleshooting/amt_issues.rst
Labels: user guide

updated doc
  docs/user_guide/troubleshooting/amt_issues.rst
Labels: user guide

[vPRO] updated amt user guide
  docs/user_guide/troubleshooting/amt_issues.rst
Labels: user guide

updated doc
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
  docs/user_guide/troubleshooting/amt_issues.rst
Labels: user guide

[vPRO] updated amt user guide- troubleshooting guide (#283)
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
  docs/user_guide/troubleshooting/amt_issues.rst
Labels: user guide

[vPRO] updated amt user guide- troubleshooting guide (#294)
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
  docs/user_guide/troubleshooting/amt_issues.rst
Labels: user guide

AO doc update
  docs/user_guide/package_software/app_requirements.rst
  docs/user_guide/package_software/orch_cli/orch_cli_guide.rst
  docs/user_guide/package_software/registry_security.rst
Labels: user guide

AO doc update
  docs/user_guide/package_software/app_requirements.rst
  docs/user_guide/package_software/orch_cli/orch_cli_guide.rst
  docs/user_guide/package_software/registry_security.rst
Labels: user guide

Fix typo in release notes for 2025.2
  docs/release_notes/2025.2/rel_notes_2025.2.rst
Labels: release notes

Update mentions of 22.04 to 24.04 in OS profile mgmt
  docs/developer_guide/infra_manager/tutorials/os_profiles/adding_os_profiles.rst
Labels: developer guide

Update 2025.2 release notes for USB and OOB management
  docs/release_notes/2025.2/rel_notes_2025.2.rst
Labels: release notes

Update to latest orch-ci workflows.
  .github/workflows/post-merge-scorecard.yml
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge.yml
  .github/workflows/publish-docs.yml
Labels: CI

Update to latest orch-ci workflows.
  .github/workflows/post-merge-scorecard.yml
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge.yml
  .github/workflows/publish-docs.yml
Labels: CI

Add link to EMF deployment troubleshooting guide
  docs/release_notes/2025.2/rel_notes_2025.2.rst
Labels: release notes

Update EMF deployment troubleshooting link in release notes
  docs/release_notes/2025.2/rel_notes_2025.2.rst
Labels: release notes

Update to latest orch-ci workflows. (#300)
  .github/workflows/post-merge-scorecard.yml
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge.yml
  .github/workflows/publish-docs.yml
Labels: CI

Update to latest orch-ci workflows. (#301)
  .github/workflows/post-merge-scorecard.yml
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge.yml
  .github/workflows/publish-docs.yml
Labels: CI

fix review comments
  docs/release_notes/2025.2/rel_notes_2025.2.rst
  docs/user_guide/package_software/orch_cli/orch_cli_guide.rst
Labels: release notes, user guide

update placement
  docs/user_guide/package_software/orch_cli/orch_cli_guide.rst
Labels: user guide

fix review comments
  docs/release_notes/2025.2/rel_notes_2025.2.rst
  docs/user_guide/package_software/orch_cli/orch_cli_guide.rst
Labels: release notes, user guide

update placement
  docs/user_guide/package_software/orch_cli/orch_cli_guide.rst
Labels: user guide

Update mentions of 22.04 to 24.04 in OS profile mgmt (#299)
  docs/developer_guide/infra_manager/tutorials/os_profiles/adding_os_profiles.rst
Labels: developer guide

lint-fix
  docs/release_notes/3.1/third_party_components_3.1.rst
Labels: release notes

Update mentions of 22.04 to 24.04 in OS profile mgmt (#299)
  docs/developer_guide/infra_manager/tutorials/os_profiles/adding_os_profiles.rst
Labels: developer guide

updated for onprem
  docs/release_notes/2025.2/rel_notes_2025.2.rst
Labels: release notes

updated the workaround section
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
Labels: deployment guide

updated workaround section
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
Labels: deployment guide

updated onprem workaround section
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
Labels: deployment guide

Update on_prem_install.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

updated ao/co
  docs/shared/shared_ao_co_o11y.rst
Labels: deployment guide

.github/labeler.yml:

---
# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# Config for https://github.com/actions/labeler

CI:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"
      - any-glob-to-any-file: "docconf/**"

base docs:
  - changed-files:
      - any-glob-to-any-file: "docs/*"
      - any-glob-to-any-file: "docs/_static/*"

api:
  - changed-files:
      - any-glob-to-any-file: "docs/api/**"

deployment guide:
  - changed-files:
      - any-glob-to-any-file: "docs/deployment_guide/**"
      - any-glob-to-any-file: "docs/shared/**"

developer guide:
  - changed-files:
      - any-glob-to-any-file: "docs/developer_guide/**"

release notes:
  - changed-files:
      - any-glob-to-any-file: "docs/release_notes/**"

requirements:
  - changed-files:
      - any-glob-to-any-file: "docs/system_requirements/**"

user guide:
  - changed-files:
      - any-glob-to-any-file: "docs/user_guide/**"
