Repository open-edge-platform/edge-manage-docs, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, root, base docs, api, deployment guide, developer guide, release notes, requirements, user guide

updated system requirement when AO/CO and o11y disabled
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/system_requirements_on_prem_orch.rst
Labels: deployment guide

Update AO cli update (#371)
  docs/user_guide/package_software/orch_cli/orch_cli_guide.rst
Labels: user guide

Update system_requirements_on_prem_orch.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/system_requirements_on_prem_orch.rst
Labels: deployment guide

Fixes
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: user guide

linter
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: user guide

[DOCS] EMF fix docu links temp
  docs/deployment_guide/cloud_deployment/cloud_advanced/cloud_manual_modules.rst
  docs/deployment_guide/cloud_deployment/cloud_get_started/index.rst
  docs/deployment_guide/cloud_deployment/cloud_how_to/cloud_scale_orch.rst
  docs/deployment_guide/cloud_deployment/cloud_how_to/cloud_uninstall.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_certificates.rst
  docs/developer_guide/agents/arch/reporting.rst
  docs/release_notes/3.0/containers_helm_charts_3.0.rst
  docs/release_notes/3.0/third_party_components_3.0.rst
  docs/release_notes/3.1/third_party_components_3.1.rst
  docs/shared/shared_ao_co_o11y.rst
  docs/shared/shared_gs_firewall_config.rst
  docs/shared/shared_ts_rs_token.rst
  docs/user_guide/package_software/extensions/trusted_compute_package.rst
  docs/user_guide/package_software/quick_start_guide.rst
Labels: deployment guide, developer guide, release notes, user guide

Fixing broken links
  docs/deployment_guide/cloud_deployment/cloud_get_started/index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/index.rst
  docs/developer_guide/agents/arch/platform_observability.rst
  docs/developer_guide/application_developer_workflow/deployment-helm/index.rst
  docs/developer_guide/infra_manager/arch/hl_architecture.rst
  docs/release_notes/2025.2/containers_helm_charts_2025.2.rst
  docs/release_notes/2025.2/third_party_components_2025.2.rst
  docs/release_notes/3.0/third_party_components_3.0.rst
  docs/release_notes/3.1/third_party_components_3.1.rst
  docs/shared/shared_gs_firewall_config.rst
Labels: deployment guide, developer guide, release notes

[DOCS] Fixing broken links
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/index.rst
  docs/developer_guide/application_developer_workflow/packaging-applications/index.rst
  docs/developer_guide/infra_manager/tutorials/new_resource/api.rst
  docs/developer_guide/infra_manager/tutorials/upgrade/orch_upgrade.rst
  docs/release_notes/2025.2/containers_helm_charts_2025.2.rst
  docs/release_notes/3.1/third_party_components_3.1.rst
  docs/shared/shared_gs_firewall_config.rst
  docs/shared/shared_ht_iam_groups.rst
  docs/user_guide/package_software/push_registry.rst
Labels: deployment guide, developer guide, release notes, user guide

update dashboard doc
  docs/user_guide/monitor_deployments/status_deployment.rst
Labels: user guide

Update documentation with note about BUCKET_REGION
  docs/deployment_guide/cloud_deployment/cloud_get_started/cloud_orchestrator_install.rst
Labels: deployment guide

Update documentation with note about BUCKET_REGION (#375)
  docs/deployment_guide/cloud_deployment/cloud_get_started/cloud_orchestrator_install.rst
Labels: deployment guide

update dashboard doc (#374)
  docs/user_guide/monitor_deployments/status_deployment.rst
Labels: user guide

[DOCS] fix missing TODO link
  docs/developer_guide/infra_manager/tutorials/upgrade/orch_upgrade.rst
Labels: developer guide

[DOCS] fix line too long
  docs/shared/shared_ht_iam_groups.rst
Labels: deployment guide

[DOCS] Fix broken links (#373)
  docs/deployment_guide/cloud_deployment/cloud_advanced/cloud_manual_modules.rst
  docs/deployment_guide/cloud_deployment/cloud_get_started/index.rst
  docs/deployment_guide/cloud_deployment/cloud_how_to/cloud_scale_orch.rst
  docs/deployment_guide/cloud_deployment/cloud_how_to/cloud_uninstall.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_certificates.rst
  docs/developer_guide/agents/arch/platform_observability.rst
  docs/developer_guide/agents/arch/reporting.rst
  docs/developer_guide/application_developer_workflow/deployment-helm/index.rst
  docs/developer_guide/application_developer_workflow/packaging-applications/index.rst
  docs/developer_guide/infra_manager/arch/hl_architecture.rst
  docs/developer_guide/infra_manager/tutorials/new_resource/api.rst
  docs/developer_guide/infra_manager/tutorials/upgrade/orch_upgrade.rst
  docs/release_notes/2025.2/containers_helm_charts_2025.2.rst
  docs/release_notes/2025.2/third_party_components_2025.2.rst
  docs/release_notes/3.0/containers_helm_charts_3.0.rst
  docs/release_notes/3.0/third_party_components_3.0.rst
  docs/release_notes/3.1/third_party_components_3.1.rst
  docs/shared/shared_ao_co_o11y.rst
  docs/shared/shared_gs_firewall_config.rst
  docs/shared/shared_ht_iam_groups.rst
  docs/shared/shared_ts_rs_token.rst
  docs/user_guide/package_software/extensions/trusted_compute_package.rst
  docs/user_guide/package_software/push_registry.rst
  docs/user_guide/package_software/quick_start_guide.rst
Labels: deployment guide, developer guide, release notes, user guide

Remove orch-ci main reference
  .github/workflows/post-merge.yml
Labels: CI

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI

Remove orch-ci main reference (#376)
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI

updated system requirement when AO/CO and o11y disabled (#372)
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/system_requirements_on_prem_orch.rst
Labels: deployment guide

switch from Kubernetes-Dashboard to Headlamp
  docs/user_guide/package_software/extensions/kubernetes_dashboard.rst
Labels: user guide

update toc and rename file
  docs/user_guide/package_software/extension_package.rst
  docs/user_guide/package_software/extensions/headlamp.rst
Labels: user guide

simplify
  docs/user_guide/package_software/extensions/headlamp.rst
Labels: user guide

clean up token language
  docs/user_guide/package_software/extensions/headlamp.rst
Labels: user guide

switch from Kubernetes-Dashboard to Headlamp (#377)
  docs/user_guide/package_software/extension_package.rst
  docs/user_guide/package_software/extensions/headlamp.rst
  docs/user_guide/package_software/extensions/kubernetes_dashboard.rst
Labels: user guide

Updates
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: user guide

Orch-CLI first EMF workflows
  docs/index.rst
  docs/orch-cli/authentication.rst
  docs/orch-cli/command-groups/applications.rst
  docs/orch-cli/command-groups/clusters.rst
  docs/orch-cli/command-groups/iam.rst
  docs/orch-cli/command-groups/infra.rst
  docs/orch-cli/command-groups/maintenance.rst
  docs/orch-cli/configuration.rst
  docs/orch-cli/index.rst
  docs/orch-cli/installation.rst
  docs/orch-cli/troubleshooting.rst
  docs/workflows/day-0-platform-readiness/admin-iam-config.rst
  docs/workflows/day-0-platform-readiness/choose-composability.rst
  docs/workflows/day-0-platform-readiness/cloud-deploy.rst
  docs/workflows/day-0-platform-readiness/index.rst
  docs/workflows/day-0-platform-readiness/onprem-deploy.rst
  docs/workflows/day-1-first-value/app-deployment.rst
  docs/workflows/day-1-first-value/cluster-lifecycle.rst
  docs/workflows/day-1-first-value/custom-os-profile.rst
  docs/workflows/day-1-first-value/host-provisioning.rst
  docs/workflows/day-1-first-value/index.rst
  docs/workflows/day-2-operations/automation-and-scale.rst
  docs/workflows/day-2-operations/index.rst
  docs/workflows/day-2-operations/o11y-ops.rst
  docs/workflows/day-2-operations/upgrade-rollback.rst
  docs/workflows/index.rst
Labels: base docs

linter
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: user guide

CLI docs dynamic detection update (#363)
  docs/user_guide/package_software/orch_cli/orch_cli_guide.rst
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: user guide

added onprem vpro profile guide
  docs/deployment_guide/on_prem_deployment/on_prem_deployment_profiles/onprem_vpro_profile.rst
Labels: deployment guide

Delete --dns-suffix from CLI documentation
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: user guide

Delete --dns-suffic from CLI docs (#391)
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: user guide

vPro Deployment Profile
  docs/deployment_guide/on_prem_deployment/on_prem_deployment_profiles/index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_deployment_profiles/on_prem_vpro.rst
Labels: deployment guide

Update onboarded and provisioned statuses
  docs/developer_guide/infra_manager/arch/components/inventory/data_model.rst
Labels: developer guide

[DOCS] Restructure EIM docs to target modular decomposition
  docs/developer_guide/infra_manager/arch/background.rst
  docs/developer_guide/infra_manager/arch/components.rst
  docs/developer_guide/infra_manager/arch/components/inventory-exporter.rst
  docs/developer_guide/infra_manager/arch/components/inventory.rst
  docs/developer_guide/infra_manager/arch/components/inventory/data_model.rst
  docs/developer_guide/infra_manager/arch/components/onboarding-provisioning.rst
  docs/developer_guide/infra_manager/arch/components/resource-managers.rst
  docs/developer_guide/infra_manager/arch/components/rest-api.rst
  docs/developer_guide/infra_manager/arch/data_flow.rst
  docs/developer_guide/infra_manager/arch/data_model.rst
  docs/developer_guide/infra_manager/arch/day2_flow.rst
  docs/developer_guide/infra_manager/arch/deployment.rst
  docs/developer_guide/infra_manager/arch/extensibility.rst
  docs/developer_guide/infra_manager/arch/hl_architecture.rst
  docs/developer_guide/infra_manager/arch/images/os_resource_manager.svg
  docs/developer_guide/infra_manager/arch/index.rst
  docs/developer_guide/infra_manager/arch/multi_tenancy.rst
  docs/developer_guide/infra_manager/arch/overview.rst
  docs/developer_guide/infra_manager/arch/provisioning.rst
  docs/developer_guide/infra_manager/arch/scalability.rst
  docs/developer_guide/infra_manager/arch/security.rst
  docs/developer_guide/infra_manager/architecture.rst
  docs/developer_guide/infra_manager/index.rst
  docs/developer_guide/infra_manager/tutorials.rst
  docs/developer_guide/infra_manager/tutorials/new_resource/api.rst
  docs/developer_guide/infra_manager/tutorials/new_resource/inventory.rst
  docs/developer_guide/infra_manager/tutorials/upgrade/orch_upgrade.rst
  docs/developer_guide/observability/arch/edgenode/hosts.rst
Labels: developer guide

Add Modular Workflows docs section
  docs/index.rst
  docs/modular_workflows/index.rst
Labels: base docs

Add modular vPro workflow docs
  docs/modular_workflows/index.rst
  docs/modular_workflows/vpro-amt-ism/index.rst
Labels: none

Move vPro deployment docs to new file
  docs/modular_workflows/vpro-amt-ism/index.rst
  docs/modular_workflows/vpro-amt-ism/modular-vpro-amt-ism-deployment.rst
Labels: none

Add deployment steps and partner developer notes
  docs/modular_workflows/vpro-amt-ism/modular-vpro-amt-ism-deployment.rst
Labels: none

Update index
  docs/developer_guide/infra_manager/index.rst
Labels: developer guide

Update EIM API description
  docs/api/edge_infra_manager.rst
Labels: api

.github/labeler.yml:

---
# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# Config for https://github.com/actions/labeler

CI:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"
      - any-glob-to-any-file: "docconf/**"

base docs:
  - changed-files:
      - any-glob-to-any-file: "docs/*"
      - any-glob-to-any-file: "docs/_static/*"

api:
  - changed-files:
      - any-glob-to-any-file: "docs/api/**"

deployment guide:
  - changed-files:
      - any-glob-to-any-file: "docs/deployment_guide/**"
      - any-glob-to-any-file: "docs/shared/**"

developer guide:
  - changed-files:
      - any-glob-to-any-file: "docs/developer_guide/**"

release notes:
  - changed-files:
      - any-glob-to-any-file: "docs/release_notes/**"

requirements:
  - changed-files:
      - any-glob-to-any-file: "docs/system_requirements/**"

user guide:
  - changed-files:
      - any-glob-to-any-file: "docs/user_guide/**"
