Repository open-edge-platform/edge-manage-docs, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, root, base docs, api, deployment guide, developer guide, release notes, requirements, user guide

.github/labeler.yml:

---
# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# Config for https://github.com/actions/labeler

CI:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"
      - any-glob-to-any-file: "docconf/**"

base docs:
  - changed-files:
      - any-glob-to-any-file: "docs/*"
      - any-glob-to-any-file: "docs/_static/*"

api:
  - changed-files:
      - any-glob-to-any-file: "docs/api/**"

deployment guide:
  - changed-files:
      - any-glob-to-any-file: "docs/deployment_guide/**"
      - any-glob-to-any-file: "docs/shared/**"

developer guide:
  - changed-files:
      - any-glob-to-any-file: "docs/developer_guide/**"

release notes:
  - changed-files:
      - any-glob-to-any-file: "docs/release_notes/**"

requirements:
  - changed-files:
      - any-glob-to-any-file: "docs/system_requirements/**"

user guide:
  - changed-files:
      - any-glob-to-any-file: "docs/user_guide/**"

Workflow logic (#250)
  docs/developer_guide/contributor_guide/continuous_integration_logic.rst
  docs/developer_guide/contributor_guide/index.rst
Labels: developer guide

[DOCS] increase menu depth
  docconf/docconf/docconf.py
  docs/developer_guide/infra_manager/index.rst
  docs/developer_guide/infra_manager/tutorials/index.rst
  docs/developer_guide/infra_manager/tutorials/new_resource/index.rst
  docs/developer_guide/infra_manager/tutorials/os_profiles/index.rst
  docs/developer_guide/infra_manager/tutorials/upgrade/index.rst
Labels: root, developer guide

[DOCS] increase menu depth (#269)
  docconf/docconf/docconf.py
  docs/developer_guide/infra_manager/index.rst
  docs/developer_guide/infra_manager/tutorials/index.rst
  docs/developer_guide/infra_manager/tutorials/new_resource/index.rst
  docs/developer_guide/infra_manager/tutorials/os_profiles/index.rst
  docs/developer_guide/infra_manager/tutorials/upgrade/index.rst
Labels: root, developer guide

[DOCS] increase menu depth more
  docconf/docconf/docconf.py
Labels: root

[DOCS] increase menu depth more (#270)
  docconf/docconf/docconf.py
Labels: root

initial commit
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
Labels: deployment guide

Update on_prem_upgrade.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
Labels: deployment guide

fix lint
  docs/developer_guide/platform/index.rst
Labels: developer guide

Update CODEOWNERS
  .github/CODEOWNERS
Labels: CI

Update cloud_upgrade.rst (#223)
  docs/deployment_guide/cloud_deployment/cloud_how_to/cloud_upgrade.rst
Labels: deployment guide

Update CODEOWNERS (#277)
  .github/CODEOWNERS
Labels: CI

feat: Update cloud_upgrade.rst
  docs/deployment_guide/cloud_deployment/cloud_how_to/cloud_upgrade.rst
Labels: deployment guide

Update CO changes
  docs/release_notes/2025.2/rel_notes_2025.2.rst
Labels: release notes

Update docs/release_notes/2025.2/rel_notes_2025.2.rst - review comments
  docs/release_notes/2025.2/rel_notes_2025.2.rst
Labels: release notes

Update docs/release_notes/2025.2/rel_notes_2025.2.rst - review comments
  docs/release_notes/2025.2/rel_notes_2025.2.rst
Labels: release notes

Update docs/release_notes/2025.2/rel_notes_2025.2.rst
  docs/release_notes/2025.2/rel_notes_2025.2.rst
Labels: release notes

Update docs/release_notes/2025.2/rel_notes_2025.2.rst
  docs/release_notes/2025.2/rel_notes_2025.2.rst
Labels: release notes

Update docs/release_notes/2025.2/rel_notes_2025.2.rst
  docs/release_notes/2025.2/rel_notes_2025.2.rst
Labels: release notes

Update docs/release_notes/2025.2/rel_notes_2025.2.rst
  docs/release_notes/2025.2/rel_notes_2025.2.rst
Labels: release notes

Network Egress for Edge Orchestrator
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/index.rst
Labels: deployment guide

build issue
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/index.rst
Labels: deployment guide

add infra-external force sync WA
  docs/developer_guide/infra_manager/tutorials/upgrade/onprem-workaround-guid.rst
Labels: developer guide

Update CO
  docs/release_notes/2025.2/rel_notes_2025.2.rst
Labels: release notes

added logs en logs collection step if o11y disabled
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/onprem_ao_co_o11y.rst
Labels: deployment guide

removed manual cloudinit config
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/onprem_ao_co_o11y.rst
Labels: deployment guide

added how to get ip
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/onprem_ao_co_o11y.rst
Labels: deployment guide

Fixing index
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/index.rst
  docs/shared/shared_mt_overview.rst
Labels: deployment guide

Update onprem_ao_co_o11y.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/onprem_ao_co_o11y.rst
Labels: deployment guide

updated doc for en logs
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/onprem_ao_co_o11y.rst
Labels: deployment guide

Fixing broken link and documentation
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/onprem_single_tenancy.rst
  docs/shared/shared_mt_overview.rst
Labels: deployment guide

Lint issue fix
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/onprem_single_tenancy.rst
  docs/shared/shared_mt_overview.rst
Labels: deployment guide

Adding Optional Single Tenancy docs (#268)
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/onprem_single_tenancy.rst
  docs/shared/shared_mt_overview.rst
Labels: deployment guide

Update onprem_ao_co_o11y.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/onprem_ao_co_o11y.rst
Labels: deployment guide

Update onprem_ao_co_o11y.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/onprem_ao_co_o11y.rst
Labels: deployment guide

Docs Update for supporting CVEs tracking feature in EMF
  docs/user_guide/advanced_functionality/images/os_profile_drawer.png
  docs/user_guide/advanced_functionality/images/os_profile_drawer_cves.png
  docs/user_guide/advanced_functionality/images/os_profile_drawer_existing_cves.png
  docs/user_guide/advanced_functionality/images/os_profile_drawer_fixed_cves.png
  docs/user_guide/advanced_functionality/images/os_profile_drawer_installed_packages.png
  docs/user_guide/advanced_functionality/view_os_profiles.rst
  docs/user_guide/set_up_edge_infra/edge_node_states/provisioned_host_details.rst
Labels: user guide

Corrected spelling mistakes
  docs/user_guide/advanced_functionality/view_os_profiles.rst
Labels: user guide

Updating few snapshots
  docs/user_guide/advanced_functionality/apply_new_os_update_policy.rst
  docs/user_guide/advanced_functionality/images/os-update-policy_immutable_kernel.png
  docs/user_guide/advanced_functionality/images/os-update-policy_link_to_host.png
  docs/user_guide/advanced_functionality/install_new_packages.rst
Labels: user guide

Updated changes for build and lint errors
  docs/developer_guide/infra_manager/arch/day2_flow.rst
  docs/user_guide/advanced_functionality/apply_new_os_update_policy.rst
  docs/user_guide/advanced_functionality/host_update_immutable_os.rst
  docs/user_guide/advanced_functionality/index.rst
  docs/user_guide/advanced_functionality/install_new_packages.rst
Labels: developer guide, user guide

User guide for the custom OS profile usage
  docs/user_guide/advanced_functionality/custom_os_profile.rst
Labels: user guide

Documentation changes for existing and fixed CVEs support in EMF 2025.2 (#280)
  docs/user_guide/advanced_functionality/images/os_profile_drawer.png
  docs/user_guide/advanced_functionality/images/os_profile_drawer_cves.png
  docs/user_guide/advanced_functionality/images/os_profile_drawer_existing_cves.png
  docs/user_guide/advanced_functionality/images/os_profile_drawer_fixed_cves.png
  docs/user_guide/advanced_functionality/images/os_profile_drawer_installed_packages.png
  docs/user_guide/advanced_functionality/view_os_profiles.rst
  docs/user_guide/set_up_edge_infra/edge_node_states/provisioned_host_details.rst
Labels: user guide
