Repository open-edge-platform/edge-manage-docs, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, root, base docs, api, deployment guide, developer guide, release notes, requirements, user guide

.github/labeler.yml:

---
# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# Config for https://github.com/actions/labeler

CI:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"
      - any-glob-to-any-file: "docconf/**"

base docs:
  - changed-files:
      - any-glob-to-any-file: "docs/*"
      - any-glob-to-any-file: "docs/_static/*"

api:
  - changed-files:
      - any-glob-to-any-file: "docs/api/**"

deployment guide:
  - changed-files:
      - any-glob-to-any-file: "docs/deployment_guide/**"
      - any-glob-to-any-file: "docs/shared/**"

developer guide:
  - changed-files:
      - any-glob-to-any-file: "docs/developer_guide/**"

release notes:
  - changed-files:
      - any-glob-to-any-file: "docs/release_notes/**"

requirements:
  - changed-files:
      - any-glob-to-any-file: "docs/system_requirements/**"

user guide:
  - changed-files:
      - any-glob-to-any-file: "docs/user_guide/**"

Update on_prem_install.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

Update comparison.rst
  docs/developer_guide/platform/arch/comparison.rst
Labels: developer guide

Update index.rst
  docs/developer_guide/platform/arch/index.rst
Labels: developer guide

Update comparison.rst
  docs/developer_guide/platform/arch/comparison.rst
Labels: developer guide

changes for ARGOCD
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

Update comparison.rst
  docs/developer_guide/platform/arch/comparison.rst
Labels: developer guide

coder vs onprem vs cloud(aws) (#185)
  docs/developer_guide/platform/arch/comparison.rst
  docs/developer_guide/platform/arch/index.rst
Labels: developer guide

user guide steps to configure the LVM partition size.
  docs/user_guide/advanced_functionality/configure_edgenode_lvm_parition.rst
Labels: user guide

Add subsections
  docs/user_guide/advanced_functionality/configure_edgenode_lvm_parition.rst
Labels: user guide

Update configure_edgenode_lvm_parition.rst
  docs/user_guide/advanced_functionality/configure_edgenode_lvm_parition.rst
Labels: user guide

Add configuration of LVM size during registration of edge node.
  docs/user_guide/advanced_functionality/configure_edgenode_lvm_parition.rst
  docs/user_guide/advanced_functionality/images/Secure-boot-enabled-partion-schema.png
  docs/user_guide/advanced_functionality/images/secureboot-disabled-partition-schema.png
Labels: user guide

Update on_prem_install.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

AO CLI doc update
  docs/user_guide/package_software/add_applications.rst
  docs/user_guide/package_software/add_registry.rst
  docs/user_guide/package_software/app_requirements.rst
  docs/user_guide/package_software/applications.rst
  docs/user_guide/package_software/edit_registry.rst
  docs/user_guide/package_software/image_pull_secret.rst
  docs/user_guide/package_software/orch_cli/orch_cli_guide.rst
  docs/user_guide/package_software/registry.rst
  docs/user_guide/package_software/registry_security.rst
Labels: user guide

onprem deploymnet open port
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_openport.rst
Labels: deployment guide

Update index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/index.rst
Labels: deployment guide

Update edit_registry.rst
  docs/user_guide/package_software/edit_registry.rst
Labels: user guide

chore: AO CLI doc update (#192)
  docs/user_guide/package_software/add_applications.rst
  docs/user_guide/package_software/add_registry.rst
  docs/user_guide/package_software/app_requirements.rst
  docs/user_guide/package_software/applications.rst
  docs/user_guide/package_software/edit_registry.rst
  docs/user_guide/package_software/image_pull_secret.rst
  docs/user_guide/package_software/orch_cli/orch_cli_guide.rst
  docs/user_guide/package_software/registry.rst
  docs/user_guide/package_software/registry_security.rst
Labels: user guide

doc: update
  docs/user_guide/advanced_functionality/set_up_a_cluster_template.rst
Labels: user guide

Guide on how to generate EMF cloud installer
  docs/deployment_guide/cloud_deployment/cloud_how_to/cloud_installer.rst
  docs/deployment_guide/cloud_deployment/cloud_how_to/index.rst
Labels: deployment guide

doc: update (#195)
  docs/user_guide/advanced_functionality/set_up_a_cluster_template.rst
Labels: user guide

doc: update
  docs/user_guide/advanced_functionality/set_up_a_cluster_template.rst
Labels: user guide

Guide on how to generate EMF cloud installer (#194)
  docs/deployment_guide/cloud_deployment/cloud_how_to/cloud_installer.rst
  docs/deployment_guide/cloud_deployment/cloud_how_to/index.rst
Labels: deployment guide

Update release notes
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

Format the text
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

Update LVM partition configuration documentation
  docs/user_guide/advanced_functionality/configure_edgenode_lvm_parition.rst
Labels: user guide

Update LVM configuration list formatting in docs
  docs/user_guide/advanced_functionality/configure_edgenode_lvm_parition.rst
Labels: user guide

Add spacing for clarity in LVM configuration docs
  docs/user_guide/advanced_functionality/configure_edgenode_lvm_parition.rst
Labels: user guide

Update dev env pw info
  docs/developer_guide/set_up_dev_env/dev_env_kind.rst
Labels: developer guide

LVM config changes release notes
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

Grafana UI with multi-project user release note
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

Add troubleshooting entry for observability
  docs/developer_guide/troubleshooting/o11y_access.rst
Labels: developer guide

Add troubleshooting and limitation notes for observability
  docs/developer_guide/troubleshooting/o11y_access.rst
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: developer guide, release notes

doc: update (#197)
  docs/user_guide/advanced_functionality/set_up_a_cluster_template.rst
Labels: user guide

Multi-tenancy Limitation: Users Can Access a Maximum of 40 Projects
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

Update version
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

Update release notes 3-1 to clarify ImagePullBackOff in Kyverno pods (#198)
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

Grafana UI with multi-project user release note (#201)
  docs/developer_guide/troubleshooting/o11y_access.rst
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: developer guide, release notes

Update rel_notes_3.1.rst
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

LVM config changes release notes (#200)
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

Update LVM configuration instructions in user guide
  docs/user_guide/advanced_functionality/configure_edgenode_lvm_parition.rst
  docs/user_guide/advanced_functionality/images/Secure-boot-enabled-partion-schema.png
  docs/user_guide/advanced_functionality/images/secureboot-disabled-partition-schema.png
  docs/user_guide/advanced_functionality/index.rst
Labels: user guide
