Repository open-edge-platform/edge-manage-docs, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, root, base docs, api, deployment guide, developer guide, release notes, requirements, user guide

Update on prem req (#41)
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/system_requirements_on_prem_orch.rst
  docs/developer_guide/set_up_dev_env/index.rst
Labels: deployment guide, developer guide

chore: add secret for teams notification (#40)
  .github/dependabot.yml
  .github/workflows/post-merge.yml
Labels: CI

chore: remove renamed flag
  .github/workflows/post-merge.yml
Labels: CI

chore: remove renamed flag (#43)
  .github/workflows/post-merge.yml
Labels: CI

add pod creation troubleshooting
  docs/deployment_guide/on_prem_deployment/on_prem_troubleshooting/index.rst
  docs/shared/shared_on_prem_rke2_deployment
Labels: deployment guide

Add license
  docs/shared/shared_on_prem_rke2_deployment
Labels: deployment guide

Added rst extension
  docs/shared/shared_on_prem_rke2_deployment.rst
Labels: deployment guide

add edit deployment page
  docs/user_guide/package_software/deployment_edit.rst
  docs/user_guide/package_software/images/edit_deploy1.png
  docs/user_guide/package_software/images/edit_deploy2.png
  docs/user_guide/package_software/images/upgrade_deploy1.png
Labels: user guide

Adding doc8 to the linter checks
  Makefile
Labels: root

adding edit page in TOC
  docs/user_guide/package_software/deployments.rst
Labels: user guide

fix lint issue
  docs/user_guide/package_software/deployment_edit.rst
Labels: user guide

resolve review comments
  docs/user_guide/package_software/deployment_edit.rst
Labels: user guide

add edit deployment page (#46)
  docs/user_guide/package_software/deployment_edit.rst
  docs/user_guide/package_software/deployments.rst
  docs/user_guide/package_software/images/edit_deploy1.png
  docs/user_guide/package_software/images/edit_deploy2.png
  docs/user_guide/package_software/images/upgrade_deploy1.png
Labels: user guide

Fix doc8 linter issues
  docs/deployment_guide/on_prem_deployment/on_prem_troubleshooting/index.rst
  docs/shared/shared_on_prem_rke2_deployment.rst
Labels: deployment guide

removing direct links to docs.openedgeplatform
  docs/developer_guide/infra_manager/arch/day2_flow.rst
  docs/developer_guide/infra_manager/arch/extensibility.rst
  docs/shared/shared_os_profile.rst
Labels: deployment guide, developer guide

add pod creation troubleshooting (#45)
  docs/deployment_guide/on_prem_deployment/on_prem_troubleshooting/index.rst
  docs/shared/shared_on_prem_rke2_deployment.rst
Labels: deployment guide

Initial 3.1 release with improved structure
  docs/release_notes/3.0/containers_helm_charts_3.0.rst
  docs/release_notes/3.0/kpi_3.0.rst
  docs/release_notes/3.0/rel_notes_3.0.rst
  docs/release_notes/3.0/third_party_components_3.0.rst
  docs/release_notes/3.0/version_3.0.rst
  docs/release_notes/3.1/containers_helm_charts_3.1.rst
  docs/release_notes/3.1/kpi_3.1.rst
  docs/release_notes/3.1/rel_notes_3.1.rst
  docs/release_notes/3.1/third_party_components_3.1.rst
  docs/release_notes/3.1/version_3.1.rst
  docs/release_notes/index.rst
Labels: release notes

correct refs
  docs/developer_guide/infra_manager/arch/extensibility.rst
  docs/shared/shared_os_profile.rst
Labels: deployment guide, developer guide

Removing direct links to docs.openedgeplatform (#49)
  docs/developer_guide/infra_manager/arch/day2_flow.rst
  docs/developer_guide/infra_manager/arch/extensibility.rst
  docs/shared/shared_os_profile.rst
Labels: deployment guide, developer guide

Fix Developer Environment tool setup
  docs/developer_guide/set_up_dev_env/index.rst
Labels: developer guide

Updated Makefile to include sphinx-spelling linting
  Makefile
  dict.txt
  docs/deployment_guide/cloud_deployment/cloud_advanced/cloud_alerts.rst
  docs/developer_guide/app_orch/arch/performance.rst
  docs/developer_guide/application_developer_workflow/deployment-packages/application-yaml-reference.rst
  docs/developer_guide/application_developer_workflow/deployment-packages/registry-yaml-reference.rst
  docs/developer_guide/contributor_guide/code_contribution.rst
  docs/developer_guide/contributor_guide/make_workflow.rst
  docs/developer_guide/contributor_guide/versioning.rst
  docs/developer_guide/troubleshooting/capture_logs.rst
  docs/shared/shared_os_profile.rst
  docs/user_guide/additional_howtos/alerts_config.rst
  docs/user_guide/additional_howtos/set_up_a_cluster_template.rst
  docs/user_guide/package_software/extensions/kubernetes_dashboard.rst
  docs/user_guide/package_software/extensions/sriov_package.rst
  docs/user_guide/set_up_edge_infra/delete_host.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard_asus_system.rst
  docs/user_guide/set_up_edge_infra/edge_node_registration.rst
  docs/user_guide/troubleshooting/deploy_issue.rst
Labels: root, deployment guide, developer guide, user guide

Updated Makefile to include sphinx-spelling linting
  Makefile
  dict.txt
Labels: root

Updated Makefile to include sphinx-spelling linting
  docs/developer_guide/contributor_guide/make_workflow.rst
  docs/shared/shared_os_profile.rst
Labels: deployment guide, developer guide

[Documentation] Updated Makefile to include sphinx-spelling linting (#51)
  Makefile
  dict.txt
  docs/deployment_guide/cloud_deployment/cloud_advanced/cloud_alerts.rst
  docs/developer_guide/app_orch/arch/performance.rst
  docs/developer_guide/application_developer_workflow/deployment-packages/application-yaml-reference.rst
  docs/developer_guide/application_developer_workflow/deployment-packages/registry-yaml-reference.rst
  docs/developer_guide/contributor_guide/code_contribution.rst
  docs/developer_guide/contributor_guide/make_workflow.rst
  docs/developer_guide/contributor_guide/versioning.rst
  docs/developer_guide/troubleshooting/capture_logs.rst
  docs/user_guide/additional_howtos/alerts_config.rst
  docs/user_guide/additional_howtos/set_up_a_cluster_template.rst
  docs/user_guide/package_software/extensions/kubernetes_dashboard.rst
  docs/user_guide/package_software/extensions/sriov_package.rst
  docs/user_guide/set_up_edge_infra/delete_host.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard_asus_system.rst
  docs/user_guide/set_up_edge_infra/edge_node_registration.rst
  docs/user_guide/troubleshooting/deploy_issue.rst
Labels: root, deployment guide, developer guide, user guide

initial commit for ITEP-26586
  docs/user_guide/troubleshooting/en_recover.rst
Labels: user guide

Fix orch_upgrade document
  docs/developer_guide/infra_manager/tutorials/upgrade/orch_upgrade.rst
Labels: developer guide

Fix
  docs/developer_guide/infra_manager/tutorials/upgrade/orch_upgrade.rst
Labels: developer guide

Fix
  docs/developer_guide/infra_manager/tutorials/upgrade/orch_upgrade.rst
Labels: developer guide

Fix
  docs/developer_guide/infra_manager/tutorials/upgrade/orch_upgrade.rst
Labels: developer guide

Fix
  docs/developer_guide/infra_manager/tutorials/upgrade/orch_upgrade.rst
Labels: developer guide

Fix
  docs/developer_guide/infra_manager/tutorials/upgrade/orch_upgrade.rst
Labels: developer guide

Fix
  docs/developer_guide/infra_manager/tutorials/upgrade/orch_upgrade.rst
Labels: developer guide

Fix
  docs/developer_guide/infra_manager/tutorials/upgrade/orch_upgrade.rst
Labels: developer guide

Fix
  docs/developer_guide/infra_manager/tutorials/upgrade/orch_upgrade.rst
Labels: developer guide

Fix
  docs/developer_guide/infra_manager/tutorials/upgrade/orch_upgrade.rst
Labels: developer guide

Fix
  docs/developer_guide/infra_manager/tutorials/upgrade/orch_upgrade.rst
Labels: developer guide

Fix
  docs/developer_guide/infra_manager/tutorials/upgrade/orch_upgrade.rst
Labels: developer guide

Remove coder related steps
  docs/developer_guide/infra_manager/tutorials/upgrade/orch_upgrade.rst
Labels: developer guide

Aligning minimum requirements for dev and on-prem
  docs/developer_guide/set_up_dev_env/index.rst
Labels: developer guide

Comments addressed
  docs/developer_guide/infra_manager/tutorials/upgrade/orch_upgrade.rst
Labels: developer guide

.github/labeler.yml:

---
# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# Config for https://github.com/actions/labeler

CI:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"
      - any-glob-to-any-file: "docconf/**"

base docs:
  - changed-files:
      - any-glob-to-any-file: "docs/*"
      - any-glob-to-any-file: "docs/_static/*"

api:
  - changed-files:
      - any-glob-to-any-file: "docs/api/**"

deployment guide:
  - changed-files:
      - any-glob-to-any-file: "docs/deployment_guide/**"
      - any-glob-to-any-file: "docs/shared/**"

developer guide:
  - changed-files:
      - any-glob-to-any-file: "docs/developer_guide/**"

release notes:
  - changed-files:
      - any-glob-to-any-file: "docs/release_notes/**"

requirements:
  - changed-files:
      - any-glob-to-any-file: "docs/system_requirements/**"

user guide:
  - changed-files:
      - any-glob-to-any-file: "docs/user_guide/**"
