Repository open-edge-platform/edge-manage-docs, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, root, base docs, api, deployment guide, developer guide, release notes, requirements, user guide

feat: 2026.0 upgrade Documentation Update (#415)
  docs/deployment_guide/cloud_deployment/cloud_how_to/cloud_upgrade.rst
Labels: deployment guide

add release note for vbu apps
  docs/release_notes/2026.0/rel_notes_2026.0.rst
Labels: release notes

Updated known issue
  docs/release_notes/2026.0/rel_notes_2026.0.rst
Labels: release notes

refractor with mentioning npu profile
  docs/release_notes/2026.0/rel_notes_2026.0.rst
Labels: release notes

add release note for vbu apps and npu support (#423)
  docs/release_notes/2026.0/rel_notes_2026.0.rst
Labels: release notes

Update orch-cli version in docs (#406)
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: user guide

Update the custom OS profile user guide
  docs/user_guide/advanced_functionality/custom_os_profile.rst
Labels: user guide

Fix CI error
  docs/user_guide/advanced_functionality/custom_os_profile.rst
Labels: user guide

Update the custom OS profile user guide (#424)
  docs/user_guide/advanced_functionality/custom_os_profile.rst
Labels: user guide

Added day-2 workflows
  docs/workflows/day-2-operations/index.rst
  docs/workflows/day-2-operations/install-package-on-edge-node-mutable-os.rst
  docs/workflows/day-2-operations/rollback.rst
  docs/workflows/day-2-operations/upgrade-edge-node-immutable-os-software.rst
  docs/workflows/day-2-operations/upgrade-rollback.rst
Labels: none

fix lint error
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
Labels: deployment guide

updated onprem-upgrade troubleshooting section (#418)
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
Labels: deployment guide

correct onprem path
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
Labels: deployment guide

correct onprem path (#426)
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
Labels: deployment guide

Update version in kpi document
  docs/release_notes/2026.0/kpi_2026.0.rst
Labels: release notes

Fix linter issue
  docs/release_notes/2026.0/rel_notes_2026.0.rst
Labels: release notes

Added site search issue in the UI known issues list
  docs/release_notes/2026.0/rel_notes_2026.0.rst
Labels: release notes

Formatting issue fix
  docs/release_notes/2026.0/rel_notes_2026.0.rst
Labels: release notes

Release Notes 2026.0 (#408)
  docs/release_notes/2026.0/containers_helm_charts_2026.0.rst
  docs/release_notes/2026.0/kpi_2026.0.rst
  docs/release_notes/2026.0/rel_notes_2026.0.rst
  docs/release_notes/2026.0/third_party_components_2026.0.rst
  docs/release_notes/2026.0/version_2026.0.rst
  docs/release_notes/index.rst
Labels: release notes

Update docs/workflows/day-2-operations/upgrade-edge-node-immutable-os-software.rst
  docs/workflows/day-2-operations/upgrade-edge-node-immutable-os-software.rst
Labels: none

Updated for review comments
  docs/workflows/day-2-operations/automation-and-scale.rst
  docs/workflows/day-2-operations/install-package-on-edge-node-mutable-os.rst
  docs/workflows/day-2-operations/o11y-ops.rst
  docs/workflows/day-2-operations/rollback.rst
  docs/workflows/day-2-operations/upgrade-edge-node-immutable-os-software.rst
Labels: none

Update EIM API description (#398)
  docs/api/edge_infra_manager.rst
Labels: api

Added day-2 workflows (#425)
  docs/workflows/day-2-operations/automation-and-scale.rst
  docs/workflows/day-2-operations/index.rst
  docs/workflows/day-2-operations/install-package-on-edge-node-mutable-os.rst
  docs/workflows/day-2-operations/o11y-ops.rst
  docs/workflows/day-2-operations/upgrade-edge-node-immutable-os-software.rst
  docs/workflows/day-2-operations/upgrade-rollback.rst
Labels: none

doc link update vbu apps
  docs/user_guide/intel_solutions/index.rst
Labels: user guide

Updating the releaae notes
  docs/release_notes/2026.0/rel_notes_2026.0.rst
  docs/substitutions.txt
Labels: base docs, release notes

doc link update vbu apps (#427)
  docs/user_guide/intel_solutions/index.rst
Labels: user guide

Updating the releaae notes (#428)
  docs/release_notes/2026.0/rel_notes_2026.0.rst
  docs/substitutions.txt
Labels: base docs, release notes

removed enic
  docs/developer_guide/set_up_dev_env/dev_env_kind.rst
  docs/developer_guide/set_up_dev_env/index.rst
Labels: developer guide

Update dev_env_kind.rst
  docs/developer_guide/set_up_dev_env/dev_env_kind.rst
Labels: developer guide

Update dev_env_kind.rst
  docs/developer_guide/set_up_dev_env/dev_env_kind.rst
Labels: developer guide

Initial commit for 2026.1.0 release
  VERSION
Labels: root

fix lint error
  docs/developer_guide/set_up_dev_env/dev_env_kind.rst
Labels: developer guide

removed enic (#429)
  docs/developer_guide/set_up_dev_env/dev_env_kind.rst
  docs/developer_guide/set_up_dev_env/index.rst
Labels: developer guide

removed enic (#429)
  docs/developer_guide/set_up_dev_env/dev_env_kind.rst
  docs/developer_guide/set_up_dev_env/index.rst
Labels: developer guide

removed enic (#429) (#432)
  docs/developer_guide/set_up_dev_env/dev_env_kind.rst
  docs/developer_guide/set_up_dev_env/index.rst
Labels: developer guide

2026.0 KPI Update
  docs/release_notes/2026.0/kpi_2026.0.rst
Labels: release notes

day-2 mutable os
  docs/release_notes/2026.0/rel_notes_2026.0.rst
Labels: release notes

data-flow error diagram error fix
  docs/modular_workflows/vpro-amt-ism/data_flow.rst
Labels: none

data-flow error diagram error fix (#434)
  docs/modular_workflows/vpro-amt-ism/data_flow.rst
Labels: none

Update to release 2026.0.0
  VERSION
Labels: root

.github/labeler.yml:

---
# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# Config for https://github.com/actions/labeler

CI:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"
      - any-glob-to-any-file: "docconf/**"

base docs:
  - changed-files:
      - any-glob-to-any-file: "docs/*"
      - any-glob-to-any-file: "docs/_static/*"

api:
  - changed-files:
      - any-glob-to-any-file: "docs/api/**"

deployment guide:
  - changed-files:
      - any-glob-to-any-file: "docs/deployment_guide/**"
      - any-glob-to-any-file: "docs/shared/**"

developer guide:
  - changed-files:
      - any-glob-to-any-file: "docs/developer_guide/**"

release notes:
  - changed-files:
      - any-glob-to-any-file: "docs/release_notes/**"

requirements:
  - changed-files:
      - any-glob-to-any-file: "docs/system_requirements/**"

user guide:
  - changed-files:
      - any-glob-to-any-file: "docs/user_guide/**"
