Repository open-edge-platform/edge-manage-docs, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, root, base docs, api, deployment guide, developer guide, release notes, requirements, user guide

add physical ai docs
  spokes.yml
Labels: root

add a card for physical ai
  src/hub-catalog.ts
Labels: none

Include KVM and SOL Session Management section in userguide
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: user guide

updated user guide
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: user guide

updated doc
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: user guide

updated doc
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: user guide

Include KVM and SOL Session Management section in userguide (#489)
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: user guide

KVM and SOL Updates rel_notes_2026.1
  docs/release_notes/2026.1/rel_notes_2026.1.rst
Labels: release notes

Update rel_notes_2026.1.rst
  docs/release_notes/2026.1/rel_notes_2026.1.rst
Labels: release notes

updated release note with CAPI replacement
  docs/release_notes/2026.1/rel_notes_2026.1.rst
Labels: release notes

Updated KVM/SOL known issues
  docs/user_guide/troubleshooting/amt_issues.rst
Labels: user guide

Fix documentation related to updates (#484)
  docs/user_guide/advanced_functionality/apply_new_os_update_policy.rst
  docs/user_guide/advanced_functionality/images/os-update-policy_mutable_kernel_and_packages.png
  docs/user_guide/advanced_functionality/images/os-update-policy_update_packages.png
  docs/user_guide/advanced_functionality/install_new_packages.rst
Labels: user guide

Describe fixed issues in Day2 updates
  docs/release_notes/2026.1/rel_notes_2026.1.rst
Labels: release notes

Remove empty line
  docs/release_notes/2026.1/rel_notes_2026.1.rst
Labels: release notes

changes for onprem deployment
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

Potential fix for pull request finding
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

updated version
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

Apply suggestions from code review
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

workflow refactoring
  .github/actions/pr-comment/action.yaml
  .github/actions/validate-dispatch/action.yaml
  .github/workflows/deploy.yml
  .github/workflows/main.yml
  CONTRIBUTING.md
  README.md
Labels: CI, root

workflow refactoring
  .github/workflows/main.yml
Labels: CI

workflow refactoring]
  .github/workflows/main.yml
Labels: CI

workflow refactoring
  .github/workflows/main.yml
Labels: CI

add manual workflow dispatch
  .github/workflows/main.yml
Labels: CI

changes for build fix
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

fix: step id mismatch compute-parameters → compute
  .github/workflows/main.yml
Labels: CI

fix: grant required permissions for reusable workflow calls
  .github/workflows/main.yml
Labels: CI

fix: compact spoke_matrix JSON to prevent multiline GITHUB_OUTPUT corruption
  .github/workflows/main.yml
Labels: CI

refactor: derive BASE_URL from s3_path in deploy.yml, remove base_url from matrix entries
  .github/workflows/deploy.yml
  .github/workflows/main.yml
Labels: CI

refactor: simplify workflow_dispatch to target/spoke_id, unify with deploy dispatch
  .github/workflows/main.yml
Labels: CI

docs: add manual deployment section to README
  README.md
Labels: root

header styling
  src/components/CardDetails/CardDetails.module.css
  src/components/CardDetails/index.tsx
  src/components/Section/Section.module.css
  src/components/Section/Section.tsx
  src/css/custom.css
  src/css/typography.css
  src/hub-catalog.ts
  src/pages/index.module.css
  src/pages/index.tsx
  src/sections/HomePageHeader.module.css
  src/sections/HomePageHeader.tsx
  static/fonts/roboto-flex-v30-latin-regular.woff2
  static/img/ai.png
  static/img/backgrounds/gradient-background-blue-textured.png
  static/img/hardware.png
  static/img/performance.png
  static/video/energy_flows.mp4
Labels: none

code snipets
  package-lock.json
  package.json
  src/components/Code/Code.module.css
  src/components/Code/Code.tsx
  src/components/Code/codeTheme.ts
  src/components/Code/image.png
  src/components/DottedCardDetails/DottedCardDetails.module.css
  src/components/DottedCardDetails/DottedCardDetails.tsx
  src/components/EcosystemSection/index.tsx
  src/components/EcosystemSection/styles.module.css
  src/css/custom.css
  src/pages/index.tsx
  src/sections/Ecosystem.module.css
  src/sections/Ecosystem.tsx
  src/sections/HomePageHeader.tsx
  src/types/images.d.ts
  static/img/ecosystem.png
Labels: root

performance section
  src/components/Code/Code.module.css
  src/components/DottedCardDetails/DottedCardDetails.tsx
  src/components/Section/Section.module.css
  src/components/Section/Section.tsx
  src/pages/index.tsx
  src/sections/Ecosystem.tsx
  src/sections/HomePageHeader.tsx
  src/sections/InstallOpenvino.module.css
  src/sections/InstallOpenvino.tsx
  src/sections/Performance.module.css
  src/sections/Performance.tsx
  static/img/max-performance.png
  static/img/openvino-runtime.png
  static/img/performance.png
  static/img/throughput-runtime.png
Labels: none

installation section
  src/components/DottedCardDetails/DottedCardDetails.module.css
  src/components/DottedCardDetails/DottedCardDetails.tsx
  src/components/Link/Link.module.css
  src/components/Link/Link.tsx
  src/css/custom.css
  src/pages/index.tsx
  src/sections/Ecosystem.module.css
  src/sections/InstallOpenvino.module.css
  src/sections/InstallOpenvino.tsx
  static/img/install.png
  static/img/left-right-connector.svg
  static/img/openvino-ir.png
  static/img/optimize-model.png
  static/img/right-left-connector.svg
  static/img/run-and-infer.png
Labels: none

code details with tabs
  docusaurus.config.ts
  src/components/CardDetails/CardDetails.module.css
  src/components/Code/Code.module.css
  src/components/DottedCardDetails/DottedCardDetails.module.css
  src/components/DottedCardDetails/DottedCardDetails.tsx
  src/components/Section/Section.module.css
  src/css/footer.css
  src/sections/Ecosystem.tsx
  src/sections/InstallOpenvino.module.css
  src/sections/InstallOpenvino.tsx
  src/sections/Performance.tsx
Labels: root

hub catalog renaming
  src/hub-catalog.ts
Labels: none

optimized illustration
  src/components/Section/Section.module.css
  src/css/custom.css
  src/sections/InstallOpenvino.module.css
  src/sections/InstallOpenvino.tsx
  src/sections/Performance.module.css
  src/sections/Performance.tsx
  static/img/openvino-ir.png
  static/img/openvino-runtime.png
  static/img/optimize-model.png
  static/img/throughput-runtime.png
Labels: none

hook up openVINO links
  src/hooks/use-spoke-href.ts
  src/hub-catalog.ts
  src/sections/Ecosystem.tsx
  src/sections/InstallOpenvino.module.css
  src/sections/InstallOpenvino.tsx
  src/sections/Performance.tsx
Labels: none

fix broken imports
  src/pages/index.tsx
Labels: none

fix static media items links
  src/hooks/use-asset-url.ts
  src/sections/Ecosystem.tsx
  src/sections/HomePageHeader.tsx
  src/sections/InstallOpenvino.tsx
  src/sections/Performance.tsx
Labels: none

.github/labeler.yml:

---
# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# Config for https://github.com/actions/labeler

CI:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"
      - any-glob-to-any-file: "docconf/**"

base docs:
  - changed-files:
      - any-glob-to-any-file: "docs/*"
      - any-glob-to-any-file: "docs/_static/*"

api:
  - changed-files:
      - any-glob-to-any-file: "docs/api/**"

deployment guide:
  - changed-files:
      - any-glob-to-any-file: "docs/deployment_guide/**"
      - any-glob-to-any-file: "docs/shared/**"

developer guide:
  - changed-files:
      - any-glob-to-any-file: "docs/developer_guide/**"

release notes:
  - changed-files:
      - any-glob-to-any-file: "docs/release_notes/**"

requirements:
  - changed-files:
      - any-glob-to-any-file: "docs/system_requirements/**"

user guide:
  - changed-files:
      - any-glob-to-any-file: "docs/user_guide/**"
