Repository open-edge-platform/edge-manage-docs, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, root, base docs, api, deployment guide, developer guide, release notes, requirements, user guide

Adding EIM only KPIs and setting proper minimum on-prem requirements
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/system_requirements_on_prem_orch.rst
  docs/release_notes/kpi_3.0.rst
Labels: deployment guide, release notes

Adding EIM only KPIs and setting proper minimum on-prem requirements (#33)
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/system_requirements_on_prem_orch.rst
  docs/release_notes/kpi_3.0.rst
Labels: deployment guide, release notes

Upgrade v3.0 to 3.1
  docs/developer_guide/infra_manager/tutorials/upgrade/index.rst
  docs/developer_guide/infra_manager/tutorials/upgrade/orch_upgrade.rst
Labels: developer guide

Add upgrade to index
  docs/developer_guide/infra_manager/tutorials/index.rst
  docs/developer_guide/infra_manager/tutorials/upgrade/orch_upgrade.rst
Labels: developer guide

Add images
  docs/developer_guide/infra_manager/tutorials/upgrade/images/rollback-example.png
  docs/developer_guide/infra_manager/tutorials/upgrade/images/rollback-tab.png
  docs/developer_guide/infra_manager/tutorials/upgrade/index.rst
  docs/developer_guide/infra_manager/tutorials/upgrade/orch_upgrade.rst
Labels: developer guide

Add images
  docs/developer_guide/infra_manager/tutorials/upgrade/images/rollback-example.png
  docs/developer_guide/infra_manager/tutorials/upgrade/images/rollback-tab.png
Labels: developer guide

Fixes
  docs/developer_guide/infra_manager/tutorials/upgrade/index.rst
Labels: developer guide

Fixes
  docs/developer_guide/infra_manager/tutorials/upgrade/orch_upgrade.rst
Labels: developer guide

Update CODEOWNERS (#30)
  .github/CODEOWNERS
Labels: CI

Update troubleshooting page when deploying onprem
  docs/deployment_guide/on_prem_deployment/on_prem_troubleshooting/index.rst
  docs/developer_guide/set_up_dev_env/index.rst
  docs/shared/shared_on_prem_rs_proxy
Labels: deployment guide, developer guide

Update orch_upgrade.rst
  docs/developer_guide/infra_manager/tutorials/upgrade/orch_upgrade.rst
Labels: developer guide

Update index.rst
  docs/developer_guide/infra_manager/tutorials/upgrade/index.rst
Labels: developer guide

Fix
  docs/developer_guide/infra_manager/tutorials/upgrade/index.rst
Labels: developer guide

Add file extension
  docs/shared/shared_on_prem_rs_proxy.rst
Labels: deployment guide

Fix tag
  docs/developer_guide/set_up_dev_env/index.rst
  docs/shared/shared_on_prem_rs_proxy.rst
Labels: deployment guide, developer guide

Update troubleshooting page when deploying on-prem (#36)
  docs/deployment_guide/on_prem_deployment/on_prem_troubleshooting/index.rst
  docs/developer_guide/set_up_dev_env/index.rst
  docs/shared/shared_on_prem_rs_proxy.rst
Labels: deployment guide, developer guide

Fixes based on comments
  docs/developer_guide/infra_manager/tutorials/upgrade/orch_upgrade.rst
Labels: developer guide

fix lint errors
  docs/developer_guide/application_developer_workflow/deployment-packages/reference-placeholders.rst
Labels: developer guide

address review comments
  docs/developer_guide/app_orch/tutorials/deployment-packages/index.rst
  docs/user_guide/package_software/access_deploy.rst
Labels: developer guide, user guide

Add DP yaml specification
  docs/developer_guide/application_developer_workflow/deployment-packages/application-yaml-reference.rst
  docs/developer_guide/application_developer_workflow/deployment-packages/deployment-package-yaml-reference.rst
  docs/user_guide/additional_howtos/deploy_pkg_ns.rst
  docs/user_guide/additional_howtos/index.rst
Labels: developer guide, user guide

ITEP-67065 App Orch updates
  docs/developer_guide/app_orch/tutorials/deploying-applications/edit-image-location.rst
  docs/developer_guide/app_orch/tutorials/deploying-applications/index.rst
  docs/developer_guide/app_orch/tutorials/deployment-packages/index.rst
  docs/developer_guide/application_developer_workflow/deployment-packages/application-yaml-reference.rst
  docs/developer_guide/application_developer_workflow/deployment-packages/deployment-package-yaml-reference.rst
  docs/developer_guide/application_developer_workflow/deployment-packages/index.rst
  docs/developer_guide/application_developer_workflow/deployment-packages/reference-placeholders.rst
  docs/developer_guide/application_developer_workflow/images/helm-docker-oci-root-url.png
  docs/developer_guide/application_developer_workflow/index.rst
  docs/user_guide/package_software/image_pull_secret.rst
Labels: developer guide, user guide

fix lint errors
  docs/developer_guide/application_developer_workflow/deployment-packages/application-yaml-reference.rst
  docs/developer_guide/application_developer_workflow/deployment-packages/deployment-package-yaml-reference.rst
Labels: developer guide

fix lint errors
  docs/developer_guide/application_developer_workflow/deployment-packages/deployment-package-yaml-reference.rst
Labels: developer guide

added ADM dashboard doc
  docs/developer_guide/app_orch/arch/images/import_adm_grafana_dashboard.png
  docs/developer_guide/app_orch/arch/images/view_adm_grafana_dashboard.png
  docs/developer_guide/app_orch/arch/index.rst
  docs/developer_guide/app_orch/arch/performance.rst
Labels: developer guide

adding application.yaml reference
  docs/developer_guide/application_developer_workflow/deployment-packages/application-yaml-reference.rst
  docs/user_guide/troubleshooting/deploy_issue.rst
Labels: developer guide, user guide

link the hell out of everything and remove duplicate text
  docs/developer_guide/app_orch/tutorials/deployment-packages/index.rst
  docs/developer_guide/application_developer_workflow/deployment-helm/index.rst
  docs/developer_guide/application_developer_workflow/deployment-packages/application-yaml-reference.rst
  docs/developer_guide/application_developer_workflow/deployment-packages/deployment-package-yaml-reference.rst
  docs/developer_guide/application_developer_workflow/deployment-packages/index.rst
  docs/developer_guide/application_developer_workflow/deployment-packages/reference-placeholders.rst
  docs/developer_guide/application_developer_workflow/deployment-packages/registry-yaml-reference.rst
  docs/user_guide/package_software/add_applications.rst
  docs/user_guide/package_software/add_deploy_pack.rst
  docs/user_guide/package_software/add_registry.rst
  docs/user_guide/package_software/app_profile.rst
  docs/user_guide/package_software/applications.rst
  docs/user_guide/package_software/deploy_packages.rst
  docs/user_guide/package_software/edit_application.rst
  docs/user_guide/package_software/edit_deploy_pack.rst
  docs/user_guide/package_software/edit_registry.rst
  docs/user_guide/package_software/import_deployment.rst
Labels: developer guide, user guide

ITEP-67065 App Orch updates for 3.1 (#34)
  docs/developer_guide/app_orch/arch/images/import_adm_grafana_dashboard.png
  docs/developer_guide/app_orch/arch/images/view_adm_grafana_dashboard.png
  docs/developer_guide/app_orch/arch/index.rst
  docs/developer_guide/app_orch/arch/performance.rst
  docs/developer_guide/app_orch/tutorials/deploying-applications/edit-image-location.rst
  docs/developer_guide/app_orch/tutorials/deploying-applications/index.rst
  docs/developer_guide/app_orch/tutorials/deployment-packages/index.rst
  docs/developer_guide/application_developer_workflow/deployment-helm/index.rst
  docs/developer_guide/application_developer_workflow/deployment-packages/application-yaml-reference.rst
  docs/developer_guide/application_developer_workflow/deployment-packages/deployment-package-yaml-reference.rst
  docs/developer_guide/application_developer_workflow/deployment-packages/index.rst
  docs/developer_guide/application_developer_workflow/deployment-packages/reference-placeholders.rst
  docs/developer_guide/application_developer_workflow/deployment-packages/registry-yaml-reference.rst
  docs/developer_guide/application_developer_workflow/images/helm-docker-oci-root-url.png
  docs/developer_guide/application_developer_workflow/index.rst
  docs/user_guide/additional_howtos/deploy_pkg_ns.rst
  docs/user_guide/additional_howtos/index.rst
  docs/user_guide/package_software/access_deploy.rst
  docs/user_guide/package_software/add_applications.rst
  docs/user_guide/package_software/add_deploy_pack.rst
  docs/user_guide/package_software/add_registry.rst
  docs/user_guide/package_software/app_profile.rst
  docs/user_guide/package_software/applications.rst
  docs/user_guide/package_software/deploy_packages.rst
  docs/user_guide/package_software/edit_application.rst
  docs/user_guide/package_software/edit_deploy_pack.rst
  docs/user_guide/package_software/edit_registry.rst
  docs/user_guide/package_software/image_pull_secret.rst
  docs/user_guide/package_software/import_deployment.rst
  docs/user_guide/troubleshooting/deploy_issue.rst
Labels: developer guide, user guide

Fix app-orch tutorial
  docs/developer_guide/app_orch/tutorials/accessing-applications/index.rst
  docs/developer_guide/app_orch/tutorials/deploying-applications/deploying.rst
  docs/developer_guide/app_orch/tutorials/deploying-applications/index.rst
  docs/developer_guide/app_orch/tutorials/deployment-packages/index.rst
  docs/developer_guide/app_orch/tutorials/images/app-orch-deploy-tutorial-2.png
  docs/developer_guide/app_orch/tutorials/images/app-orch-deploy-tutorial-3.png
  docs/developer_guide/app_orch/tutorials/images/app-orch-deploy-tutorial-6.png
  docs/developer_guide/app_orch/tutorials/images/app-orch-deploy-tutorial.png
  docs/developer_guide/app_orch/tutorials/images/app-orch-deploy-view.png
  docs/developer_guide/app_orch/tutorials/images/app-orch-tutorial-app-service-proxy.png
  docs/developer_guide/app_orch/tutorials/images/app-orch-tutorial-deployed.png
  docs/developer_guide/application_developer_workflow/deployment-packages/application-yaml-reference.rst
  docs/developer_guide/application_developer_workflow/deployment-packages/deployment-package-yaml-reference.rst
  docs/developer_guide/application_developer_workflow/deployment-packages/index.rst
Labels: developer guide

bump DP version
  docs/developer_guide/app_orch/tutorials/deployment-packages/index.rst
Labels: developer guide

Fix app-orch tutorial (#37)
  docs/developer_guide/app_orch/tutorials/accessing-applications/index.rst
  docs/developer_guide/app_orch/tutorials/deploying-applications/deploying.rst
  docs/developer_guide/app_orch/tutorials/deploying-applications/index.rst
  docs/developer_guide/app_orch/tutorials/deployment-packages/index.rst
  docs/developer_guide/app_orch/tutorials/images/app-orch-deploy-tutorial-2.png
  docs/developer_guide/app_orch/tutorials/images/app-orch-deploy-tutorial-3.png
  docs/developer_guide/app_orch/tutorials/images/app-orch-deploy-tutorial-6.png
  docs/developer_guide/app_orch/tutorials/images/app-orch-deploy-tutorial.png
  docs/developer_guide/app_orch/tutorials/images/app-orch-deploy-view.png
  docs/developer_guide/app_orch/tutorials/images/app-orch-tutorial-app-service-proxy.png
  docs/developer_guide/app_orch/tutorials/images/app-orch-tutorial-deployed.png
  docs/developer_guide/application_developer_workflow/deployment-packages/application-yaml-reference.rst
  docs/developer_guide/application_developer_workflow/deployment-packages/deployment-package-yaml-reference.rst
  docs/developer_guide/application_developer_workflow/deployment-packages/index.rst
Labels: developer guide

Upgrade v3.0 to 3.1 (#35)
  docs/developer_guide/infra_manager/tutorials/index.rst
  docs/developer_guide/infra_manager/tutorials/upgrade/images/rollback-example.png
  docs/developer_guide/infra_manager/tutorials/upgrade/images/rollback-tab.png
  docs/developer_guide/infra_manager/tutorials/upgrade/index.rst
  docs/developer_guide/infra_manager/tutorials/upgrade/orch_upgrade.rst
Labels: developer guide

ven docs update
  docs/deployment_guide/index.rst
  docs/deployment_guide/virtual_edge_node_deployment/baremetal_deployment.rst
  docs/deployment_guide/virtual_edge_node_deployment/cloud_deployment.rst
  docs/deployment_guide/virtual_edge_node_deployment/deployment.rst
  docs/deployment_guide/virtual_edge_node_deployment/images/kvm_not_supported.png
  docs/developer_guide/virtual_edge_node/index.rst
  docs/user_guide/index.rst
  docs/user_guide/virtual_edge_node/index.rst
  docs/user_guide/virtual_edge_node/tutorials/example1_io_flow.rst
  docs/user_guide/virtual_edge_node/tutorials/example2_nio_default_serial_nums.rst
  docs/user_guide/virtual_edge_node/tutorials/example3_nio_custom_serial_nums.rst
  docs/user_guide/virtual_edge_node/tutorials/example4_auto_provision_false.rst
  docs/user_guide/virtual_edge_node/tutorials/images/Microvisor_os_resource.png
  docs/user_guide/virtual_edge_node/tutorials/images/Microvisor_provider.png
  docs/user_guide/virtual_edge_node/tutorials/images/Ubuntu_os.png
  docs/user_guide/virtual_edge_node/tutorials/images/Ubuntu_os_provider.png
  docs/user_guide/virtual_edge_node/tutorials/images/autoProvision_false.png
  docs/user_guide/virtual_edge_node/tutorials/images/autoProvision_true.png
  docs/user_guide/virtual_edge_node/tutorials/images/host-status.png
  docs/user_guide/virtual_edge_node/tutorials/index.rst
  docs/user_guide/virtual_edge_node/usage/deploy_virtual_edge_node.rst
  docs/user_guide/virtual_edge_node/usage/getting_started.rst
  docs/user_guide/virtual_edge_node/usage/how_it_works_content.rst
  docs/user_guide/virtual_edge_node/usage/images/Microvisor_Provision.png
  docs/user_guide/virtual_edge_node/usage/images/Security_feature.png
  docs/user_guide/virtual_edge_node/usage/images/UbuntuOS_Provision.png
  docs/user_guide/virtual_edge_node/usage/images/provider_config.png
  docs/user_guide/virtual_edge_node/usage/index.rst
  docs/user_guide/virtual_edge_node/usage/manage_virtual_edge_node.rst
  docs/user_guide/virtual_edge_node/usage/setup_virtual_edge_node.rst
Labels: deployment guide, developer guide, user guide

Add note in the installer to refer to weekly release
  docs/deployment_guide/cloud_deployment/cloud_get_started/cloud_start_installer.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

chore: add secret for teams notification
  .github/workflows/post-merge.yml
Labels: CI

chore: add secret for teams notification
  .github/dependabot.yml
Labels: CI

fix linter
  .github/dependabot.yml
  .github/workflows/post-merge.yml
Labels: CI

Update post-merge.yml
  .github/workflows/post-merge.yml
Labels: CI

Add note in the installer to refer to weekly release (#39)
  docs/deployment_guide/cloud_deployment/cloud_get_started/cloud_start_installer.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

Update onprem requirements
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/system_requirements_on_prem_orch.rst
Labels: deployment guide

Update onprem requirements
  docs/developer_guide/set_up_dev_env/index.rst
Labels: developer guide

.github/labeler.yml:

---
# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# Config for https://github.com/actions/labeler

CI:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"
      - any-glob-to-any-file: "docconf/**"

base docs:
  - changed-files:
      - any-glob-to-any-file: "docs/*"
      - any-glob-to-any-file: "docs/_static/*"

api:
  - changed-files:
      - any-glob-to-any-file: "docs/api/**"

deployment guide:
  - changed-files:
      - any-glob-to-any-file: "docs/deployment_guide/**"
      - any-glob-to-any-file: "docs/shared/**"

developer guide:
  - changed-files:
      - any-glob-to-any-file: "docs/developer_guide/**"

release notes:
  - changed-files:
      - any-glob-to-any-file: "docs/release_notes/**"

requirements:
  - changed-files:
      - any-glob-to-any-file: "docs/system_requirements/**"

user guide:
  - changed-files:
      - any-glob-to-any-file: "docs/user_guide/**"
