Repository open-edge-platform/edge-manage-docs, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, root, base docs, api, deployment guide, developer guide, release notes, requirements, user guide

fix broken image link
  docs/user_guide/package_software/import_helm_chart.rst
Labels: user guide

add screen shot of DP list and add to index toc
  docs/user_guide/package_software/images/import_helm_chart_dp_list.png
  docs/user_guide/package_software/import_helm_chart.rst
  docs/user_guide/package_software/index.rst
Labels: user guide

WIP import helm chart documentation
  docs/user_guide/package_software/images/import_helm_chart_advanced.png
  docs/user_guide/package_software/images/import_helm_chart_dropdown.png
  docs/user_guide/package_software/images/import_helm_chart_oci_url.png
  docs/user_guide/package_software/import_helm_chart.rst
  docs/user_guide/package_software/index.rst
Labels: user guide

Update docs/user_guide/package_software/import_helm_chart.rst
  docs/user_guide/package_software/import_helm_chart.rst
Labels: user guide

docs for tarball import/export
  docs/user_guide/package_software/deploy_packages.rst
  docs/user_guide/package_software/export_deployment.rst
  docs/user_guide/package_software/images/export_deployment_package.png
  docs/user_guide/package_software/import_deployment.rst
Labels: user guide

grammar fix
  docs/user_guide/package_software/export_deployment.rst
Labels: user guide

Add docs on exporting deployment packages (#95)
  docs/user_guide/package_software/deploy_packages.rst
  docs/user_guide/package_software/export_deployment.rst
  docs/user_guide/package_software/images/export_deployment_package.png
  docs/user_guide/package_software/import_deployment.rst
Labels: user guide

Docs for GUI-based helm chart import (#82)
  docs/user_guide/package_software/images/import_helm_chart_advanced.png
  docs/user_guide/package_software/images/import_helm_chart_dp_list.png
  docs/user_guide/package_software/images/import_helm_chart_dropdown.png
  docs/user_guide/package_software/images/import_helm_chart_oci_url.png
  docs/user_guide/package_software/import_helm_chart.rst
  docs/user_guide/package_software/index.rst
Labels: user guide

replace existing image
  docs/user_guide/set_up_edge_infra/edge_node_onboard/edge_node_registration.rst
  docs/user_guide/set_up_edge_infra/images/register_host_automatic_provision.png
Labels: user guide

added root-app sync as workaround
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
Labels: deployment guide

Update on_prem_upgrade.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
Labels: deployment guide

Update on_prem_upgrade.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
Labels: deployment guide

Update on_prem_upgrade.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
Labels: deployment guide

update hsot provisioning flow docs
  docs/user_guide/set_up_edge_infra/edge_node_onboard/onboarding_actions/provision_host.rst
  docs/user_guide/set_up_edge_infra/images/host_provision_cluster_template_selection.png
  docs/user_guide/set_up_edge_infra/images/provision_host_advanced_options.png
  docs/user_guide/set_up_edge_infra/images/provision_host_edit_host.png
  docs/user_guide/set_up_edge_infra/images/provision_host_edit_host_drawer.png
  docs/user_guide/set_up_edge_infra/images/provision_host_flow.png
  docs/user_guide/set_up_edge_infra/images/provision_host_os_profile_selection.png
  docs/user_guide/set_up_edge_infra/images/provision_host_review_customize.png
  docs/user_guide/set_up_edge_infra/images/provision_host_site_selection.png
Labels: user guide

Clarify that OS Resource manager fetches new profiles after Orchestrator upgrade
  docs/developer_guide/infra_manager/arch/day2_flow.rst
  docs/user_guide/advanced_functionality/host_update_immutable_os.rst
Labels: developer guide, user guide

Minor fix
  docs/developer_guide/infra_manager/arch/day2_flow.rst
Labels: developer guide

Minor fix
  docs/user_guide/advanced_functionality/host_update_immutable_os.rst
Labels: user guide

Remove whitespace
  docs/developer_guide/infra_manager/arch/day2_flow.rst
Labels: developer guide

Update steps to enable manual mode and set desiredOS manually
  docs/user_guide/advanced_functionality/host_update_immutable_os.rst
Labels: user guide

Minor fix
  docs/user_guide/advanced_functionality/host_update_immutable_os.rst
Labels: user guide

Update On-Prem Upgrade Docs to Address Known Issue (#96)
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
Labels: deployment guide

little grammar fixes
  docs/user_guide/set_up_edge_infra/edge_node_onboard/onboarding_actions/provision_host.rst
Labels: user guide

add assumptions
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
Labels: user guide

fix lint errors
  docs/user_guide/set_up_edge_infra/edge_node_onboard/edge_node_registration.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/onboarding_actions/provision_host.rst
Labels: user guide

Cloud Upgrade guide (#92)
  docs/deployment_guide/cloud_deployment/cloud_how_to/cloud_upgrade.rst
  docs/deployment_guide/cloud_deployment/cloud_how_to/index.rst
Labels: deployment guide

Release Notes 3.1 draft
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

Release notes 3.1 (#63)
  dict.txt
  docconf/docconf/docconf.py
  docs/release_notes/3.0/containers_helm_charts_3.0.rst
  docs/release_notes/3.0/kpi_3.0.rst
  docs/release_notes/3.0/rel_notes_3.0.rst
  docs/release_notes/3.0/third_party_components_3.0.rst
  docs/release_notes/3.0/version_3.0.rst
  docs/release_notes/3.1/containers_helm_charts_3.1.rst
  docs/release_notes/3.1/kpi_3.1.rst
  docs/release_notes/3.1/rel_notes_3.1.rst
  docs/release_notes/3.1/third_party_components_3.1.rst
  docs/release_notes/3.1/version_3.1.rst
  docs/release_notes/index.rst
  docs/user_guide/troubleshooting/deploy_issue.rst
Labels: root, release notes, user guide

OS resource manager - manual mode becomes default
  docs/developer_guide/infra_manager/arch/day2_flow.rst
  docs/user_guide/advanced_functionality/host_update_immutable_os.rst
Labels: developer guide, user guide

Updating CODEOWNERS in docs repo
  .github/CODEOWNERS
Labels: CI

Updating CODEOWNERS in docs repo (#99)
  .github/CODEOWNERS
Labels: CI

Fix installation guide
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

Update CODEOWNERS
  .github/CODEOWNERS
Labels: CI

Update known issue and limitation related to auto-cluster creation
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

Update known issue and limitation related to auto-cluster creation (#102)
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

update doc
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
Labels: user guide

update doc
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
Labels: user guide

Update CODEOWNERS (#101)
  .github/CODEOWNERS
Labels: CI

Update on_prem_upgrade.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
Labels: deployment guide

Fix
  docs/user_guide/advanced_functionality/host_update_immutable_os.rst
Labels: user guide

Fix
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

.github/labeler.yml:

---
# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# Config for https://github.com/actions/labeler

CI:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"
      - any-glob-to-any-file: "docconf/**"

base docs:
  - changed-files:
      - any-glob-to-any-file: "docs/*"
      - any-glob-to-any-file: "docs/_static/*"

api:
  - changed-files:
      - any-glob-to-any-file: "docs/api/**"

deployment guide:
  - changed-files:
      - any-glob-to-any-file: "docs/deployment_guide/**"
      - any-glob-to-any-file: "docs/shared/**"

developer guide:
  - changed-files:
      - any-glob-to-any-file: "docs/developer_guide/**"

release notes:
  - changed-files:
      - any-glob-to-any-file: "docs/release_notes/**"

requirements:
  - changed-files:
      - any-glob-to-any-file: "docs/system_requirements/**"

user guide:
  - changed-files:
      - any-glob-to-any-file: "docs/user_guide/**"
