Repository open-edge-platform/edge-manage-docs, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, root, base docs, api, deployment guide, developer guide, release notes, requirements, user guide

.github/labeler.yml:

---
# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# Config for https://github.com/actions/labeler

CI:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"
      - any-glob-to-any-file: "docconf/**"

base docs:
  - changed-files:
      - any-glob-to-any-file: "docs/*"
      - any-glob-to-any-file: "docs/_static/*"

api:
  - changed-files:
      - any-glob-to-any-file: "docs/api/**"

deployment guide:
  - changed-files:
      - any-glob-to-any-file: "docs/deployment_guide/**"
      - any-glob-to-any-file: "docs/shared/**"

developer guide:
  - changed-files:
      - any-glob-to-any-file: "docs/developer_guide/**"

release notes:
  - changed-files:
      - any-glob-to-any-file: "docs/release_notes/**"

requirements:
  - changed-files:
      - any-glob-to-any-file: "docs/system_requirements/**"

user guide:
  - changed-files:
      - any-glob-to-any-file: "docs/user_guide/**"

Update index.rst
  docs/developer_guide/troubleshooting/index.rst
Labels: developer guide

Update cloud_installer.rst
  docs/developer_guide/troubleshooting/cloud_installer.rst
Labels: developer guide

Update cloud_installer.rst
  docs/developer_guide/troubleshooting/cloud_installer.rst
Labels: developer guide

Update orch_cli_guide.rst
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: user guide

Update orch_cli_guide.rst
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: user guide

Update orch_cli_guide.rst (#330)
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: user guide

Update orch_cli_guide.rst (#329)
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: user guide

Update known issue for Trusted compute (#327)
  docs/release_notes/2025.2/rel_notes_2025.2.rst
  docs/user_guide/troubleshooting/trusted_compute_issues.rst
Labels: release notes, user guide

Update testing_custom_os_resource.rst
  docs/developer_guide/infra_manager/tutorials/os_profiles/testing_custom_os_resource.rst
Labels: developer guide

Update testing_custom_os_resource.rst
  docs/developer_guide/infra_manager/tutorials/os_profiles/testing_custom_os_resource.rst
Labels: developer guide

Update testing_custom_os_resource.rst
  docs/developer_guide/infra_manager/tutorials/os_profiles/testing_custom_os_resource.rst
Labels: developer guide

Update testing_custom_os_resource.rst
  docs/developer_guide/infra_manager/tutorials/os_profiles/testing_custom_os_resource.rst
Labels: developer guide

Update custom usage in developer guide (#328)
  docs/developer_guide/infra_manager/tutorials/os_profiles/testing_custom_os_resource.rst
Labels: developer guide

Update to release 2025.2.0 (#315)
  VERSION
Labels: root

replace SYS_ORCH_GITHUB with SYS_EMF_GH_TOKEN
  .github/workflows/post-merge-scorecard.yml
  .github/workflows/post-merge.yml
  .github/workflows/publish-docs.yml
Labels: CI

replace SYS_ORCH_GITHUB with SYS_EMF_GH_TOKEN and bump version
  .github/workflows/1
  .github/workflows/post-merge.yml
  .github/workflows/publish-docs.yml
Labels: CI

replace SYS_ORCH_GITHUB with SYS_EMF_GH_TOKEN and bump version
  .github/workflows/1
Labels: CI

replace SYS_ORCH_GITHUB with SYS_EMF_GH_TOKEN (#339)
  .github/workflows/post-merge-scorecard.yml
  .github/workflows/post-merge.yml
  .github/workflows/publish-docs.yml
Labels: CI

updated PUA arch diagram
  docs/developer_guide/agents/arch/images/pua-architecture.drawio.svg
Labels: developer guide

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI

Small fix
  .github/workflows/labeler.yml
Labels: CI

updated PUA arch diagram (#344)
  docs/developer_guide/agents/arch/images/pua-architecture.drawio.svg
Labels: developer guide

Add note for branch names to contribution guide
  docs/developer_guide/contributor_guide/code_contribution.rst
Labels: developer guide

Add note for branch names to contribution guide (#356)
  docs/developer_guide/contributor_guide/code_contribution.rst
Labels: developer guide

Custom cloud init for Intel OOT driver installation
  docs/user_guide/advanced_functionality/Intel_OOT_gpu_driver_installation.rst
  docs/user_guide/advanced_functionality/index.rst
Labels: user guide

Update KPI numbers of VEN
  docs/developer_guide/virtual_edge_node/index.rst
Labels: developer guide

Rebase with main
  docs/user_guide/advanced_functionality/Intel_OOT_gpu_driver_installation.rst
  docs/user_guide/advanced_functionality/index.rst
Labels: user guide

Ven docs (#357)
  docs/developer_guide/virtual_edge_node/index.rst
Labels: developer guide

CLI docs dynamic detection update
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: user guide

Fixes
  docs/user_guide/package_software/orch_cli/orch_cli_guide.rst
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: user guide

Provisioning comment
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: user guide

remove interconnect documentation
  docs/developer_guide/app_orch/arch/data_flow.rst
  docs/developer_guide/app_orch/arch/data_model.rst
  docs/developer_guide/app_orch/arch/key_components.rst
  docs/developer_guide/app_orch/arch/scalability.rst
  docs/developer_guide/app_orch/arch/technology_stack.rst
  docs/developer_guide/troubleshooting/app_orch.rst
  docs/user_guide/package_software/extension_package.rst
  docs/user_guide/package_software/index.rst
  docs/user_guide/package_software/interconnect.rst
  docs/user_guide/troubleshooting/operate_issues.rst
Labels: developer guide, user guide

custom profile update for ubuntu desktop image
  docs/user_guide/advanced_functionality/custom_os_profile.rst
  docs/user_guide/advanced_functionality/images/image_creation_succss_scree1.png
  docs/user_guide/advanced_functionality/images/image_creation_succss_scree2.png
  docs/user_guide/advanced_functionality/images/ubuntu-image-generation-workflow.png
  docs/user_guide/advanced_functionality/index.rst
  docs/user_guide/advanced_functionality/ubuntu_raw_image_generation_from_iso.rst
Labels: user guide

custom profile update for ubuntu desktop image (#365)
  docs/user_guide/advanced_functionality/custom_os_profile.rst
  docs/user_guide/advanced_functionality/images/image_creation_succss_scree1.png
  docs/user_guide/advanced_functionality/images/image_creation_succss_scree2.png
  docs/user_guide/advanced_functionality/images/ubuntu-image-generation-workflow.png
  docs/user_guide/advanced_functionality/index.rst
  docs/user_guide/advanced_functionality/ubuntu_raw_image_generation_from_iso.rst
Labels: user guide

remove interconnect documentation (#364)
  docs/developer_guide/app_orch/arch/data_flow.rst
  docs/developer_guide/app_orch/arch/data_model.rst
  docs/developer_guide/app_orch/arch/key_components.rst
  docs/developer_guide/app_orch/arch/scalability.rst
  docs/developer_guide/app_orch/arch/technology_stack.rst
  docs/developer_guide/troubleshooting/app_orch.rst
  docs/user_guide/package_software/extension_package.rst
  docs/user_guide/package_software/index.rst
  docs/user_guide/package_software/interconnect.rst
  docs/user_guide/troubleshooting/operate_issues.rst
Labels: developer guide, user guide

Update AO cli update
  docs/user_guide/package_software/orch_cli/orch_cli_guide.rst
Labels: user guide
