Repository open-edge-platform/edge-manage-docs, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, root, base docs, api, deployment guide, developer guide, release notes, requirements, user guide

Fix alignment
  docs/user_guide/advanced_functionality/custom_os_profile.rst
Labels: user guide

Fix alignment and lint errors
  docs/user_guide/advanced_functionality/custom_os_profile.rst
Labels: user guide

Revise and expand 2025.2 release highlights
  docs/release_notes/2025.2/rel_notes_2025.2.rst
Labels: release notes

Revise 2025.2 release notes formatting and content
  docs/release_notes/2025.2/rel_notes_2025.2.rst
Labels: release notes

Add troubleshooting
  docs/developer_guide/infra_manager/tutorials/upgrade/onprem-workaround-guid.rst
Labels: developer guide

Update 2025.2 release notes with new features and clarifications
  docs/release_notes/2025.2/rel_notes_2025.2.rst
Labels: release notes

Added pictures and text
  docs/developer_guide/infra_manager/tutorials/upgrade/images/out-of-sync-1.png
  docs/developer_guide/infra_manager/tutorials/upgrade/images/out-of-sync-2.png
  docs/developer_guide/infra_manager/tutorials/upgrade/onprem-workaround-guid.rst
Labels: developer guide

Fix typos
  docs/developer_guide/infra_manager/tutorials/upgrade/onprem-workaround-guid.rst
Labels: developer guide

Kernel command update
  docs/user_guide/advanced_functionality/apply_new_os_update_policy.rst
Labels: user guide

Add troubleshooting section (#282)
  docs/developer_guide/infra_manager/tutorials/upgrade/images/out-of-sync-1.png
  docs/developer_guide/infra_manager/tutorials/upgrade/images/out-of-sync-2.png
  docs/developer_guide/infra_manager/tutorials/upgrade/onprem-workaround-guid.rst
Labels: developer guide

Fix alignment
  docs/user_guide/advanced_functionality/custom_os_profile.rst
Labels: user guide

Custom OS profile user guide
  docs/user_guide/advanced_functionality/custom_os_profile.rst
Labels: user guide

User guide for the custom OS profile usage
  docs/user_guide/advanced_functionality/custom_os_profile.rst
Labels: user guide

Add supported compression formats and canonical repo link
  docs/user_guide/advanced_functionality/custom_os_profile.rst
Labels: user guide

Fix alignment and lint errors
  docs/user_guide/advanced_functionality/custom_os_profile.rst
Labels: user guide

note for immutable os
  docs/user_guide/advanced_functionality/apply_new_os_update_policy.rst
Labels: user guide

Updated Known issue for Vpro
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

Updated Known issue for Vpro for 2025.2
  docs/release_notes/2025.2/rel_notes_2025.2.rst
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

Revert changes in 3.1 Release note document
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

Fix lint errors
  docs/user_guide/advanced_functionality/custom_os_profile.rst
  docs/user_guide/advanced_functionality/index.rst
Labels: user guide

updated the changes for build issue
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/onprem_ao_co_o11y.rst
Labels: deployment guide

chnaged ao/co as common path
  docs/shared/shared_ao_co_o11y.rst
Labels: deployment guide

[vPRO] updated amt user guide
  docs/user_guide/troubleshooting/amt_issues.rst
Labels: user guide

Updated Vpro User guide
  docs/user_guide/advanced_functionality/images/vpro_enable.png
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
Labels: user guide

updated doc in shared path
  docs/deployment_guide/cloud_deployment/cloud_how_to/index.rst
  docs/deployment_guide/cloud_deployment/index.rst
  docs/deployment_guide/on_prem_deployment/index.rst
Labels: deployment guide

Updated Vpro User guide
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
Labels: user guide

Updated Vpro User guide indentation
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
Labels: user guide

Updated Vpro User guide indentation
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
Labels: user guide

containers n helm chart update for 2025.2 rel
  docs/release_notes/2025.2/containers_helm_charts_2025.2.rst
Labels: release notes

add duplicate metadata key limitation
  docs/release_notes/2025.2/rel_notes_2025.2.rst
Labels: release notes

Updated Vpro User guide for port update
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
Labels: user guide

containers n helm chart update for 2025.2 rel (#285)
  docs/release_notes/2025.2/containers_helm_charts_2025.2.rst
Labels: release notes

Update OXM doc for day-2 upgrade (#256)
  docs/user_guide/advanced_functionality/oxm_pxe_provisioning.rst
Labels: user guide

updated doc
  docs/user_guide/troubleshooting/amt_issues.rst
Labels: user guide

Update day2 flow (#258)
  docs/developer_guide/infra_manager/arch/day2_flow.rst
  docs/developer_guide/infra_manager/tutorials/os_profiles/testing_custom_os_resource.rst
  docs/user_guide/advanced_functionality/apply_new_os_update_policy.rst
  docs/user_guide/advanced_functionality/host_update_immutable_os.rst
  docs/user_guide/advanced_functionality/images/os-update-policy_immutable_kernel.png
  docs/user_guide/advanced_functionality/images/os-update-policy_immutable_latest.png
  docs/user_guide/advanced_functionality/images/os-update-policy_immutable_target_os.png
  docs/user_guide/advanced_functionality/images/os-update-policy_link_to_host.png
  docs/user_guide/advanced_functionality/images/os-update-policy_mutable_kernel_and_packages.png
  docs/user_guide/advanced_functionality/images/os-update-policy_mutable_only_os.png
  docs/user_guide/advanced_functionality/images/os-update-policy_screen_empty.png
  docs/user_guide/advanced_functionality/images/os-update-policy_type.png
  docs/user_guide/advanced_functionality/images/os-update-policy_update_packages.png
  docs/user_guide/advanced_functionality/images/os-update-policy_update_type.png
  docs/user_guide/advanced_functionality/index.rst
  docs/user_guide/advanced_functionality/install_new_packages.rst
Labels: developer guide, user guide

Update known issues and OS support in release notes
  docs/release_notes/2025.2/rel_notes_2025.2.rst
Labels: release notes

updated doc
  docs/user_guide/troubleshooting/amt_issues.rst
Labels: user guide

removed workaround step
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
Labels: deployment guide

updated note in intsaller script for onprem installer doc
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

added wrokaround step
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
Labels: deployment guide

.github/labeler.yml:

---
# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# Config for https://github.com/actions/labeler

CI:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"
      - any-glob-to-any-file: "docconf/**"

base docs:
  - changed-files:
      - any-glob-to-any-file: "docs/*"
      - any-glob-to-any-file: "docs/_static/*"

api:
  - changed-files:
      - any-glob-to-any-file: "docs/api/**"

deployment guide:
  - changed-files:
      - any-glob-to-any-file: "docs/deployment_guide/**"
      - any-glob-to-any-file: "docs/shared/**"

developer guide:
  - changed-files:
      - any-glob-to-any-file: "docs/developer_guide/**"

release notes:
  - changed-files:
      - any-glob-to-any-file: "docs/release_notes/**"

requirements:
  - changed-files:
      - any-glob-to-any-file: "docs/system_requirements/**"

user guide:
  - changed-files:
      - any-glob-to-any-file: "docs/user_guide/**"
