Repository open-edge-platform/edge-manage-docs, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, root, base docs, api, deployment guide, developer guide, release notes, requirements, user guide

.github/labeler.yml:

---
# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# Config for https://github.com/actions/labeler

CI:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"
      - any-glob-to-any-file: "docconf/**"

base docs:
  - changed-files:
      - any-glob-to-any-file: "docs/*"
      - any-glob-to-any-file: "docs/_static/*"

api:
  - changed-files:
      - any-glob-to-any-file: "docs/api/**"

deployment guide:
  - changed-files:
      - any-glob-to-any-file: "docs/deployment_guide/**"
      - any-glob-to-any-file: "docs/shared/**"

developer guide:
  - changed-files:
      - any-glob-to-any-file: "docs/developer_guide/**"

release notes:
  - changed-files:
      - any-glob-to-any-file: "docs/release_notes/**"

requirements:
  - changed-files:
      - any-glob-to-any-file: "docs/system_requirements/**"

user guide:
  - changed-files:
      - any-glob-to-any-file: "docs/user_guide/**"

Comments addressed
  docs/developer_guide/infra_manager/tutorials/upgrade/orch_upgrade.rst
Labels: developer guide

Comments addressed
  docs/developer_guide/infra_manager/tutorials/upgrade/orch_upgrade.rst
Labels: developer guide

Comments addressed
  docs/developer_guide/infra_manager/tutorials/upgrade/orch_upgrade.rst
Labels: developer guide

Comments addressed
  docs/developer_guide/infra_manager/tutorials/upgrade/orch_upgrade.rst
Labels: developer guide

Fix
  docs/developer_guide/infra_manager/tutorials/upgrade/orch_upgrade.rst
Labels: developer guide

Update on_prem_install.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

Update on_prem_install.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

fix for build issue
  docs/user_guide/troubleshooting/en_recover.rst
Labels: user guide

changes for Lint issue
  docs/user_guide/troubleshooting/en_recover.rst
Labels: user guide

Moving to same running env as CI
  docs/developer_guide/set_up_dev_env/index.rst
Labels: developer guide

Update docs/user_guide/troubleshooting/en_recover.rst
  docs/user_guide/troubleshooting/en_recover.rst
Labels: user guide

Aligning minimum requirements for dev and on-prem (#53)
  docs/developer_guide/set_up_dev_env/index.rst
Labels: developer guide

Updated troubleshooting edge node (#55)
  docs/user_guide/troubleshooting/en_recover.rst
Labels: user guide

Update on_prem_install.rst (#54)
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

Update orch_upgrade.rst
  docs/developer_guide/infra_manager/tutorials/upgrade/orch_upgrade.rst
Labels: developer guide

Fixed missing link to upgrade-test
  docs/developer_guide/infra_manager/tutorials/upgrade/orch_upgrade.rst
Labels: developer guide

Further changes to 3.1 release notes
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

Rework of how to section
  docs/user_guide/additional_howtos/automated_deployment.rst
  docs/user_guide/additional_howtos/images/metadata_rule.png
  docs/user_guide/additional_howtos/index.rst
  docs/user_guide/how_it_works/index.rst
Labels: user guide

linting and links
  dict.txt
  docs/user_guide/additional_howtos/set_up_a_cluster_template.rst
  docs/user_guide/additional_howtos/view_cluster_template.rst
  docs/user_guide/package_software/index.rst
  docs/user_guide/package_software/setup_deploy.rst
  docs/user_guide/set_up_edge_infra/create_clusters.rst
  docs/user_guide/set_up_edge_infra/index.rst
  docs/user_guide/troubleshooting/en_recover.rst
Labels: root, user guide

link to get started guide
  docs/user_guide/how_it_works/index.rst
Labels: user guide

Rework of how to section (#56)
  dict.txt
  docs/user_guide/additional_howtos/automated_deployment.rst
  docs/user_guide/additional_howtos/images/metadata_rule.png
  docs/user_guide/additional_howtos/index.rst
  docs/user_guide/additional_howtos/set_up_a_cluster_template.rst
  docs/user_guide/additional_howtos/view_cluster_template.rst
  docs/user_guide/how_it_works/index.rst
  docs/user_guide/package_software/index.rst
  docs/user_guide/package_software/setup_deploy.rst
  docs/user_guide/set_up_edge_infra/create_clusters.rst
  docs/user_guide/set_up_edge_infra/index.rst
  docs/user_guide/troubleshooting/en_recover.rst
Labels: root, user guide

Fix orch_upgrade document (#52)
  docs/developer_guide/infra_manager/tutorials/upgrade/orch_upgrade.rst
Labels: developer guide

Revert "Aligning minimum requirements for dev and on-prem (#53)"
  docs/developer_guide/set_up_dev_env/index.rst
Labels: developer guide

Revert to Ubuntu 22.04
  docs/developer_guide/set_up_dev_env/index.rst
Labels: developer guide

Revert to Ubuntu 22.04 (#58)
  docs/developer_guide/set_up_dev_env/index.rst
Labels: developer guide

further changes
  docs/release_notes/3.1/containers_helm_charts_3.1.rst
  docs/release_notes/3.1/kpi_3.1.rst
  docs/release_notes/3.1/rel_notes_3.1.rst
  docs/release_notes/3.1/third_party_components_3.1.rst
Labels: release notes

minor changes
  docs/release_notes/3.1/kpi_3.1.rst
  docs/release_notes/3.1/third_party_components_3.1.rst
Labels: release notes

further fixes
  docs/release_notes/3.0/version_3.0.rst
  docs/user_guide/troubleshooting/deploy_issue.rst
Labels: release notes, user guide

Links
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

Minor typo to allow for spellcheck to pass
  docs/developer_guide/infra_manager/tutorials/upgrade/orch_upgrade.rst
Labels: developer guide

Docconf and linting
  dict.txt
  docconf/docconf/docconf.py
Labels: root

Minor typo to allow for spellcheck to pass (#60)
  docs/developer_guide/infra_manager/tutorials/upgrade/orch_upgrade.rst
Labels: developer guide

Narrow branch filter to avoid false triggers.
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI

Update publish_documentation workflow branch_pattern filter.
  .github/workflows/post-merge.yml
  .github/workflows/publish-docs.yml
Labels: CI

Narrow branch filter to avoid false triggers. (#62)
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge.yml
  .github/workflows/publish-docs.yml
Labels: CI

ven docs update
  docs/deployment_guide/index.rst
  docs/deployment_guide/virtual_edge_node_deployment/baremetal_deployment.rst
  docs/deployment_guide/virtual_edge_node_deployment/cloud_deployment.rst
  docs/deployment_guide/virtual_edge_node_deployment/deployment.rst
  docs/deployment_guide/virtual_edge_node_deployment/images/kvm_not_supported.png
  docs/developer_guide/virtual_edge_node/index.rst
  docs/user_guide/index.rst
  docs/user_guide/virtual_edge_node/index.rst
  docs/user_guide/virtual_edge_node/tutorials/example1_io_flow.rst
  docs/user_guide/virtual_edge_node/tutorials/example2_nio_default_serial_nums.rst
  docs/user_guide/virtual_edge_node/tutorials/example3_nio_custom_serial_nums.rst
  docs/user_guide/virtual_edge_node/tutorials/example4_auto_provision_false.rst
  docs/user_guide/virtual_edge_node/tutorials/images/Microvisor_os_resource.png
  docs/user_guide/virtual_edge_node/tutorials/images/Microvisor_provider.png
  docs/user_guide/virtual_edge_node/tutorials/images/Ubuntu_os.png
  docs/user_guide/virtual_edge_node/tutorials/images/Ubuntu_os_provider.png
  docs/user_guide/virtual_edge_node/tutorials/images/autoProvision_false.png
  docs/user_guide/virtual_edge_node/tutorials/images/autoProvision_true.png
  docs/user_guide/virtual_edge_node/tutorials/images/host-status.png
  docs/user_guide/virtual_edge_node/tutorials/index.rst
  docs/user_guide/virtual_edge_node/usage/deploy_virtual_edge_node.rst
  docs/user_guide/virtual_edge_node/usage/getting_started.rst
  docs/user_guide/virtual_edge_node/usage/how_it_works_content.rst
  docs/user_guide/virtual_edge_node/usage/images/Microvisor_Provision.png
  docs/user_guide/virtual_edge_node/usage/images/Security_feature.png
  docs/user_guide/virtual_edge_node/usage/images/UbuntuOS_Provision.png
  docs/user_guide/virtual_edge_node/usage/images/provider_config.png
  docs/user_guide/virtual_edge_node/usage/index.rst
  docs/user_guide/virtual_edge_node/usage/manage_virtual_edge_node.rst
  docs/user_guide/virtual_edge_node/usage/setup_virtual_edge_node.rst
Labels: deployment guide, developer guide, user guide

lint issue resolve
  docs/user_guide/virtual_edge_node/index.rst
Labels: user guide

Fix Developer Environment tool setup (#50)
  docs/developer_guide/set_up_dev_env/index.rst
Labels: developer guide

Added Markdown in the lint checker
  .github/SECURITY.md
  Makefile
  README.md
  docs/developer_guide/infra_manager/tutorials/upgrade/orch_upgrade.rst
Labels: CI, root, developer guide

Added Markdown in the lint checker (#64)
  .github/SECURITY.md
  Makefile
  README.md
Labels: CI, root
