Repository open-edge-platform/edge-manage-docs, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, root, base docs, api, deployment guide, developer guide, release notes, requirements, user guide

[DOCS] change main to dev (#180)
  .github/workflows/publish-docs.yml
Labels: CI

Fix bandit sarif file issue
  .github/workflows/post-merge.yml
Labels: CI

Create cloud_installer.rst
  docs/developer_guide/troubleshooting/cloud_installer.rst
Labels: developer guide

Update cloud_installer.rst
  docs/developer_guide/troubleshooting/cloud_installer.rst
Labels: developer guide

Update cloud_installer.rst
  docs/developer_guide/troubleshooting/cloud_installer.rst
Labels: developer guide

Update cloud_argocd.rst
  docs/deployment_guide/cloud_deployment/cloud_how_to/cloud_argocd.rst
Labels: deployment guide

Update on_prem_argocd.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_argocd.rst
Labels: deployment guide

updating the cotainer img references to bitnamilegacy
  docs/release_notes/3.1/containers_helm_charts_3.1.rst
  docs/release_notes/3.1/third_party_components_3.1.rst
Labels: release notes

updating missing reffs
  docs/release_notes/3.1/third_party_components_3.1.rst
Labels: release notes

correcting the right versions
  docs/release_notes/3.1/third_party_components_3.1.rst
Labels: release notes

Create comparison.rst
  docs/developer_guide/platform/arch/comparison.rst
Labels: developer guide

fix lint error
  docs/deployment_guide/cloud_deployment/cloud_how_to/index.rst
Labels: deployment guide

Update index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/index.rst
Labels: deployment guide

Update comparison.rst
  docs/developer_guide/platform/arch/comparison.rst
Labels: developer guide

Update index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/index.rst
Labels: deployment guide

Update comparison.rst
  docs/developer_guide/platform/arch/comparison.rst
Labels: developer guide

fix lint error
  docs/deployment_guide/cloud_deployment/cloud_how_to/cloud_argocd.rst
Labels: deployment guide

fix lint error
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_argocd.rst
Labels: deployment guide

Update comparison.rst
  docs/developer_guide/platform/arch/comparison.rst
Labels: developer guide

Update comparison.rst
  docs/developer_guide/platform/arch/comparison.rst
Labels: developer guide

Update comparison.rst
  docs/developer_guide/platform/arch/comparison.rst
Labels: developer guide

Update comparison.rst
  docs/developer_guide/platform/arch/comparison.rst
Labels: developer guide

Update comparison.rst
  docs/developer_guide/platform/arch/comparison.rst
Labels: developer guide

Update comparison.rst
  docs/developer_guide/platform/arch/comparison.rst
Labels: developer guide

Update comparison.rst
  docs/developer_guide/platform/arch/comparison.rst
Labels: developer guide

Update system_requirements_on_prem_orch.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/system_requirements_on_prem_orch.rst
Labels: deployment guide

Fix bandit sarif file issue (#183)
  .github/workflows/post-merge.yml
Labels: CI

Adjust branch_pattern filter (#179)
  .github/workflows/post-merge.yml
Labels: CI

[cloud-env]argo installer guide (#171)
  docs/deployment_guide/cloud_deployment/cloud_how_to/cloud_argocd.rst
  docs/deployment_guide/cloud_deployment/cloud_how_to/index.rst
Labels: deployment guide

onprem-added argocd installer and flow guide (#163)
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_argocd.rst
Labels: deployment guide

Use `dev` instead of `main` when publishing
  .github/workflows/post-merge.yml
Labels: CI

Use `dev` instead of `main` when publishing (#187)
  .github/workflows/post-merge.yml
Labels: CI

Update system_requirements_on_prem_orch.rst (#186)
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/system_requirements_on_prem_orch.rst
Labels: deployment guide

updating the cotainer img references to bitnamilegacy (#184)
  docs/release_notes/3.1/containers_helm_charts_3.1.rst
  docs/release_notes/3.1/third_party_components_3.1.rst
Labels: release notes

Update comparison.rst
  docs/developer_guide/platform/arch/comparison.rst
Labels: developer guide

Update comparison.rst
  docs/developer_guide/platform/arch/comparison.rst
Labels: developer guide

fix errors in interconnect documentation
  docs/user_guide/package_software/interconnect.rst
Labels: user guide

fix errors in interconnect documentation (#188)
  docs/user_guide/package_software/interconnect.rst
Labels: user guide

updating dependency list in releaseNotes
  docs/release_notes/3.1/containers_helm_charts_3.1.rst
  docs/release_notes/3.1/third_party_components_3.1.rst
Labels: release notes

initial commit
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

.github/labeler.yml:

---
# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# Config for https://github.com/actions/labeler

CI:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"
      - any-glob-to-any-file: "docconf/**"

base docs:
  - changed-files:
      - any-glob-to-any-file: "docs/*"
      - any-glob-to-any-file: "docs/_static/*"

api:
  - changed-files:
      - any-glob-to-any-file: "docs/api/**"

deployment guide:
  - changed-files:
      - any-glob-to-any-file: "docs/deployment_guide/**"
      - any-glob-to-any-file: "docs/shared/**"

developer guide:
  - changed-files:
      - any-glob-to-any-file: "docs/developer_guide/**"

release notes:
  - changed-files:
      - any-glob-to-any-file: "docs/release_notes/**"

requirements:
  - changed-files:
      - any-glob-to-any-file: "docs/system_requirements/**"

user guide:
  - changed-files:
      - any-glob-to-any-file: "docs/user_guide/**"
