Repository open-edge-platform/edge-manage-docs, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, root, base docs, api, deployment guide, developer guide, release notes, requirements, user guide

.github/labeler.yml:

---
# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# Config for https://github.com/actions/labeler

CI:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"
      - any-glob-to-any-file: "docconf/**"

base docs:
  - changed-files:
      - any-glob-to-any-file: "docs/*"
      - any-glob-to-any-file: "docs/_static/*"

api:
  - changed-files:
      - any-glob-to-any-file: "docs/api/**"

deployment guide:
  - changed-files:
      - any-glob-to-any-file: "docs/deployment_guide/**"
      - any-glob-to-any-file: "docs/shared/**"

developer guide:
  - changed-files:
      - any-glob-to-any-file: "docs/developer_guide/**"

release notes:
  - changed-files:
      - any-glob-to-any-file: "docs/release_notes/**"

requirements:
  - changed-files:
      - any-glob-to-any-file: "docs/system_requirements/**"

user guide:
  - changed-files:
      - any-glob-to-any-file: "docs/user_guide/**"

Update on_prem_upgrade.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
Labels: deployment guide

updated doc
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
  docs/user_guide/troubleshooting/amt_issues.rst
Labels: user guide

updated doc
  docs/user_guide/troubleshooting/amt_issues.rst
Labels: user guide

Update on_prem_upgrade.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
Labels: deployment guide

Update on_prem_install.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

Update on_prem_upgrade.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
Labels: deployment guide

Update on_prem_upgrade.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
Labels: deployment guide

Update for Apps versions
  docs/release_notes/2025.2/rel_notes_2025.2.rst
Labels: release notes

fix format
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
Labels: deployment guide

fix lint
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
Labels: deployment guide

Update on_prem_upgrade.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
Labels: deployment guide

Update rel_notes_2025.2.rst
  docs/release_notes/2025.2/rel_notes_2025.2.rst
Labels: release notes

lint issue
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
Labels: deployment guide

Update shared_ao_co_o11y.rst
  docs/shared/shared_ao_co_o11y.rst
Labels: deployment guide

corrected link
  docs/shared/shared_ao_co_o11y.rst
Labels: deployment guide

Update rel_notes_2025.2.rst
  docs/release_notes/2025.2/rel_notes_2025.2.rst
Labels: release notes

Added inbm doc
  docs/release_notes/3.1/rel_notes_3.1.rst
  docs/user_guide/advanced_functionality/in_band_manageability.rst
  docs/user_guide/advanced_functionality/index.rst
Labels: release notes, user guide

Add INBM to 2025.2 release notes
  docs/release_notes/2025.2/rel_notes_2025.2.rst
Labels: release notes

cluster upgrade flow
  docs/release_notes/2025.2/rel_notes_2025.2.rst
Labels: release notes

Update cluster label related limitation
  docs/release_notes/2025.2/rel_notes_2025.2.rst
Labels: release notes

update AO and multitenancy release notes. Clean up trailing spaces.
  docs/release_notes/2025.2/rel_notes_2025.2.rst
Labels: release notes

Fix lint issue for vpro_power_mgt.rst
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
Labels: user guide

Updated Steps for Onprem Deployment (#217)
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
Labels: deployment guide

fix orch-cli repo link
  docs/shared/shared_ao_co_o11y.rst
Labels: deployment guide

updated path for ao_co_o11y file
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/index.rst
Labels: deployment guide

Add limitation section
  docs/user_guide/advanced_functionality/custom_os_profile.rst
Labels: user guide

updated AO/CO disabled doc and removed cloudinit manual config (#279)
  docs/deployment_guide/cloud_deployment/cloud_how_to/index.rst
  docs/deployment_guide/cloud_deployment/index.rst
  docs/deployment_guide/on_prem_deployment/index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/index.rst
  docs/shared/shared_ao_co_o11y.rst
Labels: deployment guide

Custom os (#281)
  docs/user_guide/advanced_functionality/custom_os_profile.rst
  docs/user_guide/advanced_functionality/index.rst
Labels: user guide

Update kpi_2025.2.rst
  docs/release_notes/2025.2/kpi_2025.2.rst
Labels: release notes

Updated Vpro User guide (#284)
  docs/user_guide/advanced_functionality/images/vpro_enable.png
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
Labels: user guide

Update rel_notes_2025.2.rst
  docs/release_notes/2025.2/rel_notes_2025.2.rst
Labels: release notes

Bump CLI tag
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: user guide

Bump CLI tag (#287)
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: user guide

Custom cloud init for Intel OOT driver installation
  docs/user_guide/advanced_functionality/Intel_OOT_gpu_driver_installation.rst
  docs/user_guide/advanced_functionality/index.rst
Labels: user guide

Update to release 2025.2.0
  VERSION
Labels: root

Initial commit for 2026.0.0
  VERSION
Labels: root

Update to release 2025.2.0 (#289)
  VERSION
Labels: root

Revert "Update to release 2025.2.0 (#289)"
  VERSION
Labels: root

Update to release 2025.2.0
  VERSION
Labels: root

Initial commit for 2026.0.0 (#290)
  VERSION
Labels: root
