Repository open-edge-platform/edge-manage-docs, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, root, base docs, api, deployment guide, developer guide, release notes, requirements, user guide

.github/labeler.yml:

---
# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# Config for https://github.com/actions/labeler

CI:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"
      - any-glob-to-any-file: "docconf/**"

base docs:
  - changed-files:
      - any-glob-to-any-file: "docs/*"
      - any-glob-to-any-file: "docs/_static/*"

api:
  - changed-files:
      - any-glob-to-any-file: "docs/api/**"

deployment guide:
  - changed-files:
      - any-glob-to-any-file: "docs/deployment_guide/**"
      - any-glob-to-any-file: "docs/shared/**"

developer guide:
  - changed-files:
      - any-glob-to-any-file: "docs/developer_guide/**"

release notes:
  - changed-files:
      - any-glob-to-any-file: "docs/release_notes/**"

requirements:
  - changed-files:
      - any-glob-to-any-file: "docs/system_requirements/**"

user guide:
  - changed-files:
      - any-glob-to-any-file: "docs/user_guide/**"

doc: fix ci
  docs/developer_guide/app_orch/arch/data_model.rst
Labels: developer guide

doc: remove references to base extensions (#117)
  docs/developer_guide/app_orch/arch/data_flow.rst
  docs/developer_guide/app_orch/arch/data_model.rst
  docs/developer_guide/application_developer_workflow/deployment-helm/index.rst
  docs/developer_guide/observability/arch/edgenode/clusters.rst
  docs/user_guide/advanced_functionality/set_up_a_cluster_template.rst
Labels: developer guide, user guide

cli doc
  docs/user_guide/set_up_edge_infra/edge_node_onboard/edge_node_registration.rst
  docs/user_guide/set_up_edge_infra/index.rst
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: user guide

Link to custom config and omx docs
  docs/user_guide/advanced_functionality/custom_config.rst
  docs/user_guide/advanced_functionality/oxm_pxe_provisioning.rst
Labels: user guide

fix
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: user guide

fix2
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: user guide

adding high resolution screenshot
  docs/user_guide/troubleshooting/images/tc-vm-debug.png
Labels: user guide

Changes for Cluster and App Orch issues/limitations
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

Changes as per review comments
  docs/user_guide/advanced_functionality/view_os_profiles.rst
Labels: user guide

fix
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: user guide

Update edge_node_registration.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/edge_node_registration.rst
Labels: user guide

Updating UI issues
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

linter
  docs/user_guide/set_up_edge_infra/edge_node_onboard/edge_node_registration.rst
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: user guide

updated onprem upgrade guild
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
Labels: deployment guide

Update on_prem_upgrade.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
Labels: deployment guide

Update on_prem_upgrade.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
Labels: deployment guide

Update rel_notes_3.1.rst
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

orch-cli docs (#115)
  docs/user_guide/advanced_functionality/custom_config.rst
  docs/user_guide/advanced_functionality/oxm_pxe_provisioning.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/edge_node_registration.rst
  docs/user_guide/set_up_edge_infra/index.rst
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: user guide

fix filter path
  docs/user_guide/set_up_edge_infra/edge_node_onboard/prerequisites/acquire_emt_repo.rst
Labels: user guide

Update rel_notes_3.1.rst
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

Update 3.1 release notes with reference app links
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

Updated documentation for existing CVE tracking implementation done in EMF 3.1 release (#114)
  docs/user_guide/advanced_functionality/images/os_profile_drawer.png
  docs/user_guide/advanced_functionality/images/os_profile_drawer_cves.png
  docs/user_guide/advanced_functionality/images/os_profile_drawer_installed_packages.png
  docs/user_guide/advanced_functionality/view_os_profiles.rst
  docs/user_guide/set_up_edge_infra/edge_node_states/provisioned_host_details.rst
Labels: user guide

Update on_prem_install.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

update third party component doc
  docs/release_notes/3.1/third_party_components_3.1.rst
Labels: release notes

Update images
  docs/release_notes/3.1/rel_notes_3.1.rst
  docs/user_guide/advanced_functionality/delete_cluster_template.rst
  docs/user_guide/advanced_functionality/images/cluster_details1.png
  docs/user_guide/advanced_functionality/images/cluster_template.png
  docs/user_guide/advanced_functionality/images/default_cluster_template.png
  docs/user_guide/advanced_functionality/images/default_cluster_templates.png
  docs/user_guide/advanced_functionality/images/delete_cluster_template.png
  docs/user_guide/advanced_functionality/images/delete_cluster_template_confirmation.png
  docs/user_guide/advanced_functionality/images/delete_customer_template.png
  docs/user_guide/advanced_functionality/images/export_cluster_template.png
  docs/user_guide/advanced_functionality/images/import_cluster_template.png
  docs/user_guide/advanced_functionality/images/view_cluster_template.png
  docs/user_guide/advanced_functionality/images/view_cluster_template_details.png
  docs/user_guide/advanced_functionality/set_up_a_cluster_template.rst
  docs/user_guide/advanced_functionality/view_cluster_template.rst
  docs/user_guide/set_up_edge_infra/clusters/edit_clusters.rst
  docs/user_guide/set_up_edge_infra/images/cluster_details1.png
  docs/user_guide/set_up_edge_infra/images/cluster_details2.png
  docs/user_guide/set_up_edge_infra/images/edit_cluster.png
  docs/user_guide/set_up_edge_infra/images/edit_cluster_view.png
Labels: release notes, user guide

Update cluster operations user guide for 3.1 release (#105)
  docs/user_guide/advanced_functionality/delete_cluster_template.rst
  docs/user_guide/advanced_functionality/images/cluster_details1.png
  docs/user_guide/advanced_functionality/images/cluster_template.png
  docs/user_guide/advanced_functionality/images/default_cluster_template.png
  docs/user_guide/advanced_functionality/images/default_cluster_templates.png
  docs/user_guide/advanced_functionality/images/delete_cluster_template.png
  docs/user_guide/advanced_functionality/images/delete_cluster_template_confirmation.png
  docs/user_guide/advanced_functionality/images/delete_customer_template.png
  docs/user_guide/advanced_functionality/images/export_cluster_template.png
  docs/user_guide/advanced_functionality/images/import_cluster_template.png
  docs/user_guide/advanced_functionality/images/view_cluster_template.png
  docs/user_guide/advanced_functionality/images/view_cluster_template_details.png
  docs/user_guide/advanced_functionality/set_default_cluster_template.rst
  docs/user_guide/advanced_functionality/set_up_a_cluster_template.rst
  docs/user_guide/advanced_functionality/view_cluster_template.rst
  docs/user_guide/set_up_edge_infra/clusters/create_clusters.rst
  docs/user_guide/set_up_edge_infra/clusters/delete_clusters.rst
  docs/user_guide/set_up_edge_infra/clusters/edit_clusters.rst
  docs/user_guide/set_up_edge_infra/clusters/index.rst
  docs/user_guide/set_up_edge_infra/images/cluster_details1.png
  docs/user_guide/set_up_edge_infra/images/cluster_details2.png
  docs/user_guide/set_up_edge_infra/images/edit_cluster.png
  docs/user_guide/set_up_edge_infra/images/edit_cluster_view.png
Labels: user guide

correcting some of the screenshots
  docs/user_guide/troubleshooting/images/tc-wl-crd-installation.png
  docs/user_guide/troubleshooting/images/tc-wl-runtime-class-installation.png
  docs/user_guide/troubleshooting/trusted_compute_issues.rst
Labels: user guide

adding steps to enable kata runtime debug logs
  docs/user_guide/troubleshooting/trusted_compute_issues.rst
Labels: user guide

Linter fix
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

Linter fixes
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

Fix spacing
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

Resolved few TODOs
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

Update third party components doc
  docs/release_notes/3.1/third_party_components_3.1.rst
Labels: release notes

Linter fixes
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

fixing rendering issues
  docs/user_guide/troubleshooting/trusted_compute_issues.rst
Labels: user guide

fixing line-break rendering issues
  docs/user_guide/troubleshooting/trusted_compute_issues.rst
Labels: user guide

Trusted compute for EMF 3.1 Updates (#88)
  docs/user_guide/troubleshooting/images/Attestation_status_unknown.png
  docs/user_guide/troubleshooting/images/SHA256_sample_BIOS_Settings.png
  docs/user_guide/troubleshooting/images/tc-vm-debug.png
  docs/user_guide/troubleshooting/images/tc-wl-crd-installation.png
  docs/user_guide/troubleshooting/images/tc-wl-runtime-class-installation.png
  docs/user_guide/troubleshooting/index.rst
  docs/user_guide/troubleshooting/trusted_compute_issues.rst
Labels: user guide

Add GPU extensions to 3rd party components
  docs/release_notes/3.1/third_party_components_3.1.rst
Labels: release notes

Drop license related known issues
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

include index.rst
  docs/user_guide/advanced_functionality/index.rst
Labels: user guide
