Repository open-edge-platform/edge-manage-docs, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, root, base docs, api, deployment guide, developer guide, release notes, requirements, user guide

.github/labeler.yml:

---
# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# Config for https://github.com/actions/labeler

CI:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"
      - any-glob-to-any-file: "docconf/**"

base docs:
  - changed-files:
      - any-glob-to-any-file: "docs/*"
      - any-glob-to-any-file: "docs/_static/*"

api:
  - changed-files:
      - any-glob-to-any-file: "docs/api/**"

deployment guide:
  - changed-files:
      - any-glob-to-any-file: "docs/deployment_guide/**"
      - any-glob-to-any-file: "docs/shared/**"

developer guide:
  - changed-files:
      - any-glob-to-any-file: "docs/developer_guide/**"

release notes:
  - changed-files:
      - any-glob-to-any-file: "docs/release_notes/**"

requirements:
  - changed-files:
      - any-glob-to-any-file: "docs/system_requirements/**"

user guide:
  - changed-files:
      - any-glob-to-any-file: "docs/user_guide/**"

user guide steps to configure the LVM partition size. (#191)
  docs/user_guide/advanced_functionality/configure_edgenode_lvm_parition.rst
  docs/user_guide/advanced_functionality/images/Secure-boot-enabled-partion-schema.png
  docs/user_guide/advanced_functionality/images/secureboot-disabled-partition-schema.png
  docs/user_guide/advanced_functionality/index.rst
Labels: user guide

Add troubleshooting and limitation notes for observability (#202)
  docs/developer_guide/troubleshooting/o11y_access.rst
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: developer guide, release notes

Add known issue regarding incorrect OS selection during provisioning with orch-cli
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

Update rel_notes_3.1.rst
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

Add known issue regarding incorrect OS selection during provisioning with orch-cli (#204)
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

doc: add note for docker hub credentials
  docs/user_guide/advanced_functionality/set_up_a_cluster_template.rst
Labels: user guide

Update versioning.rst
  docs/developer_guide/contributor_guide/versioning.rst
Labels: developer guide

doc: add note for docker hub credentials (#206)
  docs/user_guide/advanced_functionality/set_up_a_cluster_template.rst
Labels: user guide

added workaround Aurora PostgreSQL 14.9 Missing
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

Create onprem_ao_co_o11y_composability.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/onprem_ao_co_o11y_composability.rst
Labels: deployment guide

Update index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/index.rst
Labels: deployment guide

Rename onprem_ao_co_o11y_composability.rst to onprem_ao_co_o11y.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/onprem_ao_co_o11y.rst
Labels: deployment guide

Update onprem_ao_co_o11y.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/onprem_ao_co_o11y.rst
Labels: deployment guide

Update onprem_ao_co_o11y.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/onprem_ao_co_o11y.rst
Labels: deployment guide

Update onprem_ao_co_o11y.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/onprem_ao_co_o11y.rst
Labels: deployment guide

Update onprem_ao_co_o11y.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/onprem_ao_co_o11y.rst
Labels: deployment guide

Update onprem_ao_co_o11y.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/onprem_ao_co_o11y.rst
Labels: deployment guide

Update onprem_ao_co_o11y.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/onprem_ao_co_o11y.rst
Labels: deployment guide

Update versioning.rst
  docs/developer_guide/contributor_guide/versioning.rst
Labels: developer guide

fix lint error
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

added workaround Aurora PostgreSQL 14.9 Missing (#207)
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

Orch-CLI Tenancy + Updates
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: user guide

Content
  docs/shared/shared_gs_iam.rst
  docs/shared/shared_ht_iam_mt_cli.rst
  docs/shared/shared_mt_overview.rst
  docs/user_guide/administration/index.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/edge_node_registration.rst
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: deployment guide, user guide

linter + fixes
  docs/shared/shared_ht_iam_mt_cli.rst
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: deployment guide, user guide

Linter
  docs/shared/shared_ht_iam_mt_cli.rst
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: deployment guide, user guide

Orch-CLI Tenancy + Updates (#209)
  docs/shared/shared_gs_iam.rst
  docs/shared/shared_ht_iam_mt_cli.rst
  docs/shared/shared_mt_overview.rst
  docs/user_guide/administration/index.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/edge_node_registration.rst
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: deployment guide, user guide

Update on_prem_openport.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_openport.rst
Labels: deployment guide

Update on_prem_openport.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_openport.rst
Labels: deployment guide

updated tabular format
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_openport.rst
Labels: deployment guide

fix lint error
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/onprem_ao_co_o11y.rst
Labels: deployment guide

Add AO/CO/Observability Composability (#208)
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/onprem_ao_co_o11y.rst
Labels: deployment guide

Bump open-edge-platform/orch-ci from 0.1.52 to 0.1.56
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge.yml
  .github/workflows/publish-docs.yml
Labels: CI

Fix linter issue for post-merge
  .github/workflows/post-merge.yml
Labels: CI

Fix some more linter issues
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge.yml
  .github/workflows/publish-docs.yml
Labels: CI

Linter issues fix
  .yamllint.yml
Labels: root

Fixed more linter issues
  .yamllint.yml
Labels: root

Fix linter issues
  .github/workflows/post-merge.yml
Labels: CI

Fixed linter issues
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge.yml
  .github/workflows/publish-docs.yml
Labels: CI

Updated some workflows
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge.yml
  .github/workflows/publish-docs.yml
  .yamllint.yml
Labels: CI, root

Bump open-edge-platform/orch-ci from 0.1.52 to 0.1.56 (#210)
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge.yml
  .github/workflows/publish-docs.yml
Labels: CI
