Repository open-edge-platform/edge-manage-docs, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, root, base docs, api, deployment guide, developer guide, release notes, requirements, user guide

.github/labeler.yml:

---
# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# Config for https://github.com/actions/labeler

CI:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"
      - any-glob-to-any-file: "docconf/**"

base docs:
  - changed-files:
      - any-glob-to-any-file: "docs/*"
      - any-glob-to-any-file: "docs/_static/*"

api:
  - changed-files:
      - any-glob-to-any-file: "docs/api/**"

deployment guide:
  - changed-files:
      - any-glob-to-any-file: "docs/deployment_guide/**"
      - any-glob-to-any-file: "docs/shared/**"

developer guide:
  - changed-files:
      - any-glob-to-any-file: "docs/developer_guide/**"

release notes:
  - changed-files:
      - any-glob-to-any-file: "docs/release_notes/**"

requirements:
  - changed-files:
      - any-glob-to-any-file: "docs/system_requirements/**"

user guide:
  - changed-files:
      - any-glob-to-any-file: "docs/user_guide/**"

Fix lint
  docs/developer_guide/troubleshooting/istio_proxy.rst
Labels: developer guide

Update troubleshooting guide
  docs/developer_guide/troubleshooting/istio_proxy.rst
Labels: developer guide

Update the troubleshooting docs
  docs/developer_guide/troubleshooting/index.rst
Labels: developer guide

Simplify on-prem install
  docs/deployment_guide/on_prem_deployment/on_prem_deployment_profiles/on_prem_lenovo.rst
  docs/deployment_guide/on_prem_deployment/on_prem_deployment_profiles/on_prem_oxm_profile.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_certs.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/system_requirements_on_prem_orch.rst
Labels: deployment guide

remove todo
  docs/release_notes/3.1/containers_helm_charts_3.1.rst
  docs/release_notes/3.1/kpi_3.1.rst
  docs/release_notes/3.1/third_party_components_3.1.rst
Labels: release notes

remove todo (#146)
  docs/release_notes/3.1/containers_helm_charts_3.1.rst
  docs/release_notes/3.1/kpi_3.1.rst
  docs/release_notes/3.1/third_party_components_3.1.rst
Labels: release notes

Added device-manager-node host entry in onprem document
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

Update cloud installer version
  docs/deployment_guide/cloud_deployment/cloud_get_started/cloud_start_installer.rst
Labels: deployment guide

Added device-manager-node host entry in onprem document-Release-3.1
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

Update cloud installer version (#149)
  docs/deployment_guide/cloud_deployment/cloud_get_started/cloud_start_installer.rst
Labels: deployment guide

Update cloud installer version (#149)
  docs/deployment_guide/cloud_deployment/cloud_get_started/cloud_start_installer.rst
Labels: deployment guide

Update cloud installer version (#149) (#152)
  docs/deployment_guide/cloud_deployment/cloud_get_started/cloud_start_installer.rst
Labels: deployment guide

Clarify SSH key lifecycle management in docs
  docs/user_guide/advanced_functionality/configure_ssh_public_keys.rst
Labels: user guide

Change SSH key lifecycle note to warning
  docs/user_guide/advanced_functionality/configure_ssh_public_keys.rst
Labels: user guide

Simplify on-prem install
  docs/deployment_guide/on_prem_deployment/on_prem_deployment_profiles/on_prem_lenovo.rst
  docs/deployment_guide/on_prem_deployment/on_prem_deployment_profiles/on_prem_oxm_profile.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_certs.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/system_requirements_on_prem_orch.rst
Labels: deployment guide

Add install flow charts
  docs/deployment_guide/cloud_deployment/cloud_get_started/cloud_orchestrator_install.rst
  docs/deployment_guide/cloud_deployment/cloud_get_started/cloud_start_installer.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

Added device-manager-node host entry in onprem document-Release-3.1 (#150)
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

Added device-manager-node host entry in onprem document (#148)
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

Update onprem doc
  docs/deployment_guide/cloud_deployment/cloud_get_started/cloud_start_installer.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

Update onprem doc
  docs/deployment_guide/cloud_deployment/cloud_get_started/cloud_start_installer.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

Remove trailing whitespace in SSH keys guide
  docs/user_guide/advanced_functionality/configure_ssh_public_keys.rst
Labels: user guide

Update onprem doc (#157)
  docs/deployment_guide/cloud_deployment/cloud_get_started/cloud_start_installer.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

Update onprem doc (#156)
  docs/deployment_guide/cloud_deployment/cloud_get_started/cloud_start_installer.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

Update openapi
  docs/api/openapi/amc-app-orch-catalog-openapi.yaml
  docs/api/openapi/amc-app-orch-catalog-utilities-openapi.yaml
  docs/api/openapi/amc-app-orch-deployment-app-deployment-manager-openapi.yaml
  docs/api/openapi/amc-app-orch-deployment-app-resource-manager-openapi.yaml
  docs/api/openapi/amc-cluster-manager-openapi.yaml
  docs/api/openapi/amc-infra-core-edge-infrastructure-manager-openapi-all.yaml
  docs/api/openapi/amc-o11y-alerting-monitor-openapi.yaml
  docs/api/openapi/amc-opendmt-mps-openapi.yaml
  docs/api/openapi/amc-opendmt-rps-openapi.yaml
  docs/api/openapi/amc-orch-metadata-broker-openapi.yaml
  docs/api/openapi/orch-utils.tenancy-datamodel.openapi.yaml
  docs/api/opendmt-mps.rst
  docs/api/opendmt-rps.rst
Labels: api

Clarify SSH key lifecycle management in docs (#154)
  docs/user_guide/advanced_functionality/configure_ssh_public_keys.rst
Labels: user guide

Update file
  docs/api/openapi/amc-infra-core-edge-infrastructure-manager-openapi-all.yaml
Labels: api

add to toctree
  docs/api/index.rst
  docs/api/opendmt-mps.rst
  docs/api/opendmt-rps.rst
Labels: api

Add files
  docs/api/opendmt_mps.rst
  docs/api/opendmt_rps.rst
Labels: api

Added one more row
  docs/api/opendmt_mps.rst
  docs/api/opendmt_rps.rst
Labels: api

Update openapi (#158)
  docs/api/index.rst
  docs/api/openapi/amc-app-orch-catalog-openapi.yaml
  docs/api/openapi/amc-app-orch-catalog-utilities-openapi.yaml
  docs/api/openapi/amc-app-orch-deployment-app-deployment-manager-openapi.yaml
  docs/api/openapi/amc-app-orch-deployment-app-resource-manager-openapi.yaml
  docs/api/openapi/amc-cluster-manager-openapi.yaml
  docs/api/openapi/amc-infra-core-edge-infrastructure-manager-openapi-all.yaml
  docs/api/openapi/amc-o11y-alerting-monitor-openapi.yaml
  docs/api/openapi/amc-opendmt-mps-openapi.yaml
  docs/api/openapi/amc-opendmt-rps-openapi.yaml
  docs/api/openapi/amc-orch-metadata-broker-openapi.yaml
  docs/api/openapi/orch-utils.tenancy-datamodel.openapi.yaml
  docs/api/opendmt_mps.rst
  docs/api/opendmt_rps.rst
Labels: api

Update files
  docs/api/index.rst
  docs/api/openapi/amc-app-orch-catalog-openapi.yaml
  docs/api/openapi/amc-app-orch-catalog-utilities-openapi.yaml
  docs/api/openapi/amc-app-orch-deployment-app-deployment-manager-openapi.yaml
  docs/api/openapi/amc-app-orch-deployment-app-resource-manager-openapi.yaml
  docs/api/openapi/amc-cluster-manager-openapi.yaml
  docs/api/openapi/amc-infra-core-edge-infrastructure-manager-openapi-all.yaml
  docs/api/openapi/amc-o11y-alerting-monitor-openapi.yaml
  docs/api/openapi/amc-opendmt-mps-openapi.yaml
  docs/api/openapi/amc-opendmt-rps-openapi.yaml
  docs/api/openapi/amc-orch-metadata-broker-openapi.yaml
  docs/api/openapi/orch-utils.tenancy-datamodel.openapi.yaml
  docs/api/opendmt_mps.rst
  docs/api/opendmt_rps.rst
Labels: api

Update files (#159)
  docs/api/index.rst
  docs/api/openapi/amc-app-orch-catalog-openapi.yaml
  docs/api/openapi/amc-app-orch-catalog-utilities-openapi.yaml
  docs/api/openapi/amc-app-orch-deployment-app-deployment-manager-openapi.yaml
  docs/api/openapi/amc-app-orch-deployment-app-resource-manager-openapi.yaml
  docs/api/openapi/amc-cluster-manager-openapi.yaml
  docs/api/openapi/amc-infra-core-edge-infrastructure-manager-openapi-all.yaml
  docs/api/openapi/amc-o11y-alerting-monitor-openapi.yaml
  docs/api/openapi/amc-opendmt-mps-openapi.yaml
  docs/api/openapi/amc-opendmt-rps-openapi.yaml
  docs/api/openapi/amc-orch-metadata-broker-openapi.yaml
  docs/api/openapi/orch-utils.tenancy-datamodel.openapi.yaml
  docs/api/opendmt_mps.rst
  docs/api/opendmt_rps.rst
Labels: api

Fix typos
  dict.txt
  docconf/docconf/docconf.py
  docs/api/openapi/amc-cluster-manager-openapi.yaml
  docs/api/openapi/amc-infra-core-edge-infrastructure-manager-openapi-all.yaml
  docs/api/openapi/amc-orch-metadata-broker-openapi.yaml
  docs/deployment_guide/cloud_deployment/cloud_get_started/index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_storage_backup.rst
  docs/developer_guide/set_up_dev_env/dev_env_kind.rst
  docs/developer_guide/set_up_dev_env/index.rst
  docs/release_notes/3.0/rel_notes_3.0.rst
  docs/release_notes/3.1/rel_notes_3.1.rst
  docs/user_guide/package_software/import_helm_chart.rst
Labels: root, api, deployment guide, developer guide, release notes, user guide

fix typos
  docs/deployment_guide/cloud_deployment/cloud_get_started/cloud_orchestrator_install.rst
Labels: deployment guide

Fix typos
  dict.txt
  docconf/docconf/docconf.py
  docs/api/openapi/amc-cluster-manager-openapi.yaml
  docs/api/openapi/amc-infra-core-edge-infrastructure-manager-openapi-all.yaml
  docs/api/openapi/amc-orch-metadata-broker-openapi.yaml
  docs/deployment_guide/cloud_deployment/cloud_get_started/index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_storage_backup.rst
  docs/developer_guide/set_up_dev_env/dev_env_kind.rst
  docs/developer_guide/set_up_dev_env/index.rst
  docs/release_notes/3.0/rel_notes_3.0.rst
  docs/release_notes/3.1/rel_notes_3.1.rst
  docs/user_guide/package_software/import_helm_chart.rst
Labels: root, api, deployment guide, developer guide, release notes, user guide

fix typos
  docs/deployment_guide/cloud_deployment/cloud_get_started/cloud_orchestrator_install.rst
Labels: deployment guide

Cherry-pick typo changes in the Update release 3.1 branch (#161)
  dict.txt
  docconf/docconf/docconf.py
  docs/api/openapi/amc-cluster-manager-openapi.yaml
  docs/api/openapi/amc-infra-core-edge-infrastructure-manager-openapi-all.yaml
  docs/api/openapi/amc-orch-metadata-broker-openapi.yaml
  docs/deployment_guide/cloud_deployment/cloud_get_started/cloud_orchestrator_install.rst
  docs/deployment_guide/cloud_deployment/cloud_get_started/index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_storage_backup.rst
  docs/developer_guide/set_up_dev_env/dev_env_kind.rst
  docs/developer_guide/set_up_dev_env/index.rst
  docs/release_notes/3.0/rel_notes_3.0.rst
  docs/release_notes/3.1/rel_notes_3.1.rst
  docs/user_guide/package_software/import_helm_chart.rst
Labels: root, api, deployment guide, developer guide, release notes, user guide

Fix typos in documentation (#160)
  dict.txt
  docconf/docconf/docconf.py
  docs/api/openapi/amc-cluster-manager-openapi.yaml
  docs/api/openapi/amc-infra-core-edge-infrastructure-manager-openapi-all.yaml
  docs/api/openapi/amc-orch-metadata-broker-openapi.yaml
  docs/deployment_guide/cloud_deployment/cloud_get_started/cloud_orchestrator_install.rst
  docs/deployment_guide/cloud_deployment/cloud_get_started/index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_storage_backup.rst
  docs/developer_guide/set_up_dev_env/dev_env_kind.rst
  docs/developer_guide/set_up_dev_env/index.rst
  docs/release_notes/3.0/rel_notes_3.0.rst
  docs/release_notes/3.1/rel_notes_3.1.rst
  docs/user_guide/package_software/import_helm_chart.rst
Labels: root, api, deployment guide, developer guide, release notes, user guide

Update on_prem_install.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

Update on_prem_oxm_profile.rst
  docs/deployment_guide/on_prem_deployment/on_prem_deployment_profiles/on_prem_oxm_profile.rst
Labels: deployment guide
