Repository open-edge-platform/edge-manage-docs, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, root, base docs, api, deployment guide, developer guide, release notes, requirements, user guide

.github/labeler.yml:

---
# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# Config for https://github.com/actions/labeler

CI:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"
      - any-glob-to-any-file: "docconf/**"

base docs:
  - changed-files:
      - any-glob-to-any-file: "docs/*"
      - any-glob-to-any-file: "docs/_static/*"

api:
  - changed-files:
      - any-glob-to-any-file: "docs/api/**"

deployment guide:
  - changed-files:
      - any-glob-to-any-file: "docs/deployment_guide/**"
      - any-glob-to-any-file: "docs/shared/**"

developer guide:
  - changed-files:
      - any-glob-to-any-file: "docs/developer_guide/**"

release notes:
  - changed-files:
      - any-glob-to-any-file: "docs/release_notes/**"

requirements:
  - changed-files:
      - any-glob-to-any-file: "docs/system_requirements/**"

user guide:
  - changed-files:
      - any-glob-to-any-file: "docs/user_guide/**"

Update the documentation
  docs/user_guide/advanced_functionality/provisioning_clusters_without_co.rst
Labels: user guide

Initial commit
  docs/user_guide/advanced_functionality/orch_cli_advanced.rst
Labels: user guide

Explain templating
  docs/user_guide/advanced_functionality/orch_cli_advanced.rst
Labels: user guide

filters
  docs/user_guide/advanced_functionality/orch_cli_advanced.rst
Labels: user guide

ordering
  docs/user_guide/advanced_functionality/orch_cli_advanced.rst
Labels: user guide

Enable post-merge security scans for tag creation
  .github/workflows/post-merge.yml
Labels: CI

Lines and typos
  docs/user_guide/advanced_functionality/orch_cli_advanced.rst
Labels: user guide

ResourcesByName
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: user guide

single en
  docs/user_guide/set_up_edge_infra/edge_node_onboard/edge_node_registration.rst
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: user guide

fix tree
  docs/user_guide/advanced_functionality/index.rst
Labels: user guide

linter
  docs/user_guide/advanced_functionality/orch_cli_advanced.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/edge_node_registration.rst
Labels: user guide

Update deploy_virtual_edge_node.rst
  docs/user_guide/virtual_edge_node/usage/deploy_virtual_edge_node.rst
Labels: user guide

Update deploy_virtual_edge_node.rst
  docs/user_guide/virtual_edge_node/usage/deploy_virtual_edge_node.rst
Labels: user guide

incorporated review comments
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/index.rst
  docs/developer_guide/index.rst
  docs/index.rst
  docs/user_guide/advanced_functionality/index.rst
  docs/user_guide/advanced_functionality/set_up_a_cluster_template.rst
  docs/user_guide/get_started_guide/images/get_started.png
  docs/user_guide/get_started_guide/index.rst
Labels: base docs, deployment guide, developer guide, user guide

linter
  docs/user_guide/advanced_functionality/orch_cli_advanced.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/edge_node_registration.rst
Labels: user guide

Enable post-merge security scans for tag creation (#474)
  .github/workflows/post-merge.yml
Labels: CI

updated the review comments
  docs/user_guide/how_it_works/images/how_it_works2.png
  docs/user_guide/how_it_works/index.rst
Labels: user guide

removed co
  docs/deployment_guide/on_prem_deployment/images/on-prem-install-topology-config-with-corporate-proxy.png
  docs/deployment_guide/on_prem_deployment/images/on-prem-install-topology-config-with-squid-proxy.png
  docs/deployment_guide/on_prem_deployment/images/on-prem-install-topology-config.png
  docs/deployment_guide/on_prem_deployment/index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_deployment_profiles/index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_deployment_profiles/on_prem_lenovo.rst
  docs/deployment_guide/on_prem_deployment/on_prem_deployment_profiles/on_prem_oxm_profile.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_alerts.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_argocd.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_sre.rst
  docs/deployment_guide/virtual_edge_node_deployment/cloud_deployment.rst
  docs/deployment_guide/virtual_edge_node_deployment/deployment.rst
Labels: deployment guide

Remove trigger on tag from post-merge workflows
  .github/workflows/post-merge.yml
Labels: CI

orch-cli advanced usage updates (#475)
  docs/user_guide/advanced_functionality/index.rst
  docs/user_guide/advanced_functionality/orch_cli_advanced.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/edge_node_registration.rst
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: user guide

Add new workflow security-scan-on-tag.yml
  .github/workflows/security-scan-on-tag.yml
Labels: CI

Update security-scan-on-tag.yml
  .github/workflows/security-scan-on-tag.yml
Labels: CI

Remove trigger on tag from post-merge workflows (#478)
  .github/workflows/post-merge.yml
Labels: CI

Update security-scan-on-tag.yml
  .github/workflows/security-scan-on-tag.yml
Labels: CI

Add new workflow security-scan-on-tag.yml (#479)
  .github/workflows/security-scan-on-tag.yml
Labels: CI

Update post-merge.yml
  .github/workflows/post-merge.yml
Labels: CI

Added actions: read in post-merge, needed by gitleaks job (#404)
  .github/workflows/post-merge.yml
Labels: CI

Add space after codeblock
  docs/user_guide/advanced_functionality/provisioning_clusters_without_co.rst
Labels: user guide

Add new document to toctree
  docs/user_guide/advanced_functionality/index.rst
  docs/user_guide/advanced_functionality/provisioning_clusters_without_co.rst
Labels: user guide

Update version for orch-cli
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: user guide

Update observability documentation
  docs/developer_guide/agents/arch/platform_observability.rst
  docs/developer_guide/observability/arch/concepts/images/obs_multi_data_access.svg
  docs/developer_guide/observability/arch/concepts/images/obs_multi_data_ingestio_processing.svg
  docs/developer_guide/observability/arch/concepts/multitenancy.rst
  docs/developer_guide/observability/arch/edgenode/hosts.rst
  docs/developer_guide/observability/arch/images/overview.png
  docs/developer_guide/observability/arch/index.rst
  docs/developer_guide/observability/arch/orchestrator/alerting-monitor.rst
  docs/developer_guide/observability/arch/orchestrator/edgenode-observability.rst
  docs/developer_guide/observability/arch/orchestrator/images/asynchronous_api_call_example_diagram.svg
  docs/developer_guide/observability/arch/orchestrator/images/diagram_edge_node-obs_stack.svg
  docs/developer_guide/observability/arch/orchestrator/images/diagram_orchestrator_node_obs_stack.svg
  docs/developer_guide/observability/arch/orchestrator/images/diagram_ui_alerting.svg
  docs/developer_guide/observability/arch/orchestrator/images/synchronous_api_call_example_diagram.svg
  docs/developer_guide/observability/arch/orchestrator/index.rst
  docs/developer_guide/observability/index.rst
  docs/shared/shared_o11y.rst
  docs/user_guide/advanced_functionality/index.rst
  docs/user_guide/advanced_functionality/view_metrics.rst
  docs/user_guide/monitor_deployments/grafana_content.rst
  docs/user_guide/monitor_deployments/index.rst
  docs/user_guide/monitor_deployments/orchestrator_observability.rst
Labels: deployment guide, developer guide, user guide

Clusters without CAPI (#473)
  docs/user_guide/advanced_functionality/index.rst
  docs/user_guide/advanced_functionality/provisioning_clusters_without_co.rst
Labels: user guide

VBU apps documentation update
  docs/user_guide/index.rst
  docs/user_guide/intel_solutions/index.rst
Labels: user guide

initial commit for 2026.1 release note
  docs/release_notes/2026.1/containers_helm_charts_2026.1.rst
  docs/release_notes/2026.1/kpi_2026.1.rst
  docs/release_notes/2026.1/rel_notes_2026.1.rst
  docs/release_notes/2026.1/third_party_components_2026.1.rst
  docs/release_notes/2026.1/version_2026.1.rst
  docs/release_notes/index.rst
Labels: release notes

Fix documentation related to updates
  docs/user_guide/advanced_functionality/apply_new_os_update_policy.rst
  docs/user_guide/advanced_functionality/images/os-update-policy_mutable_kernel_and_packages.png
  docs/user_guide/advanced_functionality/images/os-update-policy_update_packages.png
  docs/user_guide/advanced_functionality/install_new_packages.rst
Labels: user guide

Update rel_notes_2026.1.rst
  docs/release_notes/2026.1/rel_notes_2026.1.rst
Labels: release notes

removed anything related to Argocd, AO and CO
  docs/release_notes/2026.1/rel_notes_2026.1.rst
Labels: release notes

removed anything relate AO,CO
  docs/release_notes/2026.1/third_party_components_2026.1.rst
Labels: release notes

CLI version udpate (#481)
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: user guide

Update apply_new_os_update_policy.rst
  docs/user_guide/advanced_functionality/apply_new_os_update_policy.rst
Labels: user guide
