Repository open-edge-platform/edge-manage-docs, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, root, base docs, api, deployment guide, developer guide, release notes, requirements, user guide

One click update
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: user guide

Update versioning.rst
  docs/developer_guide/contributor_guide/versioning.rst
Labels: developer guide

linter
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: user guide

CLI One click update (#212)
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: user guide

Adding CODEOWNERS
  .github/CODEOWNERS
Labels: CI

Update docs/developer_guide/contributor_guide/versioning.rst
  docs/developer_guide/contributor_guide/versioning.rst
Labels: developer guide

initial commit
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

Adding CODEOWNERS (#216)
  .github/CODEOWNERS
Labels: CI

Update Intel Solutions deployment guide with latest sample application versions and documentation links
  docs/user_guide/intel_solutions/index.rst
Labels: user guide

Link correction for smart parking
  docs/user_guide/intel_solutions/index.rst
Labels: user guide

Update Intel Solutions deployment guide with latest doc links (#222)
  docs/user_guide/intel_solutions/index.rst
Labels: user guide

Update cloud_upgrade.rst
  docs/deployment_guide/cloud_deployment/cloud_how_to/cloud_upgrade.rst
Labels: deployment guide

Update cloud_upgrade.rst
  docs/deployment_guide/cloud_deployment/cloud_how_to/cloud_upgrade.rst
Labels: deployment guide

Update cloud_upgrade.rst
  docs/deployment_guide/cloud_deployment/cloud_how_to/cloud_upgrade.rst
Labels: deployment guide

removing cosign credentials in postmerge
  .github/workflows/post-merge.yml
Labels: CI

adding scorecard workflow and bump to 0.1.62
  .github/workflows/post-merge-scorecard.yml
  .github/workflows/post-merge.yml
Labels: CI

Lint error fix
  .github/workflows/post-merge-scorecard.yml
Labels: CI

Lint error fix #2
  .github/workflows/post-merge-scorecard.yml
Labels: CI

Template for 2025.2 release notes
  docs/release_notes/2025.2/containers_helm_charts_2025.2.rst
  docs/release_notes/2025.2/kpi_2025.2.rst
  docs/release_notes/2025.2/rel_notes_2025.2.rst
  docs/release_notes/2025.2/third_party_components_2025.2.rst
  docs/release_notes/2025.2/version_2025.2.rst
  docs/release_notes/index.rst
Labels: release notes

Updating the versions in the docs
  docs/release_notes/2025.2/containers_helm_charts_2025.2.rst
  docs/release_notes/2025.2/kpi_2025.2.rst
  docs/release_notes/2025.2/rel_notes_2025.2.rst
  docs/release_notes/2025.2/third_party_components_2025.2.rst
Labels: release notes

Update dev env pw info
  docs/developer_guide/set_up_dev_env/dev_env_kind.rst
Labels: developer guide

Update dev env pw info (#199)
  docs/developer_guide/set_up_dev_env/dev_env_kind.rst
Labels: developer guide

removing cosign credentials and bump to 0.1.62 (#228)
  .github/workflows/post-merge-scorecard.yml
  .github/workflows/post-merge.yml
Labels: CI

Update publish-docs.yml
  .github/workflows/publish-docs.yml
Labels: CI

onprem deploymnet open port
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_openport.rst
Labels: deployment guide

Update index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/index.rst
Labels: deployment guide

updated tabular format
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_openport.rst
Labels: deployment guide

Update documentation of open ports for on-prem deployment
  docs/deployment_guide/on_prem_deployment/images/On-Prem-deployment-overview.png
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_openport.rst
Labels: deployment guide

Fix some Scorecard issues
  .github/workflows/labeler.yml
  .github/workflows/post-merge-scorecard.yml
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge.yml
  .github/workflows/publish-docs.yml
Labels: CI

Small fix
  .github/workflows/post-merge-scorecard.yml
Labels: CI

Small fix
  .github/workflows/post-merge-scorecard.yml
Labels: CI

Update cloud_upgrade.rst
  docs/deployment_guide/cloud_deployment/cloud_how_to/cloud_upgrade.rst
Labels: deployment guide

Create continuous_integration_logic.rst
  docs/developer_guide/contributor_guide/continuous_integration_logic.rst
Labels: developer guide

Update index.rst
  docs/developer_guide/contributor_guide/index.rst
Labels: developer guide

Update continuous_integration_logic.rst
  docs/developer_guide/contributor_guide/continuous_integration_logic.rst
Labels: developer guide

Update continuous_integration_logic.rst
  docs/developer_guide/contributor_guide/continuous_integration_logic.rst
Labels: developer guide

Onprem open ports documentation (#243)
  docs/deployment_guide/on_prem_deployment/images/On-Prem-deployment-overview.png
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_openport.rst
Labels: deployment guide

Fixed some Scorecard vulns (#249)
  .github/workflows/labeler.yml
  .github/workflows/post-merge-scorecard.yml
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge.yml
  .github/workflows/publish-docs.yml
Labels: CI

Custom OS profile user guide
  docs/user_guide/advanced_functionality/custom_os_profile.rst
Labels: user guide

Update OXM doc for day-2 upgrade
  docs/user_guide/advanced_functionality/oxm_pxe_provisioning.rst
Labels: user guide

.github/labeler.yml:

---
# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# Config for https://github.com/actions/labeler

CI:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"
      - any-glob-to-any-file: "docconf/**"

base docs:
  - changed-files:
      - any-glob-to-any-file: "docs/*"
      - any-glob-to-any-file: "docs/_static/*"

api:
  - changed-files:
      - any-glob-to-any-file: "docs/api/**"

deployment guide:
  - changed-files:
      - any-glob-to-any-file: "docs/deployment_guide/**"
      - any-glob-to-any-file: "docs/shared/**"

developer guide:
  - changed-files:
      - any-glob-to-any-file: "docs/developer_guide/**"

release notes:
  - changed-files:
      - any-glob-to-any-file: "docs/release_notes/**"

requirements:
  - changed-files:
      - any-glob-to-any-file: "docs/system_requirements/**"

user guide:
  - changed-files:
      - any-glob-to-any-file: "docs/user_guide/**"
