Repository open-edge-platform/edge-manage-docs, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, root, base docs, api, deployment guide, developer guide, release notes, requirements, user guide

Update VERSION (#505)
  VERSION
Labels: root

Update VERSION
  VERSION
Labels: root

Update VERSION (#506)
  VERSION
Labels: root

Update VERSION -dev
  VERSION
Labels: root

Update VERSION -dev (#507)
  VERSION
Labels: root

[release-branch]update 2026.1 kpis (#503)
  docs/release_notes/2026.1/kpi_2026.1.rst
Labels: release notes

EMF deprecation note - readme
  README.md
Labels: root

Update index.rst
  docs/index.rst
Labels: base docs

Update docconf.py
  docconf/docconf/docconf.py
Labels: root

Update index.rst
  docs/index.rst
Labels: base docs

EMF deprecation note - readme (#509)
  README.md
  docconf/docconf/docconf.py
  docs/index.rst
Labels: root, base docs

.github/labeler.yml:

---
# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# Config for https://github.com/actions/labeler

CI:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"
      - any-glob-to-any-file: "docconf/**"

base docs:
  - changed-files:
      - any-glob-to-any-file: "docs/*"
      - any-glob-to-any-file: "docs/_static/*"

api:
  - changed-files:
      - any-glob-to-any-file: "docs/api/**"

deployment guide:
  - changed-files:
      - any-glob-to-any-file: "docs/deployment_guide/**"
      - any-glob-to-any-file: "docs/shared/**"

developer guide:
  - changed-files:
      - any-glob-to-any-file: "docs/developer_guide/**"

release notes:
  - changed-files:
      - any-glob-to-any-file: "docs/release_notes/**"

requirements:
  - changed-files:
      - any-glob-to-any-file: "docs/system_requirements/**"

user guide:
  - changed-files:
      - any-glob-to-any-file: "docs/user_guide/**"
