Repository open-edge-platform/edge-manage-docs, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, root, base docs, api, deployment guide, developer guide, release notes, requirements, user guide

.github/labeler.yml:

---
# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# Config for https://github.com/actions/labeler

CI:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"
      - any-glob-to-any-file: "docconf/**"

base docs:
  - changed-files:
      - any-glob-to-any-file: "docs/*"
      - any-glob-to-any-file: "docs/_static/*"

api:
  - changed-files:
      - any-glob-to-any-file: "docs/api/**"

deployment guide:
  - changed-files:
      - any-glob-to-any-file: "docs/deployment_guide/**"
      - any-glob-to-any-file: "docs/shared/**"

developer guide:
  - changed-files:
      - any-glob-to-any-file: "docs/developer_guide/**"

release notes:
  - changed-files:
      - any-glob-to-any-file: "docs/release_notes/**"

requirements:
  - changed-files:
      - any-glob-to-any-file: "docs/system_requirements/**"

user guide:
  - changed-files:
      - any-glob-to-any-file: "docs/user_guide/**"

Remove alpha support note for Intel Core Ultra Series 3
  docs/release_notes/2025.2/rel_notes_2025.2.rst
Labels: release notes

Intel OOT GPU driver installation using custom cloudinit
  docs/user_guide/advanced_functionality/Intel_OOT_gpu_driver_installation.rst
  docs/user_guide/advanced_functionality/index.rst
Labels: user guide

Update the GPU installation steps
  docs/user_guide/advanced_functionality/Intel_OOT_gpu_driver_installation.rst
Labels: user guide

Fix alignment
  docs/user_guide/advanced_functionality/Intel_OOT_gpu_driver_installation.rst
Labels: user guide

Initial commit for 2026.0.0 (#290)
  VERSION
Labels: root

Update to release 2025.2.0 (#289)
  VERSION
Labels: root

AO doc update (#297)
  docs/release_notes/2025.2/rel_notes_2025.2.rst
  docs/user_guide/package_software/app_requirements.rst
  docs/user_guide/package_software/orch_cli/orch_cli_guide.rst
  docs/user_guide/package_software/registry_security.rst
Labels: release notes, user guide

AO doc update (#296)
  docs/release_notes/2025.2/rel_notes_2025.2.rst
  docs/user_guide/package_software/app_requirements.rst
  docs/user_guide/package_software/orch_cli/orch_cli_guide.rst
  docs/user_guide/package_software/registry_security.rst
Labels: release notes, user guide

fix lint error
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
  docs/release_notes/2025.2/rel_notes_2025.2.rst
Labels: deployment guide, release notes

doc update for onprem (#303)
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
  docs/release_notes/2025.2/rel_notes_2025.2.rst
  docs/shared/shared_ao_co_o11y.rst
Labels: deployment guide, release notes

Update VERSION
  VERSION
Labels: root

onprem-upgrade troubleshooting added for kyverno image pull issue
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
  docs/release_notes/2025.2/rel_notes_2025.2.rst
Labels: deployment guide, release notes

update external deps for 2025.2 rel note
  docs/release_notes/2025.2/third_party_components_2025.2.rst
Labels: release notes

onprem-upgrade troubleshooting added for kyverno image pull issue (#304)
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
  docs/release_notes/2025.2/rel_notes_2025.2.rst
Labels: deployment guide, release notes

lint fix
  docs/release_notes/2025.2/third_party_components_2025.2.rst
Labels: release notes

Revise INBM agent update in release notes
  docs/release_notes/2025.2/rel_notes_2025.2.rst
Labels: release notes

update EIM 3rd party dependency
  docs/release_notes/2025.2/third_party_components_2025.2.rst
Labels: release notes

update EIM 3rd party deps
  docs/release_notes/2025.2/third_party_components_2025.2.rst
Labels: release notes

Update index.rst
  docs/index.rst
Labels: base docs

Update KPI data
  docs/release_notes/2025.2/kpi_2025.2.rst
Labels: release notes

Add release highlights image to 2025.2 notes
  docs/release_notes/2025.2/rel_notes_2025.2.rst
  docs/user_guide/advanced_functionality/images/release-notes-20252.png
Labels: release notes, user guide

Update release notes for out-of-band management
  docs/release_notes/2025.2/rel_notes_2025.2.rst
Labels: release notes

restore 3.1 file
  docs/release_notes/3.1/third_party_components_3.1.rst
Labels: release notes

Update dependency
  docs/release_notes/2025.2/third_party_components_2025.2.rst
Labels: release notes

emf version fix
  docs/release_notes/2025.2/third_party_components_2025.2.rst
Labels: release notes

emf-version update
  docs/release_notes/2025.2/third_party_components_2025.2.rst
Labels: release notes

Update custom OS profile docs with duplicate name warning
  docs/user_guide/advanced_functionality/custom_os_profile.rst
Labels: user guide

Fix terminology in custom OS profile prerequisites
  docs/user_guide/advanced_functionality/custom_os_profile.rst
Labels: user guide

Fix formatting in custom OS profile prerequisites
  docs/user_guide/advanced_functionality/custom_os_profile.rst
Labels: user guide

Update custom OS profile docs with duplicate name warning (#306)
  docs/user_guide/advanced_functionality/custom_os_profile.rst
Labels: user guide

update AO release note
  docs/release_notes/2025.2/rel_notes_2025.2.rst
Labels: release notes

update AO release note
  docs/release_notes/2025.2/rel_notes_2025.2.rst
Labels: release notes

Update 2025.2 release notes image path and references
  docs/release_notes/2025.2/rel_notes_2025.2.rst
  docs/release_notes/2025.2/release-notes-20252.png
Labels: release notes

Fix INBM update note formatting in release notes
  docs/release_notes/2025.2/rel_notes_2025.2.rst
Labels: release notes

Remove trailing spaces in release notes
  docs/release_notes/2025.2/rel_notes_2025.2.rst
Labels: release notes

Fix typo in release notes for 2025.2 (#298)
  docs/release_notes/2025.2/kpi_2025.2.rst
  docs/release_notes/2025.2/rel_notes_2025.2.rst
  docs/release_notes/2025.2/release-notes-20252.png
Labels: release notes

onprem-upgrade troubleshooting added for kyverno image pull issue (#304)
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
  docs/release_notes/2025.2/rel_notes_2025.2.rst
Labels: deployment guide, release notes

doc update for onprem (#303)
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
  docs/release_notes/2025.2/rel_notes_2025.2.rst
  docs/shared/shared_ao_co_o11y.rst
Labels: deployment guide, release notes

update AO release note (#308)
  docs/release_notes/2025.2/rel_notes_2025.2.rst
Labels: release notes

update AO release note (#307)
  docs/release_notes/2025.2/rel_notes_2025.2.rst
Labels: release notes
