Repository open-edge-platform/edge-manage-docs, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, root, base docs, api, deployment guide, developer guide, release notes, requirements, user guide

.github/labeler.yml:

---
# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# Config for https://github.com/actions/labeler

CI:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"
      - any-glob-to-any-file: "docconf/**"

base docs:
  - changed-files:
      - any-glob-to-any-file: "docs/*"
      - any-glob-to-any-file: "docs/_static/*"

api:
  - changed-files:
      - any-glob-to-any-file: "docs/api/**"

deployment guide:
  - changed-files:
      - any-glob-to-any-file: "docs/deployment_guide/**"
      - any-glob-to-any-file: "docs/shared/**"

developer guide:
  - changed-files:
      - any-glob-to-any-file: "docs/developer_guide/**"

release notes:
  - changed-files:
      - any-glob-to-any-file: "docs/release_notes/**"

requirements:
  - changed-files:
      - any-glob-to-any-file: "docs/system_requirements/**"

user guide:
  - changed-files:
      - any-glob-to-any-file: "docs/user_guide/**"

added argocd installer and flow guide
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_argocd.rst
Labels: deployment guide

removed /etc/hosts fqdn entry for onprem (#162)
  docs/deployment_guide/on_prem_deployment/on_prem_deployment_profiles/on_prem_oxm_profile.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

Update on_prem_argocd.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_argocd.rst
Labels: deployment guide

Adding exclude patterns to docs
  docconf/docconf/docconf.py
Labels: root

Improving cli docs
  docs/user_guide/set_up_edge_infra/edge_node_onboard/edge_node_registration.rst
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: user guide

Create cloud_argocd.rst
  docs/deployment_guide/cloud_deployment/cloud_how_to/cloud_argocd.rst
Labels: deployment guide

AO-CLI usages docs
  docs/user_guide/package_software/applications.rst
  docs/user_guide/package_software/deploy_packages.rst
  docs/user_guide/package_software/deployments.rst
  docs/user_guide/package_software/index.rst
  docs/user_guide/package_software/orch_cli/orch_cli_guide.rst
  docs/user_guide/package_software/registry.rst
Labels: user guide

fix lint issues
  docs/user_guide/package_software/applications.rst
  docs/user_guide/package_software/deploy_packages.rst
  docs/user_guide/package_software/deployments.rst
  docs/user_guide/package_software/orch_cli/orch_cli_guide.rst
  docs/user_guide/package_software/registry.rst
Labels: user guide

Blank line
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: user guide

linter
  docs/user_guide/set_up_edge_infra/edge_node_onboard/edge_node_registration.rst
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: user guide

Linter2
  docs/user_guide/set_up_edge_infra/edge_node_onboard/edge_node_registration.rst
Labels: user guide

Improving cli docs (#165)
  docs/user_guide/set_up_edge_infra/edge_node_onboard/edge_node_registration.rst
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: user guide

Update day-2 scheduling for min time
  docs/user_guide/advanced_functionality/host_schedule_main.rst
Labels: user guide

Update architecture docs and diagram for new tools
  docs/developer_guide/infra_manager/arch/hl_architecture.rst
  docs/developer_guide/infra_manager/arch/images/eim_arch.png
Labels: developer guide

AO-CLI documentation guide (#166)
  docs/user_guide/package_software/applications.rst
  docs/user_guide/package_software/deploy_packages.rst
  docs/user_guide/package_software/deployments.rst
  docs/user_guide/package_software/index.rst
  docs/user_guide/package_software/orch_cli/orch_cli_guide.rst
  docs/user_guide/package_software/registry.rst
Labels: user guide

update custom-config docs
  docs/user_guide/advanced_functionality/custom_config.rst
Labels: user guide

Fix line wrapping in Orch CLI documentation
  docs/developer_guide/infra_manager/arch/hl_architecture.rst
Labels: developer guide

Fix line break in Device Management Toolkit description
  docs/developer_guide/infra_manager/arch/hl_architecture.rst
Labels: developer guide

Update architecture docs and diagram for new tools (#168)
  docs/developer_guide/infra_manager/arch/hl_architecture.rst
  docs/developer_guide/infra_manager/arch/images/eim_arch.png
Labels: developer guide

Update EIM architecture diagram
  docs/developer_guide/infra_manager/arch/images/eim_arch.png
Labels: developer guide

Update EIM architecture diagram (#170)
  docs/developer_guide/infra_manager/arch/images/eim_arch.png
Labels: developer guide

update custom-config docs
  docs/user_guide/advanced_functionality/custom_config.rst
Labels: user guide

[cloud-env]argo installer guide
  docs/deployment_guide/cloud_deployment/cloud_how_to/cloud_argocd.rst
Labels: deployment guide

[DOCS] fix build errors
  docs/developer_guide/infra_manager/index.rst
Labels: developer guide

[DOCS] fix build errors (#172)
  docs/developer_guide/infra_manager/index.rst
Labels: developer guide

Update index.rst
  docs/developer_guide/infra_manager/index.rst
Labels: developer guide

[DOCS] fix build errors (#173)
  docs/developer_guide/infra_manager/index.rst
Labels: developer guide

Autocompletion for Orch-CLI
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: user guide

Autocompletion for Orch-CLI (#174)
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: user guide

Adjust branch_pattern filter to avoid invalid regex when parsing branch names.
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge.yml
  .github/workflows/publish-docs.yml
Labels: CI

fixed sentence error
  docs/user_guide/advanced_functionality/custom_config.rst
Labels: user guide

custom-config documentation update (#169)
  docs/user_guide/advanced_functionality/custom_config.rst
Labels: user guide

[DOCS] Adjust branch_pattern filter to avoid invalid regex when parsing branch names. (#175)
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge.yml
  .github/workflows/publish-docs.yml
Labels: CI

Update Orch CLI documentation link
  docs/developer_guide/infra_manager/arch/hl_architecture.rst
Labels: developer guide

Update Orch CLI documentation link (#176)
  docs/developer_guide/infra_manager/arch/hl_architecture.rst
Labels: developer guide

Update CODEOWNERS
  .github/CODEOWNERS
Labels: CI

Update CODEOWNERS (#177)
  .github/CODEOWNERS
Labels: CI

Update day-2 scheduling for min time (#167)
  docs/user_guide/advanced_functionality/host_schedule_main.rst
Labels: user guide

Adjust branch_pattern filter
  .github/workflows/post-merge.yml
Labels: CI

[DOCS] change main to dev
  .github/workflows/publish-docs.yml
Labels: CI
