Repository open-edge-platform/edge-manage-docs, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, root, base docs, api, deployment guide, developer guide, release notes, requirements, user guide

changes for AO, CO , Argocd , deployment script
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/system_requirements_on_prem_orch.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_openport.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/onprem_single_tenancy.rst
  docs/modular_workflows/vpro-amt-ism/modular-vpro-amt-ism-deployment.rst
  docs/shared/shared_ao_co_o11y.rst
  docs/shared/shared_gs_firewall_config.rst
  docs/shared/shared_on_prem_ts_sync_root_app.rst
  docs/shared/shared_on_prem_ts_vault_unseal.rst
  docs/shared/shared_ts_rs_token.rst
  docs/user_guide/troubleshooting/o11y_grafana_mimir.rst
Labels: deployment guide, user guide

update known issues for project mgmt
  docs/release_notes/2026.1/rel_notes_2026.1.rst
Labels: release notes

updated release notes for rc2
  docs/release_notes/2026.1/containers_helm_charts_2026.1.rst
  docs/release_notes/2026.1/rel_notes_2026.1.rst
  docs/release_notes/2026.1/third_party_components_2026.1.rst
Labels: release notes

updated 3rd party versions
  docs/release_notes/2026.1/third_party_components_2026.1.rst
Labels: release notes

updated 3rd party versions
  docs/release_notes/2026.1/third_party_components_2026.1.rst
Labels: release notes

updated note for Upgrade
  docs/release_notes/2026.1/rel_notes_2026.1.rst
Labels: release notes

VBU apps documentation update (#483)
  docs/user_guide/index.rst
  docs/user_guide/intel_solutions/index.rst
Labels: user guide

Update edge node agent dependency versions
  docs/release_notes/2026.1/third_party_components_2026.1.rst
Labels: release notes

Updated Observability documentation
  docs/developer_guide/agents/arch/platform_observability.rst
  docs/developer_guide/observability/arch/concepts/images/obs_multi_data_access.svg
  docs/developer_guide/observability/arch/concepts/images/obs_multi_data_ingestio_processing.svg
  docs/developer_guide/observability/arch/concepts/multitenancy.rst
  docs/developer_guide/observability/arch/edgenode/hosts.rst
  docs/developer_guide/observability/arch/images/overview.png
  docs/developer_guide/observability/arch/index.rst
  docs/developer_guide/observability/arch/orchestrator/alerting-monitor.rst
  docs/developer_guide/observability/arch/orchestrator/edgenode-observability.rst
  docs/developer_guide/observability/arch/orchestrator/images/asynchronous_api_call_example_diagram.svg
  docs/developer_guide/observability/arch/orchestrator/images/diagram_edge_node-obs_stack.svg
  docs/developer_guide/observability/arch/orchestrator/images/diagram_orchestrator_node_obs_stack.svg
  docs/developer_guide/observability/arch/orchestrator/images/diagram_ui_alerting.svg
  docs/developer_guide/observability/arch/orchestrator/images/synchronous_api_call_example_diagram.svg
  docs/developer_guide/observability/arch/orchestrator/index.rst
  docs/developer_guide/observability/index.rst
  docs/shared/shared_o11y.rst
  docs/user_guide/advanced_functionality/index.rst
  docs/user_guide/advanced_functionality/view_metrics.rst
  docs/user_guide/monitor_deployments/grafana_content.rst
  docs/user_guide/monitor_deployments/index.rst
  docs/user_guide/monitor_deployments/orchestrator_observability.rst
Labels: deployment guide, developer guide, user guide

Fix build errors
  docs/deployment_guide/on_prem_deployment/index.rst
  docs/developer_guide/agents/arch/platform_observability.rst
  docs/developer_guide/index.rst
  docs/developer_guide/observability/arch/concepts/multitenancy.rst
  docs/developer_guide/observability/arch/edgenode/hosts.rst
  docs/developer_guide/observability/arch/orchestrator/alerting-monitor.rst
  docs/user_guide/monitor_deployments/orchestrator_observability.rst
Labels: deployment guide, developer guide, user guide

Build fix
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/index.rst
Labels: deployment guide

Fix linter issue
  docs/developer_guide/observability/arch/concepts/multitenancy.rst
Labels: developer guide

updated kyverno and istio default value
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

build fix
  docs/release_notes/2026.1/rel_notes_2026.1.rst
Labels: release notes

Updated SOL documentation
  docs/user_guide/troubleshooting/amt_issues.rst
Labels: user guide

chnages for review comments
  docs/release_notes/2026.1/rel_notes_2026.1.rst
  docs/user_guide/troubleshooting/amt_issues.rst
Labels: release notes, user guide

chnages for review comments
  docs/release_notes/2026.1/rel_notes_2026.1.rst
Labels: release notes

language and style class selection
  src/components/CardDetails/CardDetails.tsx
  src/components/Code/Code.tsx
  src/components/Code/image.png
  src/sections/Ecosystem.tsx
  src/sections/HomePageHeader.tsx
Labels: none

Initial commit for 2026.1.0 release (#430)
  VERSION
Labels: root

updated values for Trusted compute
  docs/release_notes/2026.1/third_party_components_2026.1.rst
Labels: release notes

new DocumentationLink component
  docusaurus.config.ts
  src/hooks/use-current-spoke.ts
  src/hooks/use-spoke-href.ts
  src/hooks/use-spokes.ts
  src/hub-catalog.ts
  src/sections/Ecosystem.tsx
  src/theme/NavbarItem/ComponentTypes.ts
  src/theme/NavbarItem/DocumentationLink.tsx
  src/theme/NavbarItem/ProductGridDropdown/index.tsx
Labels: root

fix ssr parsing
  docusaurus.config.ts
  src/hooks/use-current-spoke.ts
  src/theme/NavbarItem/ComponentTypes.ts
  src/theme/NavbarItem/DocumentationLink.tsx
  src/theme/NavbarItem/IntelLogo.tsx
  src/theme/NavbarItem/ProductGridDropdown/index.tsx
Labels: root

updated no lenovo support
  docs/release_notes/2026.1/rel_notes_2026.1.rst
Labels: release notes

fixed lint issue
  docs/release_notes/2026.1/rel_notes_2026.1.rst
Labels: release notes

2026.1 release note (#485)
  docs/release_notes/2026.1/containers_helm_charts_2026.1.rst
  docs/release_notes/2026.1/kpi_2026.1.rst
  docs/release_notes/2026.1/rel_notes_2026.1.rst
  docs/release_notes/2026.1/third_party_components_2026.1.rst
  docs/release_notes/2026.1/version_2026.1.rst
  docs/release_notes/index.rst
  docs/user_guide/troubleshooting/amt_issues.rst
Labels: release notes, user guide

chnages for review comments
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/onprem_single_tenancy.rst
  docs/shared/shared_gs_firewall_config.rst
Labels: deployment guide

remove intel logo
  docusaurus.config.ts
  src/css/navbar.css
  src/theme/NavbarItem/ComponentTypes.ts
  src/theme/NavbarItem/IntelLogo.tsx
  static/img/intel-logo.svg
Labels: root

remove external icon from documentation
  docusaurus.config.ts
  src/theme/NavbarItem/DocumentationLink.tsx
Labels: root

remove the empty space next to openvino text in the navbar
  src/css/navbar.css
Labels: none

add openvino card and improve styles
  src/hub-catalog.ts
  src/theme/NavbarItem/ProductGridDropdown/styles.module.css
Labels: none

highligh the link when that page the gien page is visible
  docusaurus.config.ts
  package-lock.json
  package.json
  src/css/navbar.css
  src/theme/NavbarItem/DocumentationLink.tsx
  src/theme/NavbarItem/ProductGridDropdown/index.tsx
  src/theme/NavbarItem/ProductGridDropdown/styles.module.css
  src/theme/NavbarItem/SpokeVersionDropdown.tsx
Labels: root

Changes for onprem deployment (#492)
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/system_requirements_on_prem_orch.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_openport.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/onprem_single_tenancy.rst
  docs/modular_workflows/vpro-amt-ism/modular-vpro-amt-ism-deployment.rst
  docs/shared/shared_ao_co_o11y.rst
  docs/shared/shared_gs_firewall_config.rst
  docs/shared/shared_on_prem_ts_sync_root_app.rst
  docs/shared/shared_on_prem_ts_vault_unseal.rst
  docs/shared/shared_ts_rs_token.rst
  docs/user_guide/troubleshooting/o11y_grafana_mimir.rst
Labels: deployment guide, user guide

Updated Observability documentation (#493)
  docs/deployment_guide/on_prem_deployment/index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/index.rst
  docs/developer_guide/agents/arch/platform_observability.rst
  docs/developer_guide/index.rst
  docs/developer_guide/observability/arch/concepts/images/obs_multi_data_access.svg
  docs/developer_guide/observability/arch/concepts/images/obs_multi_data_ingestio_processing.svg
  docs/developer_guide/observability/arch/concepts/multitenancy.rst
  docs/developer_guide/observability/arch/edgenode/hosts.rst
  docs/developer_guide/observability/arch/images/overview.png
  docs/developer_guide/observability/arch/index.rst
  docs/developer_guide/observability/arch/orchestrator/alerting-monitor.rst
  docs/developer_guide/observability/arch/orchestrator/edgenode-observability.rst
  docs/developer_guide/observability/arch/orchestrator/images/asynchronous_api_call_example_diagram.svg
  docs/developer_guide/observability/arch/orchestrator/images/diagram_edge_node-obs_stack.svg
  docs/developer_guide/observability/arch/orchestrator/images/diagram_orchestrator_node_obs_stack.svg
  docs/developer_guide/observability/arch/orchestrator/images/diagram_ui_alerting.svg
  docs/developer_guide/observability/arch/orchestrator/images/synchronous_api_call_example_diagram.svg
  docs/developer_guide/observability/arch/orchestrator/index.rst
  docs/developer_guide/observability/index.rst
  docs/shared/shared_o11y.rst
  docs/user_guide/advanced_functionality/index.rst
  docs/user_guide/advanced_functionality/view_metrics.rst
  docs/user_guide/monitor_deployments/grafana_content.rst
  docs/user_guide/monitor_deployments/index.rst
  docs/user_guide/monitor_deployments/orchestrator_observability.rst
Labels: deployment guide, developer guide, user guide

update 2026.1 kpis
  docs/release_notes/2026.1/kpi_2026.1.rst
Labels: release notes

Update kpi_2026.1.rst
  docs/release_notes/2026.1/kpi_2026.1.rst
Labels: release notes

[release-branch]update 2026.1 kpis
  docs/release_notes/2026.1/kpi_2026.1.rst
Labels: release notes

Update VERSION
  VERSION
Labels: root

Update VERSION
  VERSION
Labels: root

Update VERSION (#504)
  VERSION
Labels: root

Update VERSION
  VERSION
Labels: root

.github/labeler.yml:

---
# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# Config for https://github.com/actions/labeler

CI:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"
      - any-glob-to-any-file: "docconf/**"

base docs:
  - changed-files:
      - any-glob-to-any-file: "docs/*"
      - any-glob-to-any-file: "docs/_static/*"

api:
  - changed-files:
      - any-glob-to-any-file: "docs/api/**"

deployment guide:
  - changed-files:
      - any-glob-to-any-file: "docs/deployment_guide/**"
      - any-glob-to-any-file: "docs/shared/**"

developer guide:
  - changed-files:
      - any-glob-to-any-file: "docs/developer_guide/**"

release notes:
  - changed-files:
      - any-glob-to-any-file: "docs/release_notes/**"

requirements:
  - changed-files:
      - any-glob-to-any-file: "docs/system_requirements/**"

user guide:
  - changed-files:
      - any-glob-to-any-file: "docs/user_guide/**"
