Repository open-edge-platform/edge-manage-docs, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, root, base docs, api, deployment guide, developer guide, release notes, requirements, user guide

.github/labeler.yml:

---
# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# Config for https://github.com/actions/labeler

CI:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"
      - any-glob-to-any-file: "docconf/**"

base docs:
  - changed-files:
      - any-glob-to-any-file: "docs/*"
      - any-glob-to-any-file: "docs/_static/*"

api:
  - changed-files:
      - any-glob-to-any-file: "docs/api/**"

deployment guide:
  - changed-files:
      - any-glob-to-any-file: "docs/deployment_guide/**"
      - any-glob-to-any-file: "docs/shared/**"

developer guide:
  - changed-files:
      - any-glob-to-any-file: "docs/developer_guide/**"

release notes:
  - changed-files:
      - any-glob-to-any-file: "docs/release_notes/**"

requirements:
  - changed-files:
      - any-glob-to-any-file: "docs/system_requirements/**"

user guide:
  - changed-files:
      - any-glob-to-any-file: "docs/user_guide/**"

Move from Administration to advanced functionality
  docs/user_guide/additional_howtos/index.rst
Labels: user guide

Splitting alerting properly
  docs/user_guide/administration/alerting.rst
  docs/user_guide/administration/alerts_email.rst
  docs/user_guide/administration/images/EO-email-config.png
  docs/user_guide/administration/index.rst
  docs/user_guide/advanced_functionality/alerting.rst
  docs/user_guide/advanced_functionality/alerts_config.rst
  docs/user_guide/advanced_functionality/index.rst
Labels: user guide

Reporting Agent documentation
  docs/developer_guide/agents/arch/images/reporting-agent.png
  docs/developer_guide/agents/arch/index.rst
  docs/developer_guide/agents/arch/reporting.rst
  docs/developer_guide/agents/index.rst
Labels: developer guide

Update naming - Grafana Loki
  docs/developer_guide/agents/arch/reporting.rst
Labels: developer guide

Change ref to doc
  docs/developer_guide/agents/index.rst
Labels: developer guide

Update docs/developer_guide/agents/arch/reporting.rst
  docs/developer_guide/agents/arch/reporting.rst
Labels: developer guide

Update docs/developer_guide/agents/arch/reporting.rst
  docs/developer_guide/agents/arch/reporting.rst
Labels: developer guide

Update docs/developer_guide/agents/arch/reporting.rst
  docs/developer_guide/agents/arch/reporting.rst
Labels: developer guide

Update docs/developer_guide/agents/arch/reporting.rst
  docs/developer_guide/agents/arch/reporting.rst
Labels: developer guide

Update docs/developer_guide/agents/arch/reporting.rst
  docs/developer_guide/agents/arch/reporting.rst
Labels: developer guide

Update docs/developer_guide/agents/arch/reporting.rst
  docs/developer_guide/agents/arch/reporting.rst
Labels: developer guide

Link fix
  docs/developer_guide/agents/index.rst
Labels: developer guide

Review comments addressed
  docs/developer_guide/agents/arch/reporting.rst
  docs/developer_guide/agents/index.rst
Labels: developer guide

Self-review changes. Build readme update.
  README.md
  docs/developer_guide/agents/arch/reporting.rst
Labels: root, developer guide

Line length lint fix
  README.md
Labels: root

Kubernetes with capital K
  docs/developer_guide/agents/arch/reporting.rst
Labels: developer guide

Update docs/developer_guide/agents/arch/reporting.rst
  docs/developer_guide/agents/arch/reporting.rst
Labels: developer guide

Reporting Agent documentation (#68)
  README.md
  docs/developer_guide/agents/arch/images/reporting-agent.png
  docs/developer_guide/agents/arch/index.rst
  docs/developer_guide/agents/arch/reporting.rst
  docs/developer_guide/agents/index.rst
Labels: root, developer guide

Update CODEOWNERS file
  .github/CODEOWNERS
Labels: CI

Add deployment guide for OXM profile
  docs/deployment_guide/on_prem_deployment/images/on-prem-oxm-profile-topology.png
  docs/deployment_guide/on_prem_deployment/index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_deployment_profiles/index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_deployment_profiles/on_prem_oxm_profile.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

update diagram
  docs/deployment_guide/on_prem_deployment/images/on-prem-oxm-profile-topology.png
Labels: deployment guide

move Lenovo to deployment profile
  docs/deployment_guide/on_prem_deployment/on_prem_deployment_profiles/index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_deployment_profiles/on_prem_lenovo.rst
  docs/deployment_guide/on_prem_deployment/on_prem_deployment_profiles/on_prem_oxm_profile.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

typo
  docs/deployment_guide/on_prem_deployment/on_prem_deployment_profiles/on_prem_oxm_profile.rst
Labels: deployment guide

init commit
  docs/user_guide/advanced_functionality/oxm_pxe_provisioning.rst
Labels: user guide

Update docs/deployment_guide/on_prem_deployment/on_prem_deployment_profiles/on_prem_oxm_profile.rst
  docs/deployment_guide/on_prem_deployment/on_prem_deployment_profiles/on_prem_oxm_profile.rst
Labels: deployment guide

up
  docs/user_guide/advanced_functionality/oxm_pxe_provisioning.rst
Labels: user guide

up
  docs/deployment_guide/on_prem_deployment/on_prem_deployment_profiles/on_prem_oxm_profile.rst
  docs/user_guide/advanced_functionality/oxm_pxe_provisioning.rst
Labels: deployment guide, user guide

update
  docs/deployment_guide/on_prem_deployment/on_prem_deployment_profiles/on_prem_lenovo.rst
  docs/deployment_guide/on_prem_deployment/on_prem_deployment_profiles/on_prem_oxm_profile.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

Update CODEOWNERS file (#69)
  .github/CODEOWNERS
Labels: CI

fix
  docs/deployment_guide/on_prem_deployment/on_prem_deployment_profiles/on_prem_lenovo.rst
Labels: deployment guide

fix
  docs/deployment_guide/on_prem_deployment/on_prem_deployment_profiles/on_prem_lenovo.rst
Labels: deployment guide

Re-organize on-prem deployment guide and add deployment guide for OXM profile (#71)
  docs/deployment_guide/on_prem_deployment/images/on-prem-oxm-profile-topology.png
  docs/deployment_guide/on_prem_deployment/index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_deployment_profiles/index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_deployment_profiles/on_prem_lenovo.rst
  docs/deployment_guide/on_prem_deployment/on_prem_deployment_profiles/on_prem_oxm_profile.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

up
  docs/user_guide/advanced_functionality/oxm_pxe_provisioning.rst
Labels: user guide

Add user apps guide
  docs/user_guide/advanced_functionality/oxm_pxe_provisioning.rst
Labels: user guide

init commit
  docs/user_guide/set_up_edge_infra/clusters/accessing_clusters.rst
  docs/user_guide/set_up_edge_infra/clusters/cluster_details.rst
  docs/user_guide/set_up_edge_infra/clusters/create_clusters.rst
  docs/user_guide/set_up_edge_infra/clusters/delete_clusters.rst
  docs/user_guide/set_up_edge_infra/clusters/edit_clusters.rst
  docs/user_guide/set_up_edge_infra/clusters/index.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/common.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/edge_node_registration.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/https_boot/index.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/index.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/onboard_lenovo/https_assisted_boot.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/onboard_lenovo/loca_assisted_boot.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/onboard_lenovo/prerequisites.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/onboard_lenovo/setup_loca.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/onboard_lenovo/usb_assisted_boot.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/usb_boot/configure_amt_asus.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/usb_boot/index.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/usb_boot/usb_boot_asus_system.rst
  docs/user_guide/set_up_edge_infra/edge_node_states/index.rst
  docs/user_guide/set_up_edge_infra/edge_node_states/onboarded_hosts.rst
  docs/user_guide/set_up_edge_infra/edge_node_states/provisioned_hosts.rst
  docs/user_guide/set_up_edge_infra/edge_node_states/registered_hosts.rst
  docs/user_guide/set_up_edge_infra/index.rst
  docs/user_guide/set_up_edge_infra/location/index.rst
Labels: user guide

continue refactoring
  docs/user_guide/set_up_edge_infra/edge_node_onboard/3rd_party_examples/index.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/3rd_party_examples/loca_assisted_boot.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/3rd_party_examples/setup_loca.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/https_boot/https_boot_dell.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/https_boot/https_boot_lenovo.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/https_boot/index.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/index.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/onboarding_actions/index.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/onboarding_actions/onboard_host.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/onboarding_actions/provision_host.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/prerequisites/asus_prereqisites.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/prerequisites/dell_prerequisites.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/prerequisites/index.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/prerequisites/lenovo_prerequisites.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/prerequisites/prepare_idrac.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/prerequisites/racadm_on_linux.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/prerequisites/racadm_on_windows.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/usb_boot/index.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/usb_boot/usb_boot_asus_system/configure_amt_asus.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/usb_boot/usb_boot_asus_system/index.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/usb_boot/usb_boot_dell.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/usb_boot/usb_boot_lenovo.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard_dell_server.rst
  docs/user_guide/set_up_edge_infra/edge_node_states/onboard_host_details.rst
  docs/user_guide/set_up_edge_infra/edge_node_states/onboarded_hosts.rst
  docs/user_guide/set_up_edge_infra/edge_node_states/provisioned_host_details.rst
  docs/user_guide/set_up_edge_infra/edge_node_states/provisioned_hosts.rst
Labels: user guide

fix build
  docs/user_guide/set_up_edge_infra/clusters/accessing_clusters.rst
  docs/user_guide/set_up_edge_infra/clusters/cluster_details.rst
  docs/user_guide/set_up_edge_infra/clusters/create_clusters.rst
  docs/user_guide/set_up_edge_infra/clusters/delete_clusters.rst
  docs/user_guide/set_up_edge_infra/clusters/edit_clusters.rst
  docs/user_guide/set_up_edge_infra/clusters/index.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/3rd_party_examples/loca_assisted_boot.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/3rd_party_examples/setup_loca.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/https_boot/https_boot_lenovo.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/index.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/onboarding_actions/onboard_host.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/onboarding_actions/provision_host.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/usb_boot/usb_boot_asus_system/index.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/usb_boot/usb_boot_lenovo.rst
  docs/user_guide/set_up_edge_infra/location/index.rst
Labels: user guide

fix build
  docs/user_guide/set_up_edge_infra/edge_node_onboard/common.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/edge_node_registration.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/index.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/onboarding_actions/onboard_host.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/prerequisites/asus_prerequisites.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/prerequisites/lenovo_prerequisites.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/usb_boot/usb_boot_asus_system/configure_amt_asus.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/usb_boot/usb_boot_asus_system/index.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/usb_boot/usb_boot_lenovo.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard_lenovo.rst
  docs/user_guide/set_up_edge_infra/edge_node_states/onboard_host_details.rst
  docs/user_guide/set_up_edge_infra/edge_node_states/provisioned_host_details.rst
  docs/user_guide/set_up_edge_infra/edge_node_states/provisioned_hosts.rst
  docs/user_guide/set_up_edge_infra/edge_node_states/registered_hosts.rst
Labels: user guide

fix build
  docs/developer_guide/app_orch/tutorials/accessing-applications/index.rst
  docs/developer_guide/troubleshooting/app_orch.rst
  docs/developer_guide/troubleshooting/edge_cluster_orchestrator.rst
  docs/shared/shared_secure_boot_opt_in.rst
  docs/shared/shared_update_provider.rst
  docs/user_guide/advanced_functionality/automated_deployment.rst
  docs/user_guide/advanced_functionality/configure_ssh_public_keys.rst
  docs/user_guide/advanced_functionality/set_default_cluster_template.rst
  docs/user_guide/advanced_functionality/view_os_profiles.rst
  docs/user_guide/concepts/metadata_example.rst
  docs/user_guide/get_started_guide/index.rst
  docs/user_guide/monitor_deployments/kpi.rst
  docs/user_guide/package_software/deployment_details.rst
  docs/user_guide/package_software/extensions/kubernetes_dashboard.rst
  docs/user_guide/package_software/extensions/trusted_compute_package.rst
  docs/user_guide/set_up_edge_infra/clusters/cluster_details.rst
  docs/user_guide/set_up_edge_infra/clusters/create_clusters.rst
  docs/user_guide/set_up_edge_infra/clusters/index.rst
  docs/user_guide/set_up_edge_infra/deauthorize_host.rst
  docs/user_guide/set_up_edge_infra/delete_host.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/3rd_party_examples/loca_assisted_boot.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/3rd_party_examples/setup_loca.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/common.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/edge_node_registration.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/https_boot/https_boot_dell.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/https_boot/https_boot_lenovo.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/index.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/usb_boot/usb_boot_asus_system/index.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/usb_boot/usb_boot_dell.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/usb_boot/usb_boot_lenovo.rst
Labels: deployment guide, developer guide, user guide

fix build
  docs/user_guide/set_up_edge_infra/edge_node_onboard/edge_node_registration.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/onboarding_actions/provision_host.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/prerequisites/lenovo_prerequisites.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/prerequisites/racadm_on_linux.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/prerequisites/racadm_on_windows.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/usb_boot/usb_boot_asus_system/index.rst
  docs/user_guide/set_up_edge_infra/edge_node_states/index.rst
  docs/user_guide/set_up_edge_infra/edge_node_states/onboard_host_details.rst
  docs/user_guide/set_up_edge_infra/edge_node_states/onboarded_hosts.rst
  docs/user_guide/set_up_edge_infra/edge_node_states/provisioned_hosts.rst
  docs/user_guide/set_up_edge_infra/edge_node_states/registered_hosts.rst
  docs/user_guide/set_up_edge_infra/index.rst
  docs/user_guide/troubleshooting/deploy_issue.rst
  docs/user_guide/troubleshooting/en_recover.rst
Labels: user guide
