Repository open-edge-platform/edge-manage-docs, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, root, base docs, api, deployment guide, developer guide, release notes, requirements, user guide

.github/labeler.yml:

---
# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# Config for https://github.com/actions/labeler

CI:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"
      - any-glob-to-any-file: "docconf/**"

base docs:
  - changed-files:
      - any-glob-to-any-file: "docs/*"
      - any-glob-to-any-file: "docs/_static/*"

api:
  - changed-files:
      - any-glob-to-any-file: "docs/api/**"

deployment guide:
  - changed-files:
      - any-glob-to-any-file: "docs/deployment_guide/**"
      - any-glob-to-any-file: "docs/shared/**"

developer guide:
  - changed-files:
      - any-glob-to-any-file: "docs/developer_guide/**"

release notes:
  - changed-files:
      - any-glob-to-any-file: "docs/release_notes/**"

requirements:
  - changed-files:
      - any-glob-to-any-file: "docs/system_requirements/**"

user guide:
  - changed-files:
      - any-glob-to-any-file: "docs/user_guide/**"

Fix post-merge permissions
  .github/workflows/post-merge.yml
Labels: CI

Fix post-merge permissions (#461)
  .github/workflows/post-merge.yml
Labels: CI

Update the publish creds
  .github/workflows/post-merge.yml
Labels: CI

Update the publish creds (#462)
  .github/workflows/post-merge.yml
Labels: CI

Permissions update for docs publish
  .github/workflows/post-merge.yml
Labels: CI

Permissions update for docs publish (#463)
  .github/workflows/post-merge.yml
Labels: CI

Temporary test aws creds
  .github/workflows/post-merge.yml
Labels: CI

Temporary test aws creds (#464)
  .github/workflows/post-merge.yml
Labels: CI

Removed the temporarry solution check
  .github/workflows/post-merge.yml
Labels: CI

Removed the temporarry solution check (#465)
  .github/workflows/post-merge.yml
Labels: CI

Switched back to prev. creds to docs publish
  .github/workflows/post-merge.yml
Labels: CI

Switched back to prev. creds to docs publish (#466)
  .github/workflows/post-merge.yml
Labels: CI

Temporary test new creds
  .github/workflows/post-merge.yml
Labels: CI

Temporary test new creds (#467)
  .github/workflows/post-merge.yml
Labels: CI

Update post-merge.yml
  .github/workflows/post-merge.yml
Labels: CI

Update post-merge.yml (#468)
  .github/workflows/post-merge.yml
Labels: CI

update docs for bulk power actions
  docs/modular_workflows/vpro-amt-ism/modular-vpro-amt-ism-deployment.rst
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: user guide

fix power-cycle/reset
  docs/modular_workflows/vpro-amt-ism/modular-vpro-amt-ism-deployment.rst
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: user guide

fix more inconsistencies
  docs/modular_workflows/vpro-amt-ism/modular-vpro-amt-ism-deployment.rst
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: user guide

update readme
  README.md
Labels: root

fix indexing root to make search working
  docusaurus.config.ts
Labels: root

root landing page
  docusaurus.config.ts
  src/components/EcosystemSection/index.tsx
  src/components/EcosystemSection/styles.module.css
  src/css/footer.css
  src/hooks/use-spoke-href.ts
  src/hub-catalog.ts
  src/pages/index.module.css
  src/pages/index.tsx
  src/theme/NavbarItem/ComponentTypes.ts
  src/theme/NavbarItem/ProductGridDropdown/index.tsx
  src/theme/NavbarItem/ProductGridDropdown/styles.module.css
Labels: root

root landing page
  docusaurus.config.ts
Labels: root

root landing page
  docusaurus.config.ts
Labels: root

root landing page
  docusaurus.config.ts
Labels: root

root landing page
  docusaurus.config.ts
Labels: root

root landing page
  docusaurus.config.ts
  src/components/EcosystemSection/styles.module.css
Labels: root

add link to the job run
  .github/workflows/deploy.yml
Labels: CI

optimise s3 sync
  .github/actions/aws-deploy/action.yaml
Labels: CI

update path
  .github/workflows/deploy.yml
Labels: CI

report job failures to the original repo
  .github/workflows/deploy.yml
Labels: CI

update path
  .github/actions/validate-dispatch/action.yaml
  .github/workflows/deploy.yml
  spokes.yml
Labels: CI, root

revert to opening the website root
  .github/workflows/deploy.yml
  spokes.yml
Labels: CI, root

revert to opening the website root
  .github/actions/validate-dispatch/action.yaml
Labels: CI

Fixing cooldown issue in code scanning
  .github/dependabot.yml
Labels: CI

Fixing cooldown issue in code scanning (#472)
  .github/dependabot.yml
Labels: CI

Update docs
  docs/user_guide/advanced_functionality/provisioning_clusters_without_co.rst
Labels: user guide

Add provisioning without co doc
  docs/user_guide/advanced_functionality/provisioning_clusters_without_co.rst
Labels: user guide

Update docs
  docs/user_guide/advanced_functionality/provisioning_clusters_without_co.rst
Labels: user guide

Update the document
  docs/user_guide/advanced_functionality/provisioning_clusters_without_co.rst
Labels: user guide
