Repository open-edge-platform/edge-manage-docs, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, root, base docs, api, deployment guide, developer guide, release notes, requirements, user guide

.github/labeler.yml:

---
# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# Config for https://github.com/actions/labeler

CI:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"
      - any-glob-to-any-file: "docconf/**"

base docs:
  - changed-files:
      - any-glob-to-any-file: "docs/*"
      - any-glob-to-any-file: "docs/_static/*"

api:
  - changed-files:
      - any-glob-to-any-file: "docs/api/**"

deployment guide:
  - changed-files:
      - any-glob-to-any-file: "docs/deployment_guide/**"
      - any-glob-to-any-file: "docs/shared/**"

developer guide:
  - changed-files:
      - any-glob-to-any-file: "docs/developer_guide/**"

release notes:
  - changed-files:
      - any-glob-to-any-file: "docs/release_notes/**"

requirements:
  - changed-files:
      - any-glob-to-any-file: "docs/system_requirements/**"

user guide:
  - changed-files:
      - any-glob-to-any-file: "docs/user_guide/**"

Update links to main
  docs/user_guide/advanced_functionality/oxm_pxe_provisioning.rst
Labels: user guide

Fix underline
  docs/user_guide/advanced_functionality/oxm_pxe_provisioning.rst
Labels: user guide

Update oxm_pxe_provisioning.rst
  docs/user_guide/advanced_functionality/oxm_pxe_provisioning.rst
Labels: user guide

Update kpi_2025.2.rst for version
  docs/release_notes/2025.2/kpi_2025.2.rst
Labels: release notes

Update day2 flow
  docs/developer_guide/infra_manager/arch/day2_flow.rst
Labels: developer guide

[vPRO]Updated user guide
  docs/user_guide/troubleshooting/amt_issues.rst
Labels: user guide

Fix the flow
  docs/developer_guide/infra_manager/arch/day2_flow.rst
Labels: developer guide

Fix the flow
  docs/developer_guide/infra_manager/arch/day2_flow.rst
Labels: developer guide

Fix the flow
  docs/developer_guide/infra_manager/arch/day2_flow.rst
Labels: developer guide

fix linter issue
  docs/user_guide/troubleshooting/amt_issues.rst
Labels: user guide

[vPRO]Updated user guide (#257)
  docs/user_guide/troubleshooting/amt_issues.rst
Labels: user guide

How to install new packages - update
  docs/user_guide/advanced_functionality/install_new_packages.rst
Labels: user guide

Update user guide with the supported mode
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
Labels: user guide

OS Update Policy document added
  docs/user_guide/advanced_functionality/apply_new_os_update_policy.rst
Labels: user guide

Update publish-docs.yml (#234)
  .github/workflows/publish-docs.yml
Labels: CI

Add images
  docs/user_guide/advanced_functionality/apply_new_os_update_policy.rst
  docs/user_guide/advanced_functionality/images/op-update-policy_immutable_target_os.png
  docs/user_guide/advanced_functionality/images/os-update-policy_immutable_latest.png
  docs/user_guide/advanced_functionality/images/os-update-policy_mutable_kernel_and_packages.png
  docs/user_guide/advanced_functionality/images/os-update-policy_mutable_only_os.png
  docs/user_guide/advanced_functionality/images/os-update-policy_screen_empty.png
  docs/user_guide/advanced_functionality/images/os-update-policy_type.png
  docs/user_guide/advanced_functionality/images/os-update-policy_upate_type.png
  docs/user_guide/advanced_functionality/images/os-update-policy_update_packages.png
Labels: user guide

Fix images
  docs/user_guide/advanced_functionality/apply_new_os_update_policy.rst
  docs/user_guide/advanced_functionality/images/os-update-policy_immutable_target_os.png
  docs/user_guide/advanced_functionality/images/os-update-policy_update_type.png
Labels: user guide

Fix
  docs/user_guide/advanced_functionality/apply_new_os_update_policy.rst
Labels: user guide

Fix
  docs/user_guide/advanced_functionality/apply_new_os_update_policy.rst
Labels: user guide

Update host_update_immutable_os document
  docs/user_guide/advanced_functionality/host_update_immutable_os.rst
Labels: user guide

Update testing_custom_os_resource document
  docs/developer_guide/infra_manager/tutorials/os_profiles/testing_custom_os_resource.rst
Labels: developer guide

Fix
  .github/copilot-instructions.md
  docs/user_guide/advanced_functionality/apply_new_os_update_policy.rst
Labels: CI, user guide

Fix
  .github/copilot-instructions.md
Labels: CI

Fix
  docs/user_guide/advanced_functionality/install_new_packages.rst
Labels: user guide

Fix
  docs/user_guide/advanced_functionality/apply_new_os_update_policy.rst
Labels: user guide

Fix
  docs/user_guide/advanced_functionality/apply_new_os_update_policy.rst
Labels: user guide

Fix
  docs/developer_guide/infra_manager/arch/day2_flow.rst
  docs/user_guide/advanced_functionality/apply_new_os_update_policy.rst
Labels: developer guide, user guide

update chatqna version and doc link
  docs/user_guide/intel_solutions/index.rst
Labels: user guide

typo
  docs/user_guide/intel_solutions/index.rst
Labels: user guide

feat: adding content
  docs/deployment_guide/cloud_deployment/cloud_how_to/cloud_upgrade.rst
  docs/deployment_guide/cloud_deployment/cloud_how_to/cloud_upgrade3-1.rst
  docs/deployment_guide/cloud_deployment/cloud_how_to/cloud_upgrade3-2.rst
Labels: deployment guide

adding changes
  docs/deployment_guide/cloud_deployment/cloud_how_to/cloud_upgrade3-2.rst
Labels: deployment guide

Documentation chnage for existinga nd fixed CVEs
  docs/user_guide/advanced_functionality/view_os_profiles.rst
Labels: user guide

Placeholder for new features
  docs/release_notes/2025.2/rel_notes_2025.2.rst
Labels: release notes

Adding commits
  docs/deployment_guide/cloud_deployment/cloud_how_to/cloud_upgrade3-2.rst
Labels: deployment guide

Create onprem-workaround-guid.rst
  docs/developer_guide/infra_manager/tutorials/upgrade/onprem-workaround-guid.rst
Labels: developer guide

Update onprem-workaround-guid.rst
  docs/developer_guide/infra_manager/tutorials/upgrade/onprem-workaround-guid.rst
Labels: developer guide

Update onprem-workaround-guid.rst
  docs/developer_guide/infra_manager/tutorials/upgrade/onprem-workaround-guid.rst
Labels: developer guide

Adding Single Tenancy docs
  docs/shared/shared_mt_overview.rst
Labels: deployment guide

update chatqna version and deployment doc url (#260)
  docs/user_guide/intel_solutions/index.rst
Labels: user guide

Adding more docs
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/onprem_single_tenancy.rst
  docs/shared/shared_mt_overview.rst
Labels: deployment guide
