Repository open-edge-platform/edge-manage-docs, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, root, base docs, api, deployment guide, developer guide, release notes, requirements, user guide

Cherry-picked the on-prem upgrade changes from the release branch into the main branch. (#309)
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
  docs/release_notes/2025.2/rel_notes_2025.2.rst
  docs/shared/shared_ao_co_o11y.rst
Labels: deployment guide, release notes

Fix formatting of reference application links in release notes
  docs/release_notes/2025.2/rel_notes_2025.2.rst
Labels: release notes

Fix formatting of reference application links in release notes (#310)
  docs/release_notes/2025.2/rel_notes_2025.2.rst
Labels: release notes

Updated release notes for known issue
  docs/release_notes/2025.2/rel_notes_2025.2.rst
Labels: release notes

Updated known issue to Release notes
  docs/release_notes/2025.2/rel_notes_2025.2.rst
Labels: release notes

Fixing Lint issues
  docs/release_notes/2025.2/rel_notes_2025.2.rst
Labels: release notes

Fix Lint issue
  docs/release_notes/2025.2/rel_notes_2025.2.rst
Labels: release notes

Updated release notes for known issue (#311)
  docs/release_notes/2025.2/rel_notes_2025.2.rst
Labels: release notes

Updated known issue to Release notes (#313)
  docs/release_notes/2025.2/rel_notes_2025.2.rst
Labels: release notes

Update docconf.py
  docconf/docconf/docconf.py
Labels: root

Update to release 2025.2.0
  VERSION
Labels: root

External dependencies for 2025.2 release notes (#305)
  docs/release_notes/2025.2/third_party_components_2025.2.rst
Labels: release notes

Update mentions of 22.04 to 24.04 in OS profile mgmt (#299) (#302)
  docs/developer_guide/infra_manager/tutorials/os_profiles/adding_os_profiles.rst
Labels: developer guide

[DOCS] adjust menu (#314)
  docconf/docconf/docconf.py
  docs/index.rst
Labels: root, base docs

[vPro] updated vPro format
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
Labels: user guide

[vPro] updated vPro format
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
Labels: user guide

fix
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
Labels: user guide

fix
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
Labels: user guide

fix
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
Labels: user guide

fix
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
Labels: user guide

fix
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
Labels: user guide

[vPro] vPro format updated in user guide (#321)
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
Labels: user guide

[vPro] updated vPro format (#322)
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
Labels: user guide

[vPro] Fix AMT issues hyperlink
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
Labels: user guide

fix hyperlink issue
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
  docs/user_guide/troubleshooting/amt_issues.rst
Labels: user guide

fix
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
  docs/user_guide/troubleshooting/amt_issues.rst
Labels: user guide

fix
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
Labels: user guide

fix
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
Labels: user guide

[vPro] Fix AMT issues hyperlink (#323)
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
Labels: user guide

Intel OOT GPU driver installation using custom cloudinit (#295)
  docs/user_guide/advanced_functionality/Intel_OOT_gpu_driver_installation.rst
  docs/user_guide/advanced_functionality/index.rst
Labels: user guide

fix
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
Labels: user guide

fix (#324)
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
Labels: user guide

vBU apps deploy KPI
  docs/release_notes/2025.2/kpi_2025.2.rst
Labels: release notes

vbu apps deploy KPI
  docs/release_notes/2025.2/kpi_2025.2.rst
Labels: release notes

External dependencies for 2025.2 release notes (#293)
  docs/release_notes/2025.2/third_party_components_2025.2.rst
Labels: release notes

Update known issue for Trusted compute
  docs/release_notes/2025.2/rel_notes_2025.2.rst
  docs/user_guide/troubleshooting/trusted_compute_issues.rst
Labels: release notes, user guide

vBU apps deploy KPI (#325)
  docs/release_notes/2025.2/kpi_2025.2.rst
Labels: release notes

vbu apps deploy KPI (#326)
  docs/release_notes/2025.2/kpi_2025.2.rst
Labels: release notes

feat: Update cloud_upgrade.rst (#278)
  docs/deployment_guide/cloud_deployment/cloud_how_to/cloud_upgrade.rst
Labels: deployment guide

Update custom usage in developer guide
  docs/developer_guide/infra_manager/tutorials/os_profiles/testing_custom_os_resource.rst
Labels: developer guide

.github/labeler.yml:

---
# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# Config for https://github.com/actions/labeler

CI:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"
      - any-glob-to-any-file: "docconf/**"

base docs:
  - changed-files:
      - any-glob-to-any-file: "docs/*"
      - any-glob-to-any-file: "docs/_static/*"

api:
  - changed-files:
      - any-glob-to-any-file: "docs/api/**"

deployment guide:
  - changed-files:
      - any-glob-to-any-file: "docs/deployment_guide/**"
      - any-glob-to-any-file: "docs/shared/**"

developer guide:
  - changed-files:
      - any-glob-to-any-file: "docs/developer_guide/**"

release notes:
  - changed-files:
      - any-glob-to-any-file: "docs/release_notes/**"

requirements:
  - changed-files:
      - any-glob-to-any-file: "docs/system_requirements/**"

user guide:
  - changed-files:
      - any-glob-to-any-file: "docs/user_guide/**"
