Repository open-edge-platform/edge-manage-docs, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, root, base docs, api, deployment guide, developer guide, release notes, requirements, user guide

.github/labeler.yml:

---
# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# Config for https://github.com/actions/labeler

CI:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"
      - any-glob-to-any-file: "docconf/**"

base docs:
  - changed-files:
      - any-glob-to-any-file: "docs/*"
      - any-glob-to-any-file: "docs/_static/*"

api:
  - changed-files:
      - any-glob-to-any-file: "docs/api/**"

deployment guide:
  - changed-files:
      - any-glob-to-any-file: "docs/deployment_guide/**"
      - any-glob-to-any-file: "docs/shared/**"

developer guide:
  - changed-files:
      - any-glob-to-any-file: "docs/developer_guide/**"

release notes:
  - changed-files:
      - any-glob-to-any-file: "docs/release_notes/**"

requirements:
  - changed-files:
      - any-glob-to-any-file: "docs/system_requirements/**"

user guide:
  - changed-files:
      - any-glob-to-any-file: "docs/user_guide/**"

update DP flow (#128)
  docs/user_guide/package_software/add_deploy_pack.rst
  docs/user_guide/package_software/deploy_packages.rst
  docs/user_guide/package_software/extension_package.rst
  docs/user_guide/package_software/extensions/sriov_package.rst
  docs/user_guide/package_software/images/create_deploy.png
  docs/user_guide/package_software/images/delete_deploymentpack.png
  docs/user_guide/package_software/images/deployment_pack_extensions.png
  docs/user_guide/package_software/images/deployment_pack_home.png
Labels: user guide

update rel notes
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

Add install flow charts
  docs/deployment_guide/cloud_deployment/cloud_get_started/cloud_orchestrator_install.rst
  docs/deployment_guide/cloud_deployment/cloud_get_started/cloud_start_installer.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

add dmt specfic api
  docs/release_notes/3.1/rel_notes_3.1.rst
  docs/user_guide/troubleshooting/vpro_mgt.rst
Labels: release notes, user guide

add dmt specfic api
  docs/user_guide/troubleshooting/index.rst
Labels: user guide

post merge doc publish fix
  docs/user_guide/troubleshooting/trusted_compute_issues.rst
Labels: user guide

post merge doc publish fix (#131)
  docs/user_guide/troubleshooting/trusted_compute_issues.rst
Labels: user guide

IBVS ESC doc link update
  docs/user_guide/intel_solutions/index.rst
Labels: user guide

IBVS ESC doc link update (#132)
  docs/user_guide/intel_solutions/index.rst
Labels: user guide

Update release notes and troubleshooting guide.
  docs/release_notes/3.1/rel_notes_3.1.rst
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
  docs/user_guide/troubleshooting/amt_issues.rst
Labels: release notes, user guide

Fix rst syntax with correct intendation
  docs/user_guide/troubleshooting/amt_issues.rst
Labels: user guide

Add power status command in user guide
  docs/release_notes/3.1/rel_notes_3.1.rst
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
  docs/user_guide/troubleshooting/amt_issues.rst
  docs/user_guide/troubleshooting/index.rst
Labels: release notes, user guide

Add device command in user guide
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
Labels: user guide

Update CODEOWNERS
  .github/CODEOWNERS
Labels: CI

Update CODEOWNERS (#134)
  .github/CODEOWNERS
Labels: CI

docs/user_guide/troubleshooting/amt_issues.rst (#133)
  docs/release_notes/3.1/rel_notes_3.1.rst
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
  docs/user_guide/troubleshooting/amt_issues.rst
  docs/user_guide/troubleshooting/index.rst
Labels: release notes, user guide

fix: pre merge CI issue
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

fix lint issues
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
  docs/release_notes/3.1/rel_notes_3.1.rst
  docs/system_requirements/index.rst
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
  docs/user_guide/troubleshooting/trusted_compute_issues.rst
Labels: deployment guide, release notes, requirements, user guide

fix: pre merge CI issue (#135)
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
  docs/release_notes/3.1/rel_notes_3.1.rst
  docs/system_requirements/index.rst
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
  docs/user_guide/troubleshooting/trusted_compute_issues.rst
Labels: deployment guide, release notes, requirements, user guide

Adding known issue for the PMA unhealthy state
  docs/release_notes/3.1/rel_notes_3.1.rst
Labels: release notes

Update to release 3.1.0
  VERSION
Labels: root

Initial commit for 25.2.0 (3.2)
  VERSION
Labels: root

Fix VERSION
  VERSION
Labels: root

Update to release 3.1.0 (#137)
  VERSION
Labels: root

Initial commit for 2025.2.0 (3.2) (#138)
  VERSION
Labels: root

Remove TODOs from the release_notes
  docs/release_notes/3.1/containers_helm_charts_3.1.rst
Labels: release notes

Update third_party_components_3.1.rst
  docs/release_notes/3.1/third_party_components_3.1.rst
Labels: release notes

Update VERSION
  VERSION
Labels: root

Update kpi_3.1.rst
  docs/release_notes/3.1/kpi_3.1.rst
Labels: release notes

Remove TODOs from the release_notes (#139)
  VERSION
  docs/release_notes/3.1/containers_helm_charts_3.1.rst
  docs/release_notes/3.1/kpi_3.1.rst
  docs/release_notes/3.1/third_party_components_3.1.rst
Labels: root, release notes

update release notes for UI
  docs/release_notes/3.1/containers_helm_charts_3.1.rst
  docs/release_notes/3.1/third_party_components_3.1.rst
Labels: release notes

update release notes for ui
  docs/release_notes/3.1/containers_helm_charts_3.1.rst
  docs/release_notes/3.1/third_party_components_3.1.rst
Labels: release notes

Update troubleshooting guide
  docs/developer_guide/troubleshooting/istio_proxy.rst
Labels: developer guide

Update the troubleshooting docs
  docs/developer_guide/troubleshooting/index.rst
Labels: developer guide

update release notes for UI (#140)
  docs/release_notes/3.1/containers_helm_charts_3.1.rst
  docs/release_notes/3.1/third_party_components_3.1.rst
Labels: release notes

update release notes for ui (#141)
  docs/release_notes/3.1/containers_helm_charts_3.1.rst
  docs/release_notes/3.1/third_party_components_3.1.rst
Labels: release notes

Update containers_helm_charts_3.1.rst for pxe-server
  docs/release_notes/3.1/containers_helm_charts_3.1.rst
Labels: release notes

Update containers_helm_charts_3.1.rst for pxe-server
  docs/release_notes/3.1/containers_helm_charts_3.1.rst
Labels: release notes

Update containers_helm_charts_3.1.rst for pxe-server (#144)
  docs/release_notes/3.1/containers_helm_charts_3.1.rst
Labels: release notes

Update containers_helm_charts_3.1.rst for pxe-server (#143)
  docs/release_notes/3.1/containers_helm_charts_3.1.rst
Labels: release notes
