Repository open-edge-platform/edge-manage-docs, pull requests merged in 2025-05, with the labels that each got.

#14 Update workflows with correct permissions and secrets.
  .github/workflows/labeler.yml
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge.yml
  .github/workflows/publish-docs.yml
Labels: CI

#12 Document changes proposed based on ssh feature access UX
  docs/user_guide/additional_howtos/configure_ssh_public_keys.rst
Labels: user guide

#15 Add note about the deploy_tag in the onprem documentation
  docs/developer_guide/set_up_dev_env/index.rst
Labels: developer guide

#13 edits to agents and app orch
  docs/developer_guide/agents/arch/cluster.rst
  docs/developer_guide/agents/arch/edge_node.rst
  docs/developer_guide/agents/arch/hardware_discovery.rst
  docs/developer_guide/agents/arch/hl_architecture.rst
  docs/developer_guide/agents/arch/index.rst
  docs/developer_guide/agents/arch/platform_observability.rst
  docs/developer_guide/agents/arch/platform_telemetry.rst
  docs/developer_guide/agents/arch/platform_update.rst
  docs/developer_guide/agents/index.rst
  docs/developer_guide/agents/tutorials/developing/developing.rst
  docs/developer_guide/agents/tutorials/developing/index.rst
  docs/developer_guide/agents/tutorials/index.rst
  docs/developer_guide/app_orch/arch/data_flow.rst
  docs/developer_guide/app_orch/arch/data_model.rst
  docs/developer_guide/app_orch/arch/deployment.rst
  docs/developer_guide/app_orch/arch/extensibility.rst
  docs/developer_guide/app_orch/arch/index.rst
  docs/developer_guide/app_orch/arch/key_components.rst
  docs/developer_guide/app_orch/arch/security.rst
  docs/developer_guide/app_orch/arch/technology_stack.rst
  docs/developer_guide/app_orch/index.rst
  docs/developer_guide/app_orch/tutorials/accessing-applications/index.rst
  docs/developer_guide/app_orch/tutorials/deploying-applications/deploying.rst
  docs/developer_guide/app_orch/tutorials/deploying-applications/edit-image-location.rst
  docs/developer_guide/app_orch/tutorials/deploying-applications/import-dp.rst
  docs/developer_guide/app_orch/tutorials/deploying-applications/index.rst
  docs/developer_guide/app_orch/tutorials/deploying-applications/pushing_charts_and_images.rst
  docs/developer_guide/app_orch/tutorials/deployment-helm/deployment-helm-tutorial-server.rst
  docs/developer_guide/app_orch/tutorials/deployment-helm/deployment-helm-tutorial-web-ui.rst
  docs/developer_guide/app_orch/tutorials/deployment-helm/index.rst
  docs/developer_guide/app_orch/tutorials/deployment-helm/routing-api-through-nginx.rst
  docs/developer_guide/app_orch/tutorials/deployment-packages/index.rst
  docs/developer_guide/app_orch/tutorials/developing-applications/developing-tutorial-server.rst
  docs/developer_guide/app_orch/tutorials/developing-applications/developing-tutorial-web-ui.rst
  docs/developer_guide/app_orch/tutorials/developing-applications/index.rst
  docs/developer_guide/app_orch/tutorials/index.rst
  docs/developer_guide/app_orch/tutorials/packaging-applications/index.rst
  docs/developer_guide/app_orch/tutorials/packaging-applications/packaging-tutorial-server.rst
  docs/developer_guide/app_orch/tutorials/packaging-applications/packaging-tutorial-web-ui.rst
  docs/developer_guide/index.rst
Labels: developer guide

#16 Update index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

#18 docs: cleanup removed profile mentions
  docs/deployment_guide/cloud_deployment/cloud_advanced/cloud_cluster_tmplt.rst
  docs/deployment_guide/cloud_deployment/cloud_advanced/cloud_sre.rst
Labels: documentation, deployment guide

#17 Update to latest `orch-ci` commit.
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge.yml
  .github/workflows/publish-docs.yml
Labels: CI

#20 Test version dropdown menu support.
  .github/workflows/publish-docs.yml
Labels: CI

#22 Fix broken documentation link to sriov
  docs/user_guide/package_software/deploy_packages.rst
  docs/user_guide/package_software/extensions/sriov_package.rst
Labels: user guide

#21 Minor updates to docs in the cloud_advanced directory
  docs/deployment_guide/cloud_deployment/cloud_advanced/cloud_alerts.rst
  docs/deployment_guide/cloud_deployment/cloud_advanced/cloud_cluster_tmplt.rst
  docs/deployment_guide/cloud_deployment/cloud_advanced/cloud_manual_bp.rst
  docs/deployment_guide/cloud_deployment/cloud_advanced/cloud_manual_modules.rst
  docs/deployment_guide/cloud_deployment/cloud_advanced/cloud_manual_terraconfig.rst
  docs/deployment_guide/cloud_deployment/cloud_advanced/cloud_pull_through_cache.rst
  docs/deployment_guide/cloud_deployment/cloud_advanced/cloud_resource_settings.rst
  docs/deployment_guide/cloud_deployment/cloud_advanced/cloud_sre.rst
Labels: deployment guide

#23 Update to latest `orch-ci` commit.
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge.yml
  .github/workflows/publish-docs.yml
Labels: CI

#24 Minor docs review of the cloud_deployment and on_prem_deployment directories
  docs/deployment_guide/cloud_deployment/cloud_advanced/cloud_alerts.rst
  docs/deployment_guide/cloud_deployment/cloud_appendix/cloud_cluster_autoscaling.rst
  docs/deployment_guide/cloud_deployment/cloud_appendix/cloud_cluster_definition.rst
  docs/deployment_guide/cloud_deployment/cloud_get_started/cloud_orchestrator_install.rst
  docs/deployment_guide/cloud_deployment/cloud_get_started/cloud_start_installer.rst
  docs/deployment_guide/cloud_deployment/cloud_get_started/system_requirements_aws_orch.rst
  docs/deployment_guide/cloud_deployment/cloud_how_to/cloud_cc_cred_refresh.rst
  docs/deployment_guide/cloud_deployment/cloud_how_to/cloud_certificates.rst
  docs/deployment_guide/cloud_deployment/cloud_how_to/cloud_scale_orch.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_certs.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/system_requirements_on_prem_orch.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_alerts.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_certificates.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_sre.rst
Labels: deployment guide

#26 Update CODEOWNERS
  .github/CODEOWNERS
Labels: CI

#25 chore: fix zizmor findings
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge.yml
  README.md
Labels: root, CI

#28 docs: Notify about email being required in Keycloak section
  docs/developer_guide/troubleshooting/o11y_access.rst
  docs/shared/shared_gs_iam.rst
Labels: developer guide, deployment guide

#30 Update CODEOWNERS
  .github/CODEOWNERS
Labels: CI

#36 Update troubleshooting page when deploying on-prem
  docs/deployment_guide/on_prem_deployment/on_prem_troubleshooting/index.rst
  docs/developer_guide/set_up_dev_env/index.rst
  docs/shared/shared_on_prem_rs_proxy.rst
Labels: documentation, developer guide, deployment guide

#35 Upgrade v3.0 to 3.1
  docs/developer_guide/infra_manager/tutorials/index.rst
  docs/developer_guide/infra_manager/tutorials/upgrade/images/rollback-example.png
  docs/developer_guide/infra_manager/tutorials/upgrade/images/rollback-tab.png
  docs/developer_guide/infra_manager/tutorials/upgrade/index.rst
  docs/developer_guide/infra_manager/tutorials/upgrade/orch_upgrade.rst
Labels: developer guide
