Repository open-edge-platform/edge-manage-docs, pull requests merged in 2025-08, with the labels that each got.

#82 Docs for GUI-based helm chart import
  docs/user_guide/package_software/images/import_helm_chart_advanced.png
  docs/user_guide/package_software/images/import_helm_chart_dp_list.png
  docs/user_guide/package_software/images/import_helm_chart_dropdown.png
  docs/user_guide/package_software/images/import_helm_chart_oci_url.png
  docs/user_guide/package_software/import_helm_chart.rst
  docs/user_guide/package_software/index.rst
Labels: user guide

#96 Update On-Prem Upgrade Docs to Address Known Issue
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
Labels: deployment guide

#92 Cloud Upgrade guide
  docs/deployment_guide/cloud_deployment/cloud_how_to/cloud_upgrade.rst
  docs/deployment_guide/cloud_deployment/cloud_how_to/index.rst
Labels: deployment guide

#101 Update CODEOWNERS
  .github/CODEOWNERS
Labels: CI

#106 Update OXM deployment profile documentation
  docs/deployment_guide/on_prem_deployment/on_prem_deployment_profiles/on_prem_oxm_profile.rst
Labels: deployment guide

#117 doc: remove references to base extensions
  docs/developer_guide/app_orch/arch/data_flow.rst
  docs/developer_guide/app_orch/arch/data_model.rst
  docs/developer_guide/application_developer_workflow/deployment-helm/index.rst
  docs/developer_guide/observability/arch/edgenode/clusters.rst
  docs/user_guide/advanced_functionality/set_up_a_cluster_template.rst
Labels: user guide, developer guide

#115 orch-cli docs
  docs/user_guide/advanced_functionality/custom_config.rst
  docs/user_guide/advanced_functionality/oxm_pxe_provisioning.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/edge_node_registration.rst
  docs/user_guide/set_up_edge_infra/index.rst
  docs/user_guide/set_up_edge_infra/orch_cli/orch_cli_guide.rst
Labels: user guide

#114 Updated documentation for existing CVE tracking implementation done in EMF 3.1 release
  docs/user_guide/advanced_functionality/images/os_profile_drawer.png
  docs/user_guide/advanced_functionality/images/os_profile_drawer_cves.png
  docs/user_guide/advanced_functionality/images/os_profile_drawer_installed_packages.png
  docs/user_guide/advanced_functionality/view_os_profiles.rst
  docs/user_guide/set_up_edge_infra/edge_node_states/provisioned_host_details.rst
Labels: user guide

#88 Trusted compute for EMF 3.1 Updates
  docs/user_guide/troubleshooting/images/Attestation_status_unknown.png
  docs/user_guide/troubleshooting/images/SHA256_sample_BIOS_Settings.png
  docs/user_guide/troubleshooting/images/tc-vm-debug.png
  docs/user_guide/troubleshooting/images/tc-wl-crd-installation.png
  docs/user_guide/troubleshooting/images/tc-wl-runtime-class-installation.png
  docs/user_guide/troubleshooting/index.rst
  docs/user_guide/troubleshooting/trusted_compute_issues.rst
Labels: user guide

#98 Update docs for the Host Provisioning Flow
  docs/user_guide/set_up_edge_infra/edge_node_onboard/edge_node_registration.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/onboarding_actions/provision_host.rst
  docs/user_guide/set_up_edge_infra/images/host_provision_cluster_template_selection.png
  docs/user_guide/set_up_edge_infra/images/provision_host_advanced_options.png
  docs/user_guide/set_up_edge_infra/images/provision_host_edit_host.png
  docs/user_guide/set_up_edge_infra/images/provision_host_edit_host_drawer.png
  docs/user_guide/set_up_edge_infra/images/provision_host_flow.png
  docs/user_guide/set_up_edge_infra/images/provision_host_os_profile_selection.png
  docs/user_guide/set_up_edge_infra/images/provision_host_review_customize.png
  docs/user_guide/set_up_edge_infra/images/provision_host_site_selection.png
  docs/user_guide/set_up_edge_infra/images/register_host.png
  docs/user_guide/set_up_edge_infra/images/register_host_automatic.png
  docs/user_guide/set_up_edge_infra/images/register_host_automatic_cluster.png
  docs/user_guide/set_up_edge_infra/images/register_host_automatic_provision.png
Labels: user guide, deployment guide

#126 3.1 KPI release notes
  docs/release_notes/3.1/kpi_3.1.rst
Labels: release notes

#123 Add warning about disruptive upgrade for CO
  docs/user_guide/set_up_edge_infra/clusters/create_clusters.rst
Labels: user guide

#110 Updates for 3.1 Release notes
  docs/release_notes/3.1/containers_helm_charts_3.1.rst
  docs/release_notes/3.1/rel_notes_3.1.rst
  docs/release_notes/3.1/third_party_components_3.1.rst
Labels: release notes

#93 Adding vpro power mgt commands
  docs/user_guide/advanced_functionality/images/vpro_enable.png
  docs/user_guide/advanced_functionality/images/vpro_power_mgt_restart.png
  docs/user_guide/advanced_functionality/images/vpro_power_mgt_start.png
  docs/user_guide/advanced_functionality/index.rst
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
Labels: user guide

#132 IBVS ESC doc link update
  docs/user_guide/intel_solutions/index.rst
Labels: user guide

#134 Update CODEOWNERS
  .github/CODEOWNERS
Labels: CI

#133 docs/user_guide/troubleshooting/amt_issues.rst
  docs/release_notes/3.1/rel_notes_3.1.rst
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
  docs/user_guide/troubleshooting/amt_issues.rst
  docs/user_guide/troubleshooting/index.rst
Labels: release notes, user guide

#135 fix: pre merge CI issue
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
  docs/release_notes/3.1/rel_notes_3.1.rst
  docs/system_requirements/index.rst
  docs/user_guide/advanced_functionality/vpro_power_mgt.rst
  docs/user_guide/troubleshooting/trusted_compute_issues.rst
Labels: release notes

#137 Update to release 3.1.0
  VERSION
Labels: root

#138 Initial commit for 2025.2.0 (3.2)
  VERSION
Labels: root

#140 Update release notes for UI (main branch)
  docs/release_notes/3.1/containers_helm_charts_3.1.rst
  docs/release_notes/3.1/third_party_components_3.1.rst
Labels: release notes

#141 Update release notes UI (release-3.1 branch)
  docs/release_notes/3.1/containers_helm_charts_3.1.rst
  docs/release_notes/3.1/third_party_components_3.1.rst
Labels: release notes

#144 Update containers_helm_charts_3.1.rst for pxe-server
  docs/release_notes/3.1/containers_helm_charts_3.1.rst
Labels: release notes
