Repository open-edge-platform/edge-manage-docs, pull requests merged in 2025-07, with the labels that each got.

#69 Update CODEOWNERS file
  .github/CODEOWNERS
Labels: CI

#71 Re-organize on-prem deployment guide and add deployment guide for OXM profile
  docs/deployment_guide/on_prem_deployment/images/on-prem-oxm-profile-topology.png
  docs/deployment_guide/on_prem_deployment/index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_deployment_profiles/index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_deployment_profiles/on_prem_lenovo.rst
  docs/deployment_guide/on_prem_deployment/on_prem_deployment_profiles/on_prem_oxm_profile.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

#76 Post-merge fixes to Edge Node Onboarding docs
  docs/user_guide/set_up_edge_infra/edge_node_onboard/3rd_party_examples/index.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/3rd_party_examples/loca_assisted_boot.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/3rd_party_examples/setup_loca.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/common.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/https_boot/index.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/prerequisites/acquire_emt_repo.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/prerequisites/asus_prerequisites.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/prerequisites/index.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/prerequisites/racadm_on_linux.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/prerequisites/racadm_on_windows.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/usb_boot/index.rst
  docs/user_guide/set_up_edge_infra/edge_node_states/index.rst
  docs/user_guide/set_up_edge_infra/edge_node_states/onboard_host_details.rst
  docs/user_guide/set_up_edge_infra/edge_node_states/provisioned_host_details.rst
Labels: user guide

#75 Add steps to build Kind-based dev environment
  docs/developer_guide/contributor_guide/code_contribution.rst
  docs/developer_guide/set_up_dev_env/code_standards.rst
  docs/developer_guide/set_up_dev_env/dev_env_kind.rst
  docs/developer_guide/set_up_dev_env/dev_env_onprem.rst
  docs/developer_guide/set_up_dev_env/index.rst
Labels: developer guide

#72 Add user guide for EMT-S scale provisioning
  docs/user_guide/advanced_functionality/index.rst
  docs/user_guide/advanced_functionality/oxm_pxe_provisioning.rst
Labels: user guide, deployment guide

#77 Add PXE boot user guide and improve EN boot description
  docs/user_guide/advanced_functionality/images/pxe-with-managed-emf-scenario-1.png
  docs/user_guide/advanced_functionality/index.rst
  docs/user_guide/advanced_functionality/oxm_pxe_provisioning.rst
  docs/user_guide/advanced_functionality/pxe_provisioning_with_cloud_emf.rst
  docs/user_guide/set_up_edge_infra/delete_host.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/https_boot/index.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/index.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/pxe_boot/index.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard/usb_boot/index.rst
  docs/user_guide/set_up_edge_infra/index.rst
  docs/user_guide/set_up_edge_infra/reprovision_host.rst
Labels: user guide

#80 Onprem storage backup
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_storage_backup.rst
Labels: deployment guide

#89 Fix tar instruction
  docs/user_guide/advanced_functionality/oxm_pxe_provisioning.rst
Labels: user guide

#79 Custom-config feature usage document
  docs/user_guide/advanced_functionality/custom_config.rst
  docs/user_guide/advanced_functionality/index.rst
Labels: user guide

#91 Onprem upgrade
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_upgrade.rst
Labels: deployment guide
