Repository open-edge-platform/edge-manage-docs, pull requests merged in 2025-06, with the labels that each got.

#39 Add note in the installer to refer to weekly release
  docs/deployment_guide/cloud_deployment/cloud_get_started/cloud_start_installer.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

#40 chore: add secret for teams notification
  .github/dependabot.yml
  .github/workflows/post-merge.yml
Labels: CI

#43 chore: remove renamed flag
  .github/workflows/post-merge.yml
Labels: CI

#46 add edit deployment page
  docs/user_guide/package_software/deployment_edit.rst
  docs/user_guide/package_software/deployments.rst
  docs/user_guide/package_software/images/edit_deploy1.png
  docs/user_guide/package_software/images/edit_deploy2.png
  docs/user_guide/package_software/images/upgrade_deploy1.png
Labels: user guide, deployment guide

#45 add pod creation troubleshooting
  docs/deployment_guide/on_prem_deployment/on_prem_troubleshooting/index.rst
  docs/shared/shared_on_prem_rke2_deployment.rst
Labels: deployment guide

#49 Removing direct links to docs.openedgeplatform
  docs/developer_guide/infra_manager/arch/day2_flow.rst
  docs/developer_guide/infra_manager/arch/extensibility.rst
  docs/shared/shared_os_profile.rst
Labels: developer guide, deployment guide

#51 [Documentation] Updated Makefile to include sphinx-spelling linting
  Makefile
  dict.txt
  docs/deployment_guide/cloud_deployment/cloud_advanced/cloud_alerts.rst
  docs/developer_guide/app_orch/arch/performance.rst
  docs/developer_guide/application_developer_workflow/deployment-packages/application-yaml-reference.rst
  docs/developer_guide/application_developer_workflow/deployment-packages/registry-yaml-reference.rst
  docs/developer_guide/contributor_guide/code_contribution.rst
  docs/developer_guide/contributor_guide/make_workflow.rst
  docs/developer_guide/contributor_guide/versioning.rst
  docs/developer_guide/troubleshooting/capture_logs.rst
  docs/user_guide/additional_howtos/alerts_config.rst
  docs/user_guide/additional_howtos/set_up_a_cluster_template.rst
  docs/user_guide/package_software/extensions/kubernetes_dashboard.rst
  docs/user_guide/package_software/extensions/sriov_package.rst
  docs/user_guide/set_up_edge_infra/delete_host.rst
  docs/user_guide/set_up_edge_infra/edge_node_onboard_asus_system.rst
  docs/user_guide/set_up_edge_infra/edge_node_registration.rst
  docs/user_guide/troubleshooting/deploy_issue.rst
Labels: root, user guide, developer guide, deployment guide

#53 Aligning minimum requirements for dev and on-prem
  docs/developer_guide/set_up_dev_env/index.rst
Labels: release notes, developer guide

#56 Rework of how to section
  dict.txt
  docs/user_guide/additional_howtos/automated_deployment.rst
  docs/user_guide/additional_howtos/images/metadata_rule.png
  docs/user_guide/additional_howtos/index.rst
  docs/user_guide/additional_howtos/set_up_a_cluster_template.rst
  docs/user_guide/additional_howtos/view_cluster_template.rst
  docs/user_guide/how_it_works/index.rst
  docs/user_guide/package_software/index.rst
  docs/user_guide/package_software/setup_deploy.rst
  docs/user_guide/set_up_edge_infra/create_clusters.rst
  docs/user_guide/set_up_edge_infra/index.rst
  docs/user_guide/troubleshooting/en_recover.rst
Labels: root, user guide

#60 Minor typo fix to allow for spellcheck to pass
  docs/developer_guide/infra_manager/tutorials/upgrade/orch_upgrade.rst
Labels: developer guide

#50 Fix Developer Environment tool setup
  docs/developer_guide/set_up_dev_env/index.rst
Labels: bug, developer guide
