Repository open-edge-platform/edge-manage-docs, pull requests merged in 2025-04, with the labels that each got.

#2 Create 3.0.0 version tag
  VERSION
Labels: root

#3 chore: bump to 3.0.1-dev
  VERSION
Labels: root

#7 updated links
  docs/user_guide/how_it_works/index.rst
Labels: user guide

#6 Security updates to the publish-docs workflow
  .github/workflows/publish-docs.yml
Labels: CI

#8 Update onprem documentation
  docs/developer_guide/set_up_dev_env/index.rst
Labels: developer guide

#9 Fixing dev references for v3.0.0
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
  docs/release_notes/containers_helm_charts_3.0.rst
Labels: release notes, deployment guide

#10 Add instruction to fix missing iam policy
  docs/shared/shared_ts_cloud.rst
Labels: deployment guide

#11 Fix broken links
  docs/user_guide/set_up_edge_infra/location/site_details.rst
  docs/user_guide/set_up_edge_infra/location/view_region_detail.rst
  docs/user_guide/set_up_edge_infra/onboard_dell/racadm_on_linux.rst
  docs/user_guide/set_up_edge_infra/onboard_host_details.rst
  docs/user_guide/set_up_edge_infra/onboarded_hosts.rst
  docs/user_guide/set_up_edge_infra/provision_host.rst
  docs/user_guide/troubleshooting/operate_issues.rst
Labels: user guide
