Repository open-edge-platform/edge-manage-docs, pull requests merged in 2025-09, with the labels that each got.

#152 Update cloud installer version (#149)
  docs/deployment_guide/cloud_deployment/cloud_get_started/cloud_start_installer.rst
Labels: deployment guide

#150 Added device-manager-node host entry in onprem document for Release 3.1
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

#148 Added device-manager-node host entry in onprem document
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

#157 Update onprem doc
  docs/deployment_guide/cloud_deployment/cloud_get_started/cloud_start_installer.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

#156 Update onprem doc
  docs/deployment_guide/cloud_deployment/cloud_get_started/cloud_start_installer.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

#154 Clarify SSH key lifecycle management in docs
  docs/user_guide/advanced_functionality/configure_ssh_public_keys.rst
Labels: user guide

#161 Cherry-pick typo changes in the Update release 3.1 branch
  dict.txt
  docconf/docconf/docconf.py
  docs/api/openapi/amc-cluster-manager-openapi.yaml
  docs/api/openapi/amc-infra-core-edge-infrastructure-manager-openapi-all.yaml
  docs/api/openapi/amc-orch-metadata-broker-openapi.yaml
  docs/deployment_guide/cloud_deployment/cloud_get_started/cloud_orchestrator_install.rst
  docs/deployment_guide/cloud_deployment/cloud_get_started/index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_storage_backup.rst
  docs/developer_guide/set_up_dev_env/dev_env_kind.rst
  docs/developer_guide/set_up_dev_env/index.rst
  docs/release_notes/3.0/rel_notes_3.0.rst
  docs/release_notes/3.1/rel_notes_3.1.rst
  docs/user_guide/package_software/import_helm_chart.rst
Labels: release notes, root, user guide, developer guide, deployment guide, api

#160 Fix typos in documentation
  dict.txt
  docconf/docconf/docconf.py
  docs/api/openapi/amc-cluster-manager-openapi.yaml
  docs/api/openapi/amc-infra-core-edge-infrastructure-manager-openapi-all.yaml
  docs/api/openapi/amc-orch-metadata-broker-openapi.yaml
  docs/deployment_guide/cloud_deployment/cloud_get_started/cloud_orchestrator_install.rst
  docs/deployment_guide/cloud_deployment/cloud_get_started/index.rst
  docs/deployment_guide/on_prem_deployment/on_prem_how_to/on_prem_storage_backup.rst
  docs/developer_guide/set_up_dev_env/dev_env_kind.rst
  docs/developer_guide/set_up_dev_env/index.rst
  docs/release_notes/3.0/rel_notes_3.0.rst
  docs/release_notes/3.1/rel_notes_3.1.rst
  docs/user_guide/package_software/import_helm_chart.rst
Labels: release notes, root, user guide, developer guide, deployment guide, api

#162 removed /etc/hosts fqdn entry for onprem
  docs/deployment_guide/on_prem_deployment/on_prem_deployment_profiles/on_prem_oxm_profile.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/on_prem_install.rst
Labels: deployment guide

#166 AO-CLI documentation guide
  docs/user_guide/package_software/applications.rst
  docs/user_guide/package_software/deploy_packages.rst
  docs/user_guide/package_software/deployments.rst
  docs/user_guide/package_software/index.rst
  docs/user_guide/package_software/orch_cli/orch_cli_guide.rst
  docs/user_guide/package_software/registry.rst
Labels: user guide

#170 Update EIM architecture diagram
  docs/developer_guide/infra_manager/arch/images/eim_arch.png
Labels: developer guide

#169 custom-config documentation update
  docs/user_guide/advanced_functionality/custom_config.rst
Labels: user guide

#167 Update day-2 scheduling for min time
  docs/user_guide/advanced_functionality/host_schedule_main.rst
Labels: user guide

#180 [DOCS] change main to dev
  .github/workflows/publish-docs.yml
Labels: CI

#171 [cloud-env]argo installer guide
  docs/deployment_guide/cloud_deployment/cloud_how_to/cloud_argocd.rst
  docs/deployment_guide/cloud_deployment/cloud_how_to/index.rst
Labels: deployment guide

#186 Update system_requirements_on_prem_orch.rst
  docs/deployment_guide/on_prem_deployment/on_prem_get_started/system_requirements_on_prem_orch.rst
Labels: deployment guide
